[2016-04-14 22:25] jonpmarino commented on #1441
closing. looks fixed.

[2016-04-15 01:26] davisc commented on #1460
The icons-commons app was already installed so I loaded all of the icons from the repo provided by @reynalddizon which includes 86 collections.

<img width="1308" alt="screen shot 2016-04-14 at 8 25 09 pm" src="https://cloud.githubusercontent.com/assets/947403/14548703/17737b72-027f-11e6-871b-4c66fd5a4850.png">

<img width="1268" alt="screen shot 2016-04-14 at 8 24 51 pm" src="https://cloud.github

[2016-04-15 06:39] simod commented on #1430
this works for me on demo but not on beta. and it works in dev mode

[2016-04-15 13:40] JWileczek commented on #1412
This should be complete. The map will zoom to the storyLayer with the largest extent if one is available, or world zoom if none is available on chapter switch.

[2016-04-15 14:47] jonpmarino commented on #1412
Just confirmed on demo. Looks great!

[2016-04-15 16:21] jonpmarino commented on #1460
shown on beta. awesome @davisc and all!

[2016-04-15 17:34] Coop56 commented on #1447
This issue is done and can be closed now.  @jonpmarino @reynalddizon

[2016-04-15 17:35] Coop56 commented on #1448
This issue is done and can be closed now.  @jonpmarino @reynalddizon

[2016-04-15 17:45] jonpmarino commented on #1462
Confirming new account today threw this error on demo
![graberrorconfirm](https://cloud.githubusercontent.com/assets/2573761/14570055/45814df0-0310-11e6-9c2a-71606bfe6e29.jpg)

[2016-04-15 17:50] garnertb commented on #1462
@davisc: given the impact of this we should include it in the test coverage to prevent regressions.

[2016-04-15 18:00] jonpmarino commented on #1462
new account in beta didn't appear to throw an error on confirming account - http://beta.mapstory.org/storyteller/guestuser/

[2016-04-15 18:17] jonpmarino commented on #1404
Confirmed on demo and beta. closing. looks great! thanks @simod

[2016-04-15 18:33] jonpmarino commented on #1458
confirmed fixed on beta and demo.

[2016-04-15 18:33] #1458 closed

[2016-04-15 18:58] jonpmarino commented on #1440
No longer experiencing this bug on beta. Confirmed with @travislbrundage

[2016-04-15 19:03] jonpmarino commented on #1361
fixed by @simod. confirmed storyteller search performance improvements on beta.

[2016-04-15 19:15] davisc commented on #1365
@reynalddizon or @jonpmarino what is meant by 'more human readable'?

[2016-04-15 19:18] reynalddizon commented on #1365
timestamps like 2015-01-01'T'12:12:12 should be more like 01/01/2015 12:12:12 or Jan 01, 2015 12:12:12

[2016-04-15 19:27] jonpmarino commented on #1365
thanks rey. and, ideally time is always visible rather than scroll over on timeline. If possible, we could move it to the right, so it doesn't cover up the chapter info

[2016-04-15 20:11] jonpmarino opened #1469 "Redirect "edit" button on storylayer card to edit-only composer view"
Edit button on storylayer card should direct to edit-only composer view. Same path that is linked tom from the Edit link on StoryLayer detail.
![redirectedit](https://cloud.githubusercontent.com/assets/2573761/14573711/a4d8870a-0324-11e6-8d89-1ed1460463a4.jpg)

[2016-04-15 22:32] jonpmarino commented on #1430
I tested password change on beta at 6:30pm and it worked. closing unless someone else reports.

[2016-04-15 22:46] jonpmarino commented on #1340
Closing this. the remainder of masing is addressed by #1447

[2016-04-15 22:48] jonpmarino commented on #1463
confirmed on beta. done.

[2016-04-16 00:10] ChristopherTucker commented on #1470
The cartodb workflow has he popup ask "which layer did you want info on?" With a list or something.

Chris
703-981-9373

[2016-04-16 00:35] davisc commented on #1470
That's supported in composer when there is a cluster of adjacent points. I can send a screenshot to make sure it's the desired behavior.

Sent from my iPhone

[2016-04-16 13:30] davisc commented on #1453
@jonpmarino this appears to be fixed based on @JWileczek latest commit. Can you confirm on beta.mapstory.org?

[2016-04-16 15:02] jonpmarino commented on #1453
Hi guys. Just tested with account "jonbeta". Don't get the red permissions error anymore! But do receive this error when adding layers, saving chapters, saving as draft and publishing:

![graberrorsaturday](https://cloud.githubusercontent.com/assets/2573761/14581754/b04987f8-03c2-11e6-8f45-1f0a58263842.jpg)

[2016-04-16 18:13] davisc commented on #1453
That's fixed also. Just needs to be pushed.

Sent from my iPhone

[2016-04-16 20:31] jonpmarino commented on #1453
outstanding.

[2016-04-18 14:05] davisc commented on #1297
As a newly registered user account, I am not able to edit layers within the map viewer. Comparing the permissions within django guardian to the results of the authorize_url db function for the auth plugin, reveals a potential bug.

Below is the list of layers the user account  `demo` has `read/write` access to.

<img width="948" alt="screen shot 2016-04-18 at 8 47 30 am" src="https://cloud.githubu

[2016-04-18 14:51] ingenieroariel commented on #1297
I think it is a good idea. That permission is only applied to layers and you would be changing authorized_layers.

I think the confusion started because there is `edit_perm` (only for layers) and `change_perm` (for all resourcebases).

-a

[2016-04-18 14:55] JWileczek commented on #1418
This should be done if someone could confirm and close.

[2016-04-18 15:02] reynalddizon commented on #1418
this one's working fine. closing this.

[2016-04-18 15:25] reynalddizon commented on #1406
The Open Sans font finally decided to show up in the composer.

[2016-04-18 15:35] Coop56 commented on #1452
Just pushed a commit - https://github.com/MapStory/mapstory-geonode/commit/10508553ba1de4267bb99b90bfa891fd65b837d3 that closes this issue.  @jonpmarino

[2016-04-18 16:46] jonpmarino commented on #1452
thanks @Coop56

[2016-04-18 16:46] #1452 closed

[2016-04-18 16:46] jonpmarino commented on #1406
nice of you to join us, Open Sans.

[2016-04-18 17:30] jonpmarino commented on #1241
I am closing this issue. The one remaining item is addressed in #1464

[2016-04-18 17:30] #1241 closed

[2016-04-18 17:31] jonpmarino commented on #1453
Confirmed no longer receiving this error on non-admin accounts. Closing for now. Can re-open if it appears again.

[2016-04-18 17:40] jonpmarino commented on #1462
confirm fixed on new accounts as of monday. still have #1430 and #1461 with respect to new accounts.

[2016-04-18 17:42] jonpmarino commented on #1222
Rey has a .jpeg to use for this when we can implement

[2016-04-18 17:46] jonpmarino commented on #1358
confirmed and closing.

[2016-04-18 18:12] reynalddizon commented on #1374
[help text.pptx](https://github.com/MapStory/mapstory/files/224397/help.text.pptx)

@jonpmarino @Coop56 here's the mockup for the help texts/links and tooltips for the composer. Jon, take a look and edit the text in the popups so Jeremiah can implement this when it's ready.

[2016-04-18 18:14] reynalddizon commented on #1374
<img width="779" alt="screen shot 2016-04-18 at 2 13 06 pm" src="https://cloud.githubusercontent.com/assets/4611843/14614557/b5f4f7e2-056f-11e6-9845-6fd7ecfaf9ce.png">

for some reason the question mark icon didn't appear correctly. it's fa-question-circle

[2016-04-18 18:29] Coop56 commented on #1354
We're currently unable to do this, as the initial upload is created by the server itself and not by a specific Author.  In a future version of Geogig, the ability to pass the Author as a username exists.  The geoserver geogig extension most likely won't be updated until the Geogig 1.0 release, which according to JD is most likely a month or so out.  We should be able to do this then.  @jonpmarino

[2016-04-18 19:51] jonpmarino opened #1477 "Need an "exit" button to get out of composer"
Currently there is no safe way for a user to exit composer. Maybe change "Save MapStory" button to just "save" so there is room to add an "Exit" button?

= Summary | Save | Preview | Exit

-clicking exit should spawn a modal to say "Before you exit composer, make sure to save your work. You can return to it later by opening the draft on your profile" (achieving this requires #1315)

If we have thi

[2016-04-18 19:51] jonpmarino commented on #1477
@reynalddizon defer to you on design if the concept makes sense.

[2016-04-19 15:51] reynalddizon commented on #1374
[tooltips_JM.pptx](https://github.com/MapStory/mapstory/files/226257/tooltips_JM.pptx)

@Coop56  Here's the mockup with Jon's edits. Lets discuss the details of this after the standup today

[2016-04-19 16:45] jonpmarino commented on #1477
closing as #1428 deals with it

[2016-04-19 16:45] #1477 closed

[2016-04-19 16:45] cecilia-donnelly commented on #1462
@jonpmarino I signed up for a new account on the live site just now (~10 minutes ago), received a confirmation email, followed the link in the email, clicked "confirm," and got the "Internal Server Error" page.  Maybe the fix hasn't been pushed over to the live site yet?  It was a little disconcerting, so I thought I'd let you know.

(The confirmation worked, btw -- I got the "Welcome to MapStory"

[2016-04-19 17:02] jonpmarino commented on #1462
Thanks Cecilia. We've seen this a few other times as well. The account does create successfully as you mention. We will be taking a look at it in our development cycle next week.

[2016-04-19 17:41] Coop56 commented on #1449
I changed the order of the workflow so that when you click Compose Mapstory it immediately brings up the Summary modal and dismissing the tour modal.  That should let the users know that they should fill out these forms and click save - but as of now they can still leave the summary modal without saving.  When you say force them to save - what would you like me to do?  Some sort of form validation

[2016-04-19 17:45] Coop56 commented on #1462
@jonpmarino Just to add a datapoint to this - I am also getting an Internal Server Error upon clicking confirm.  This was using Firefox on OSX just now on a brand new test account that I just created.

[2016-04-19 18:07] jonpmarino commented on #1449
Could we just remove the X, and also next to "save" add a button for "exit composer" that just takes user back to home?

[2016-04-19 18:37] davisc commented on #1462
@Coop56 from beta or prod?

[2016-04-19 19:46] #1282 closed

[2016-04-19 19:51] Coop56 commented on #1462
@davisc Beta.

[2016-04-19 20:12] Coop56 commented on #1449
I pushed some changes - https://github.com/MapStory/MapLoom/commit/0396461a30d9c26479586635b638a93d69da8c82 - that should close out this ticket.  It changes the workflow a bit so that the user gets sent from the welcome modal into the summary modal if they click composer mapstory.  It also does form validation to ensure that they input a title before they are able to save.  @jonpmarino @reynalddiz

[2016-04-20 00:06] travislbrundage opened #1479 "Fix Broken CI test"
Nothing to do with my pull request. This seems to work for me locally as well, so I'm not sure why this is breaking in Travis CI?

https://travis-ci.org/MapStory/mapstory-geonode/builds/124343319

[2016-04-20 14:54] JWileczek commented on #1472
This should be up and working on demo, if someone could confirm and close. I just used the walmart layer to test this earlier.

[2016-04-20 15:40] jonpmarino commented on #1472
@JWileczek looks like it works great! One thing i noticed. When I create a new feature, it logs it as Anonymous (I am logged in as Jon Demo). But when I revert it shows my name Jon Demo in the history log.
![revert_grab](https://cloud.githubusercontent.com/assets/2573761/14680810/9cbf4ae2-06ec-11e6-950c-7dd32c34b32a.jpg)

[2016-04-20 17:41] JWileczek commented on #1472
@jonpmarino I'm not sure why it wouldn't capture your name on create unless you don't have the first/last name set. I just made sure my account info was set and the account was confirmed.

[2016-04-20 17:56] jonpmarino commented on #1472
@JWileczek all good. I do have the first/last set on that account, but could be something with me. @reynalddizon will test and others. But lets close this issue as revert is clearly working well!

[2016-04-20 18:09] jonpmarino opened #1480 "Revert modal CSS"
now that Revert is working, need some CSS work on the modal. @reynalddizon to decide.

possibilities:

- [ ] move Cancel to buttom left instead of right
- [ ] enlarge arrow button and change tooltip to "Undo this Edit". Move button right instead of left.
- [ ] Make tooltip "Show Storytellers" instead of "Show Authors"
- [ ] Once the revert action is completed, close the modal
- [ ] Keep consistent

[2016-04-20 18:13] jonpmarino commented on #1472
@reynalddizon confirms it works for him. Proper names show up. so will assume its an issue with Jon Demo.

[2016-04-20 18:57] jonpmarino opened #1481 "Make sure "Back to StoryLayers list" option is disabled in edit-only mode"

[2016-04-20 19:54] jonpmarino commented on #1456
switching to @JWileczek who mentioned having a fix on standup.

[2016-04-20 20:48] davisc commented on #1465
this is covered by https://github.com/MapStory/mapstory/issues/1470

[2016-04-21 14:42] Coop56 commented on #1449
@jonpmarino @reynalddizon This can be closed out right?

[2016-04-21 16:37] Coop56 commented on #1483
So rather than the current way - which the user follows along by clicking on the desired button and the tour updates itself - you want them to click buttons on the tour itself and have that automatically simulate a click on the desired MapStory button?

[2016-04-21 16:38] Coop56 commented on #1475
@jonpmarino What would you like this button to do?  Just save the entire MapStory draft?  Or save only the style?

[2016-04-21 17:23] jonpmarino commented on #1483
right now the user gets stuck on Step 7. if we can fix those steps, then its fine as is. if not, we should let users click back/forth on the hopscotch steps. not an immediate priority.

[2016-04-21 17:29] jonpmarino commented on #1475
whatever is easiest. It would look like the 'Save StoryBox' and 'Save StoryPin' buttons we have already. As a user, when I create my style, I want to save that style and feel confident I won't lose it if I navigate to another part of composer.

[2016-04-21 17:29] Coop56 commented on #1481
Just pushed up changes to complete this one - there was one button left that I missed that would allow the user to get back into Composer.  I removed it so we should be good to go now.  @jonpmarino @reynalddizon

[2016-04-21 17:32] jonpmarino commented on #1449
yes. closing now.

[2016-04-21 17:34] Coop56 commented on #1468
This is done and pushed.  You should no longer see the welcome modal in the edit only mode.

[2016-04-21 17:35] Coop56 commented on #1483
It looks like the 'Use' button is missing it's function to update the tour.  I can fix that quickly now.

[2016-04-21 17:55] davisc commented on #1475
@jonpmarino and @Coop56 the concept of _save style_ means something different functionally. Currently in order for the style change to be reflected on the map it must be _saved_ server-side which is different from _saving it to the story config_ . Currently these two actions are preformed implicitly and automatically whenever any style property is modified.

[2016-04-21 18:34] Coop56 commented on #1483
Ok I just fixed this - the tour now progresses as intended.  There's still a bug where step 7 doesn't show up in the exact place I want it but it is readable and it is working.  We can ticket that fix for later if you want @jonpmarino.

[2016-04-21 18:52] #1481 closed

[2016-04-21 19:29] jonpmarino commented on #1264
From @bitner - dependent on work being done to get feature parity on upload styles and metadata.

[2016-04-21 19:41] jonpmarino commented on #1475
Ok. Then it's just a matter of ui-ux so the storyteller has some confidence or awareness that this saving is occurring. Can address in future

[2016-04-21 20:14] Coop56 commented on #1475
For now we could just add a button that calls the Save Draft functionality.  That would allow them to click a save button and see a notification that their MapStory was saved.  Since the style saves every time you make a change anyway - those changes would persist.

[2016-04-21 20:59] jonpmarino commented on #1475
works for me

[2016-04-22 03:18] Coop56 commented on #1475
@jonpmarino Ok I just pushed these changes up - there's now a Save Style button that will call the save draft functionality.  This will save the entire MapStory and alert the user that their save was successful (or not, if there's an error).

[2016-04-22 03:21] jonpmarino commented on #1475
Great!

[2016-04-22 03:24] Coop56 commented on #1469
I have a pull request - https://github.com/MapStory/mapstory-geonode/pull/199 - that will close out this issue.

[2016-04-22 03:35] Coop56 commented on #1464
@jonpmarino So I just did some quick research into this.  This block of code is likely the reason that the edit is not showing up on created layers.

  {% if GEOGIG_ENABLED and resource.link_set.geogig %}
  <hr style="margin:5px">
  <div style="text-align:right">
    <a title="" href="#" target="blank">
      <a href='{% url "map-edit" %}?layer={{resource.service_typename}}&mode=edit'><span style=

[2016-04-22 03:41] jonpmarino commented on #1464
Thanks @Coop56. Makes sense. Just to confirm, our hope is that created layers would be geogig enabled if possible to do so

[2016-04-22 12:24] jonpmarino commented on #1475
confirmed and closing.

[2016-04-22 18:01] travislbrundage commented on #1473
Related and embed need to be fixed, everything else should work

[2016-04-22 18:34] Coop56 commented on #1468
This is confirmed on beta, closing as per @jonpmarino

[2016-04-22 18:35] Coop56 commented on #1469
This is confirmed on beta - closing per @jonpmarino

[2016-04-22 18:35] #1469 closed

[2016-04-23 01:22] davisc commented on #1486
Since boxes are chapter specific and not layer specific this is functioning as designed.

Sent from my iPhone

[2016-04-24 02:55] davisc commented on #1487
Fixed in https://github.com/MapStory/mapstory-geonode/commit/f0c74834d435693290d0a5f6c8355ad2701f5bff

[2016-04-25 13:29] davisc commented on #1488
Looks like the layer bbox is not saved in the config.

[2016-04-25 13:55] jonpmarino opened #1495 "Update text and css for composer welcome modal"
Need to clean up the text and CSS on this. Suggested text below. @reynalddizon defer to you on design...

![fullsizerender 16](https://cloud.githubusercontent.com/assets/2573761/14786204/d21b29b2-0acb-11e6-9b70-f50f079f3533.jpg)

[2016-04-25 14:16] jonpmarino opened #1496 "Show StoryPin on map as soon as pin is added to the map rather than only after "Save""
Currently the storyteller only sees their storypin on the map after it is "saved". Its more intuitive to see it on the map after it as "added" to make sure its been placed in the proper location.

[2016-04-25 14:24] jonpmarino commented on #1437
Testing on Beta at 10:23 EST with http://beta.mapstory.org/mapstory/17191. It appears that clicking title and "play" button on EXPLORE is now pulling up mapstory detail page. Hitting thumbnail does not pull up mapstory detail page. Also, it appears clicking title, thumbnail or play from card on PROFILE does not result in going to mapstory detail page.

[2016-04-25 15:24] jonpmarino opened #1497 "Hitting play causes content (layers, boxes, pins) not to play back"
Steps:

[2016-04-25 16:20] jonpmarino commented on #1456
Confirmed on beta and closing!

[2016-04-25 16:20] #1456 closed

[2016-04-25 16:23] JWileczek commented on #1450
This should be done if someone can confirm and close.

[2016-04-25 16:27] JWileczek commented on #1427
Successfully working on demo.

[2016-04-25 16:27] #1427 closed

[2016-04-25 16:41] JWileczek commented on #1491
This is done and up on demo. Story Boxes now have the same validation requirements as StoryPins, and  both Pins and Boxes now check that the start time is before the end time prior to adding to the timeline.

[2016-04-25 16:42] jonpmarino commented on #1473
Confirmed detail page is back, but embed and related need to be fixed. Also a few remaining points to hook mapstory detail back into search cards - #1437

[2016-04-25 16:46] jonpmarino opened #1498 "Embed link on new mapstory detail page needs to be fixed"
Grabbing the iframe embed of a new mapstory show's up like this on the embed:

![grabembed](https://cloud.githubusercontent.com/assets/2573761/14791382/aa4e645e-0ae3-11e6-8627-e717a29f39e3.jpg)

[2016-04-25 17:52] jonpmarino commented on #1490
closing. redundant to #1470

[2016-04-25 18:07] JWileczek commented on #1501
When did this occur? Was it on beta? I so far cannot reproduce this error.

[2016-04-25 18:43] jonpmarino opened #1502 "Need to add layer notifications on edit-only mode"

[2016-04-25 18:50] jonpmarino commented on #1496
@JWileczek closed this. nice!

[2016-04-25 18:50] #1496 closed

[2016-04-25 19:00] jonpmarino opened #1503 "UI/UX on StoryBoxes"
- [X] don't let user pick overlapping dates for storyboxes
- [X] Show me storybox beginning and end in the storybox summary

[2016-04-25 19:35] jonpmarino commented on #1500
Is this an issue with millisecond reader? will every new upload be read as 1970?

[2016-04-25 20:08] #1250 closed

[2016-04-25 20:13] jonpmarino commented on #543
need to revisit based on new playback.

[2016-04-25 20:14] jonpmarino commented on #1450
seems to have been fixed. closing.

[2016-04-25 20:14] jonpmarino commented on #1428
can be closed. yeah!

[2016-04-26 16:26] jonpmarino commented on #1501
@JWileczek haven't seen it yet again today.  If i do I'll add more detail.

[2016-04-26 16:43] Coop56 commented on #1507
Closing the tour out just removes the tour bubbles and the user can start composing as usual.  This is built in Hopscotch functionality that we would have to modify if we need it to take them back to the welcome modal.

[2016-04-26 17:27] jonpmarino commented on #1507
No worries. Leave the built in functionality. Sounds good.

[2016-04-26 17:51] Coop56 commented on #1222
@reynalddizon Can you post the .jpeg you want used here?

[2016-04-26 17:59] Coop56 commented on #1495
@jonpmarino  I pushed up the new text, @reynalddizon let me know what you want it to look like design wise.

[2016-04-26 18:09] Coop56 commented on #1504
This is fixed and confirmed on demo.

[2016-04-26 18:48] Coop56 commented on #1505
I pushed up the changes on this in this commit - https://github.com/MapStory/mapstory-geonode/commit/b53c7d7ee34ddd69b6410a3fce083d5afa470d34

[2016-04-26 21:26] reynalddizon opened #1517 "Graduated and Choropleth Styles"
Implement the Graduated and Choropleth styles based on the mockup:

- [ ] classify the feature based on a numeric attribute (integer or double)
- [ ] style the features using a color ramp/symbol size range corresponding to the magnitude of the attribute
- a default color ramp and a default classification scheme (natural breaks) must also be provided immediately. right now, you have to manually cho

[2016-04-26 23:14] reynalddizon opened #1518 "StoryLayer and MapStory detail page reskin"
to make it look a bit more like the composer

![mapstory_detail](https://cloud.githubusercontent.com/assets/4611843/14834727/0dc108ac-0bd4-11e6-9b11-2e7e717f3172.png)

![storylayer_detail](https://cloud.githubusercontent.com/assets/4611843/14834728/0dc92e92-0bd4-11e6-9501-e75f830daabd.png)

documentation to follow

[2016-04-27 00:47] jonpmarino commented on #1359
@reynalddizon @milafrerichs what about changing the "By MapStoryteller_Name" to "A MapStory, by MapStoryteller_Name". Right now we don't indicate MapStory branding anywhere on playback. That would be a way to make it clear that the viewer is looking at a MapStory from MapStory.org.

[2016-04-27 01:46] Coop56 commented on #1228
These should be addressed by this PR - https://github.com/MapStory/mapstory-geonode/pull/206/files

[2016-04-27 01:48] Coop56 commented on #1505
@jonpmarino I just confirmed this on both demo and beta - feel free to close if you see the same.

[2016-04-27 01:49] Coop56 commented on #1502
@jonpmarino What notifications do we want here?  Just "Layer Loading..." and "layerName Loaded"?

[2016-04-27 03:04] jonpmarino opened #1519 "Remove save as draft/publish and MapStory Properties buttons on sidebar header for edit-only mode"

[2016-04-27 03:08] jonpmarino commented on #1505
Confirmed and closing

[2016-04-27 03:44] Coop56 commented on #1520
The metadata button isn't working either.

[2016-04-27 03:46] Coop56 commented on #1520
Both are fixed with this commit - https://github.com/MapStory/MapLoom/commit/11e31bb1199d94456b793f536ee3574c985a03c7 - should be able to confirm on demo in 5-10 minutes @jonpmarino

[2016-04-27 03:46] jonpmarino commented on #1520
rgr.

[2016-04-27 03:57] Coop56 commented on #1519
This commit removes these from the edit only mode - https://github.com/MapStory/MapLoom/commit/b722c157165b901e44fbdf6799a1f8bd7256e31c - you can test it in a few minutes on demo and close @jonpmarino.

[2016-04-27 03:57] jonpmarino commented on #1519
rgr

[2016-04-27 04:18] Coop56 commented on #1482
PR sent to fix this - https://github.com/MapStory/mapstory-geonode/pull/207 @jonpmarino @davisc

[2016-04-27 04:20] jonpmarino commented on #1500
closing. duplicate of #1508

[2016-04-27 04:27] jonpmarino opened #1521 "increase height of Chapter Info summary box"
Right how its about 2 lines. Expanded to a height that fills up the sidebar (maybe 20-25 lines?)

[2016-04-27 04:28] jonpmarino opened #1522 "Add wysiwyg editor to chapter info box"
enables storytellers to easily make content in their chapter info summary bold, italic, hyperlink, etc.

[2016-04-27 04:33] Coop56 commented on #1521
Fixed with this commit - https://github.com/MapStory/MapLoom/commit/6942bb847fa4899ad7f87f041f76ba384df412cc - we can confirm tomorrow when the automated build server gets rebooted @jonpmarino

[2016-04-27 05:10] Coop56 commented on #1345
I've solved this issue with this PR - https://github.com/MapStory/mapstory-geonode/pull/208

[2016-04-27 16:24] Coop56 commented on #1521
@jonpmarino You can now confirm this on demo and close.

[2016-04-27 16:25] Coop56 commented on #1520
@jonpmarino You can now confirm this on demo and close.

[2016-04-27 16:25] Coop56 commented on #1519
@jonpmarino You can now confirm this on demo and close.

[2016-04-27 16:27] Coop56 commented on #1502
@reynalddizon @jonpmarino I added this to demo - feel free to try a few layers.  Most of the ones I try load instantly.  If you know of one that takes time to load, you should see a Layer Loading... notification while it loads.  Layer Loaded notifications are definitely working.

[2016-04-27 16:33] jonpmarino commented on #1222
![error_720](https://cloud.githubusercontent.com/assets/2573761/14859917/41865944-0c74-11e6-8208-0073f9300c07.jpg)

[2016-04-27 16:39] jonpmarino commented on #1519
confirmed, although it looks like now the hamburger menu collapse button is inactive and the editing tool buttons below got misalinged. Could be my screen/browser.

![grab_spacing](https://cloud.githubusercontent.com/assets/2573761/14860073/01b7e598-0c75-11e6-9aba-e8f270cb4bfa.jpg)

[2016-04-27 16:40] jonpmarino commented on #1521
confirmed and closing.

[2016-04-27 16:40] #1521 closed

[2016-04-27 16:41] jonpmarino commented on #1520
confirmed and closing.

[2016-04-27 16:42] Coop56 commented on #1519
Confirmed on mine as well, looks like some CSS issues now that a few of the buttons are using a tags.  I'll open up a new ticket to fix.

[2016-04-27 16:43] jonpmarino commented on #1502
confirmed and closing for now. Can re-open new issue if we notice new things.

[2016-04-27 16:43] #1502 closed

[2016-04-27 18:48] Coop56 commented on #1345
@jonpmarino This is now fixed and on demo.  Please confirm and close when you have a moment, or let me know if you have any questions.

[2016-04-27 18:48] Coop56 commented on #1482
@jonpmarino This is now fixed and on demo.  Please confirm and close when you have a moment, or let me know if you have any questions.

[2016-04-27 20:47] travislbrundage commented on #1444
Requires an update from geonode, but fixed on the mapstory-geonode side

[2016-04-27 22:39] jonpmarino commented on #1345
Looks good! Closing...

[2016-04-27 22:44] jonpmarino commented on #1345
Only thing I notice is that the Upload StoryLayers link on homepage is now disabled if a user is logged.

[2016-04-27 22:45] jonpmarino commented on #1482
confirmed on demo. closing.

[2016-04-27 22:46] Coop56 commented on #1345
@jonpmarino That's fixed in this PR - https://github.com/MapStory/mapstory-geonode/pull/210

[2016-04-28 00:05] Coop56 commented on #1374
@davisc Check out the powerpoint above this comment, slide 10, how would I add those tooltips?  All of that code is generated outside of Composer, in StoryTools I believe?

[2016-04-28 00:12] Coop56 commented on #1374
@jonpmarino @reynalddizon On some of these slides you have words on the bottom of the sidebar - I need to know where each of these are supposed to link to.

[2016-04-28 00:15] Coop56 commented on #1374
@jonpmarino @reynalddizon We also need tooltips written for the new icons at the top of every section of the Composer sidebar.

[2016-04-28 00:28] Coop56 commented on #1464
@davisc I remember we brought this one up in the meeting and that it wasn't a quick fix - what do we need to do here?

[2016-04-28 01:22] rob-metalinkage opened #211 "Propagating upload errors"
Failure in the importer causes a problem - the underlying problem is masked:
https://github.com/ProminentEdge/django-osgeo-importer/issues/4

Adding it hear even if its a uploader concern because it impacts, and I suspect there should be tests in the mapstory layer to make sure things work.

Not sure what happens if a problem fails in mapstory-specific tasks - (i cant get importer to succeed the m

[2016-04-28 01:24] rob-metalinkage opened #212 "Provide valid uploadable data as a test fixture"
amongst challenges of trying to set up mapstory is that there are no data sets easily accessible _and documented in setup instructions_ to test the install end to end.
These should be able to double as test fixtures for uploading (and extended functions).

[2016-04-28 14:10] jonpmarino commented on #1374
@Coop56 @davisc we can leave off the tooltips for now that can't be implemented easily. not a top priority.

@Coop56 here's links for the bottom ones:

StoryBoxes Help - http://wiki.mapstory.org/wiki/MapStory_Composer#Configuring_StoryBoxes
StoryLayers - http://wiki.mapstory.org/wiki/MapStory_Composer#Adding_StoryLayers
StoryPins Help - http://wiki.mapstory.org/wiki/MapStory_Composer#Adding_StoryP

[2016-04-28 14:19] reynalddizon commented on #1374
(1) fa-save - Save Draft
(2) fa-publish - Publish MapStory
(3) fa-tags - MapStory Properties
(4) fa-play - Preview MapStory

[2016-04-28 15:09] #1495 closed

[2016-04-28 15:49] Coop56 commented on #1374
Tooltips have been pushed - just need to finish up the extra help links now @jonpmarino

[2016-04-28 16:17] jonpmarino commented on #1345
Confirmed and closing.

[2016-04-28 16:27] Coop56 commented on #1374
Help text has been pushed up now as well.  You should be able to confirm and close this one out @jonpmarino.

[2016-04-28 20:36] Coop56 commented on #1519
This is done, there is another ticket to fix a CSS issue with the collapsible button.

[2016-04-28 20:36] #1519 closed

[2016-04-28 21:47] jonpmarino commented on #1374
confirmed and closing.

[2016-04-29 00:15] travislbrundage commented on #1431
It's because of this code prevalent in a lot of our javascript files:
[code]
I don't know what that means or why that is necessary. I removed it and as far as I can tell everything is fine... will hold off on committing that change for the moment though

[2016-04-29 13:55] jonpmarino opened #1530 ""Map Save Failed" error appears shortly after saving properties to begin a new story"
on beta. Pops up automatically, not in response to a click.

![map_save_failed](https://cloud.githubusercontent.com/assets/2573761/14918177/783c7428-0df0-11e6-9d0b-59189db8f16e.jpg)

[2016-04-29 14:07] jonpmarino opened #1531 "Append link should not show unless layer is supported by versioned editing"
Users should only be able to append to StoryLayers if the layer captures version history of edits. If it does not, we should hide the Append link on the StoryLayer, just as we already do hide the EDIT link.
![append_no_show](https://cloud.githubusercontent.com/assets/2573761/14918491/35ab81c4-0df2-11e6-8eff-35f4b0823d2f.jpg)

[2016-04-29 15:10] JWileczek commented on #1529
@Coop56 This is related to the hopscotch tour.

[2016-04-29 15:19] JWileczek commented on #1525
This is done and up on beta.

[2016-04-29 15:20] JWileczek commented on #1488
@jonpmarino and @davisc This should be fixed with chapter center and zoom being saved based on button from issue #1525. If someone could test this out on a new story to confirm that would be great.

[2016-04-29 16:20] Coop56 commented on #1529
@jonpmarino @JWileczek Were either of you able to replicate this again?  What exactly were you doing when it happened Jon?  I have been unable to replicate it based on your initial comment.

[2016-04-29 16:21] jonpmarino commented on #1533
related to #1484

[2016-04-29 16:25] jonpmarino commented on #1529
I think i did this when the geoserver was rebooting. igonore for now.

[2016-04-29 16:55] Coop56 commented on #1222
This commit - https://github.com/MapStory/mapstory-geonode/commit/68cd56f3e567db15e3cdc45e764b713266713763 - should handle this.

[2016-04-29 17:13] JWileczek commented on #1509
@reynalddizon I'm sorry Rey I completely misinterpreted the meaning of your issue here. You are talking about the ordering within the legend in comparison to the sidebar not the layer ordering itself in the map. When you say within the map display I thought you were talking about how layers stack on the map itself. This is a quick fix that I asked @Coop56 to make for me since I'm in the middle of

[2016-04-29 17:19] JWileczek commented on #1511
@jonpmarino This is done and testable on demo and beta.

[2016-04-29 18:05] Coop56 commented on #1523
Closed this in another ticket - all of this is fixed now.

[2016-04-29 18:27] jonpmarino commented on #1501
@JWileczek just experienced again. I:

Added title in properties and save. Clicked "Chapter Info". Error popped up just as I was going to click "Add StoryLayers"

[2016-04-29 19:07] jonpmarino opened #1535 "Font switches when I switch layers"
Small thing.

click and drag chapters in order. Font in Chapter/Name changes.

[2016-04-29 19:51] Coop56 commented on #1527
Commenting for myself from meeting.  The redirect parameter may not be set, so it's trying to redirect to nothing and causing this error.

[2016-04-29 19:54] travislbrundage commented on #1218
As a side note, password length also doesn't seem to actually enforce the requirements it says (which is simply 8 character minimum).

[2016-04-29 20:11] travislbrundage commented on #1510
Closed by [PR#31](https://github.com/MapStory/geonode/pull/31) and [PR#213](https://github.com/MapStory/mapstory-geonode/pull/213)

[2016-04-29 20:12] travislbrundage commented on #1444
Closed by [PR#31](https://github.com/MapStory/geonode/pull/31) and [PR#213](https://github.com/MapStory/mapstory-geonode/pull/213)

[2016-04-29 20:13] travislbrundage commented on #1218
Terms and Conditions and Password length closed by [PR#213](https://github.com/MapStory/mapstory-geonode/pull/213)

[2016-04-29 20:13] travislbrundage commented on #1431
Closed by [PR#213](https://github.com/MapStory/mapstory-geonode/pull/213)

[2016-05-02 01:10] jonpmarino opened #1541 "Add clear UI to MapStory cards that are "draft/unpublished""
Right now both unpublished/draft MapStories and published MapStories appear on a user profile. It is difficult for user to tell which is which. We should add a clear UI element to show the difference. @reynalddizon defer to you.

[2016-05-02 01:12] jonpmarino commented on #1315
Confirmed that @JWileczek completed this. adding /draft to a mapstory string brings up the composer view of all mapstory elements, and elements can be changed and re-saved. @JWileczek needs to wire this to the card, so the user can access draft in composer via card not adding /draft in the URL. Also, #1540 and #1541 need to be done.

[2016-05-02 01:13] jonpmarino opened #1542 "New MapStories seem to be creating a double thumbnail"
Newly published mapstories in Explore and Profile seem to have 2 thumbnails associated?
![grab_double_thumb](https://cloud.githubusercontent.com/assets/2573761/14945545/8c67b244-0fe1-11e6-9e12-0d1145d63c12.jpg)

[2016-05-02 01:26] jonpmarino commented on #1536
Another data point...judging from Lewis and Clark (http://demo.mapstory.org/layers/geonode:lewisandclarktrail) it looks like the new edits to that layer have the "default orange", but the original StoryLayer stays in the blue that it was styled with originally.

[2016-05-02 12:04] Coop56 commented on #1540
Just sent in a commit - https://github.com/MapStory/mapstory-geonode/commit/acee00e9358fd2e97d95c7dd7a9aa53d2f9b9190 - that should solve this.

[2016-05-02 14:52] travislbrundage commented on #1316
MapStory embedding resolved by [PR#](https://github.com/MapStory/mapstory-geonode/pull/214) and [PR#](https://github.com/MapStory/geonode/pull/32).

[2016-05-02 18:51] Coop56 commented on #1507
This is done and live on demo @jonpmarino.

[2016-05-02 18:55] travislbrundage commented on #1498
Duplicate of #1316 and fixed anyway

[2016-05-02 18:55] #1498 closed

[2016-05-02 19:03] jonpmarino commented on #1507
confirmed and closing.

[2016-05-02 19:29] Coop56 commented on #1532
These changes have been made and committed - https://github.com/MapStory/MapLoom/commit/f60635aa2079bac7c7b9450d6a0726e649098e1b

[2016-05-02 19:54] Coop56 commented on #1544
Done with this commit - https://github.com/MapStory/MapLoom/commit/2c3967c4eff7b28cfde5632a1ab2582b436e44fb

[2016-05-03 18:57] travislbrundage commented on #1545
Resolved by [PR#34](https://github.com/MapStory/geonode/pull/34) and [PR#]()

[2016-05-03 18:58] travislbrundage commented on #1218
Resolved by [PR#34](https://github.com/MapStory/geonode/pull/34) and [PR#217](https://github.com/MapStory/mapstory-geonode/pull/217)

[2016-05-03 19:07] garnertb commented on #1546
This is fixed in https://github.com/ProminentEdge/django-osgeo-importer/commit/39b4036ba33bf7fb4b4978bf45e3b6a2a2b43f6e.

[2016-05-03 21:07] travislbrundage commented on #1527
I just tested this on demo without any errors. Is this still an issue?

[2016-05-03 21:22] Coop56 commented on #1527
@travislbrundage Still seems to be an issue for me on beta - if I sign up and click the confirm email it takes me to the confirm page.  I click on the Confirm button and it sends me to an Internal Server error.  I know multiple people were having this issue and I never changed anything that would have fixed it.

[2016-05-03 21:24] Coop56 commented on #1527
@travislbrundage That being said, it just worked for me on demo as well.

[2016-05-03 21:29] travislbrundage commented on #1527
I didn't change anything either. That's weird. Not sure why demo and beta have the discrepancy. Thanks for the info though @Coop56

[2016-05-03 21:46] travislbrundage commented on #1457
Yeah, this is only going to change the Profile - so on user search, the name is updated there. I'm not sure if there is a way to link the profile saving to rebuilding the index for MapStories since it's a different object. I believe after a `rebuild_index` (or resaving that MapStory), it will update.

Should we just have the index rebuild every once in a while? Or maybe in the Profile save we can

[2016-05-04 16:52] travislbrundage commented on #1551
Console gives this stack trace...
[code]

[2016-05-04 22:24] travislbrundage commented on #1551
So the problem is I can't seem to embed angular template variables in the upload directive on the profile_detail page: https://github.com/MapStory/mapstory-geonode/blob/master/mapstory/templates/people/profile_detail.html#L289

So I'm not sure how to pass the link into `trustAsResourceUrl()`. I can bind to the directive in the javascript, but this results in some errors with the importer's templat

[2016-05-05 00:04] travislbrundage commented on #1550
Closed by [PR#35](https://github.com/MapStory/geonode/pull/35)

[2016-05-05 00:41] travislbrundage commented on #1527
Seems like there are still some strange issues with this, but the code is not consistent right now across demo/beta/prod, so I am getting different results depending on where I test. I'll circle back to this when it's more stable...

[2016-05-05 09:29] davisc commented on #1553
This is complete and available here https://github.com/MapStory/django-maploom/tree/storyscapes-v1

[2016-05-05 09:33] davisc commented on #1497
This is fixed by https://github.com/MapStory/django-maploom/commit/7916210b635ebc2d5909715dbf336d242c56c6c0

[2016-05-05 09:33] #1497 closed

[2016-05-05 09:34] davisc commented on #1489
This is fixed in https://github.com/MapStory/django-maploom/commit/7916210b635ebc2d5909715dbf336d242c56c6c0

[2016-05-05 09:49] davisc commented on #1547
@JWileczek if more than one layer is loading, is there a way to enrich the failure message to indicate which layer failed to load? May include the title of the layer in the message?

[2016-05-06 15:51] JWileczek commented on #1547
done in https://github.com/MapStory/MapLoom/commit/ef4ed23845c9d8f148d46ef311723dd099104e59
Loading messages now display the name of the layer when it begins, finishes, and fails loading.

[2016-05-06 18:18] JWileczek commented on #1542
This was fixed in changes from travis' pull request.

[2016-05-06 18:18] #1542 closed

[2016-05-06 18:19] JWileczek commented on #1315
This is wired to a card and working on production.

[2016-05-06 18:26] jonpmarino commented on #1492
Closing. Not necessary. Part of detail page redesign from @reynalddizon

[2016-05-06 18:31] jonpmarino commented on #1548
done and closed.

[2016-05-06 18:36] jonpmarino commented on #1552
closed. old and irrelevant for right now.

[2016-05-06 18:57] jonpmarino commented on #1541
done and closed.

[2016-05-06 18:57] #1541 closed

[2016-05-06 19:04] jonpmarino commented on #1535
this was fixed by the correct fonts showing up.

[2016-05-06 19:04] #1535 closed

[2016-05-06 19:11] jonpmarino commented on #1228
flagging for @davisc. Still sending email with old links

[2016-05-07 18:04] Coop56 commented on #1559
I replaced this already to say StoryScape - there shouldn't be any mention of MapStory on the latest branch, but I'll get it changed to Narrative.

[2016-05-07 20:25] davisc commented on #1559
Ah I see on the rebased branch.

Sent from my iPhone

[2016-05-07 22:30] Coop56 commented on #1559
I updated it from StoryScape to Narrative on the tour, in the origin/feature/sc-composer-skinned-rebase branch and pushed the changes if you want to deploy it @davisc.

[2016-05-07 22:32] Coop56 commented on #1425
Duplicate of https://github.com/MapStory/mapstory/issues/1516

[2016-05-09 03:20] jonpmarino commented on #1360
appears to be fixed.

[2016-05-09 03:20] #1360 closed

[2016-05-09 13:05] davisc opened #1560 "Invalid resource lookup data provided (mismatched type)."
The following error is returned when executing a search however hitting a particular api endpoint like `/api/layers` returns successfully.

OS: CentOS release 6.7 (Final)

`
{
error_message: "Invalid resource lookup data provided (mismatched type).",
traceback: "Traceback (most recent call last): File "/var/lib/geonode2/lib/python2.7/site-packages/tastypie/resources.py", line 196, in wrapper respo

[2016-05-09 13:12] ingenieroariel commented on #1560
Not sure if this helps: http://stackoverflow.com/questions/11684659/tastypie-notfound-invalid-resource-lookup-data-provided-mismatched-type

[2016-05-09 13:15] ingenieroariel commented on #1560
Another option related to trailing slashes: https://github.com/django-tastypie/django-tastypie/issues/665

[2016-05-09 15:43] reynalddizon commented on #1557
i saw a nice pin icon that maybe we could use for story pin symbology. it's available on icon commons. (just search for "pin", it's the third one.) then just change the color to mapstory orange #f59620.
<img width="215" alt="screen shot 2016-05-09 at 8 41 47 am" src="https://cloud.githubusercontent.com/assets/4611843/15118680/26c8cb8a-15c2-11e6-9719-d7a02193f1b9.png">

[2016-05-09 16:07] davisc commented on #1430
@jonpmarino can you test this in prod?

[2016-05-09 16:40] jonpmarino commented on #1430
Just tested with Account AlexanderHamilton. Changed password is persisting.

[2016-05-09 18:45] JWileczek commented on #1554
This is up on demo. Now if you select a storypin from the sidebar menu it will zoom to that time on the timeline so the storypin will show on the map (assuming the storypin is set to show in the map).

[2016-05-09 19:04] Coop56 commented on #1528
Comment for myself - just add the username and a log out button to this for now.

[2016-05-09 19:23] jonpmarino commented on #1512
confirmed working.

[2016-05-09 19:26] jonpmarino opened #1562 "Add "Resume Draft" to welcome modal"

[2016-05-09 19:35] Coop56 commented on #1561
a#start-composing:hover {
font-weight: bold;
color: #162f43;
text-decoration: none
}

a#start-tour:hover {
font-weight: bold;
color: #162f43;
text-decoration: none
}

These two are done and committed to the rebase branch for StoryScapes.  The third one is in mapstory-geonode.  How do we skin that @davisc?

[2016-05-09 19:49] jonpmarino commented on #1228
reassigning to @davisc to work last mile token issue. @Coop56 has fixes images, links and text

[2016-05-10 02:33] travislbrundage commented on #1401
"Long titles overflow on the Explore page. Truncating and showing the full title on rollover is probably the best option." Done, current default limit is 25 characters for truncating.

[2016-05-10 04:47] travislbrundage commented on #1527
Three different results on the three different web sites.

Demo: TemplateError on the `{% trans %}` block - pretty sure they were added to the template for welcome_email but the header doesn't have the appropriate includes. `{% load il8n %}` - this needs to be fixed on the branch demo is running.
Beta: Seems to work correctly.
Prod: Some kind of Internal Server Error on the POST after confirming.

[2016-05-10 12:20] davisc commented on #1432
<img width="1039" alt="screen shot 2016-05-10 at 7 20 18 am" src="https://cloud.githubusercontent.com/assets/947403/15146205/b28f6db4-167f-11e6-9dfa-e2b3b6664cc7.png">

[2016-05-10 12:21] davisc commented on #1365
![Uploading Screen Shot 2016-05-10 at 7.20.18 AM.png…]()

[2016-05-10 18:14] travislbrundage commented on #1527
Full stack trace:
[code]

[2016-05-10 22:42] jonpmarino commented on #1461
confirmed user on prod is no longer immediately logged in before confirming account.

[2016-05-11 16:03] reynalddizon commented on #1518
details page edits:

.page-title {
display: block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-weight: 600;
margin: 0;
}
change Uploaded By —> Uploaded by:

for buttons:
add btn and btn-block classes and add

.btn-detailpage {
background-color: #666;
color: #eee;
font-size: 0.8em;
font-weight: 700;
border: 1px solid #666;
border-radius: 4px;
padding: 10px !important;
margi

[2016-05-11 16:07] reynalddizon commented on #1485
<img width="680" alt="screen shot 2016-05-11 at 9 06 36 am" src="https://cloud.githubusercontent.com/assets/4611843/15187880/be0e0032-1757-11e6-9655-3e31d19ac700.png">

 that's fa-thumbs-up

[2016-05-11 18:44] jonpmarino commented on #1503
done and on demo

[2016-05-11 18:44] #1503 closed

[2016-05-11 18:47] jonpmarino commented on #1534
fixed on demo.

[2016-05-11 20:09] Coop56 commented on #1532
The switch coordinates button was removed now as well.

[2016-05-11 20:13] Coop56 commented on #1518
The base pages are done - adding CSS next.

[2016-05-11 20:20] Coop56 commented on #1471
This is done - I swapped the legend toggle and the full screen toggle positions.  This will close this specific request but I opened a new issue to remind myself to change the way these buttons were setup initially when I have some time - https://github.com/MapStory/mapstory/issues/1566.

[2016-05-11 22:22] Coop56 commented on #1518
Done and live on demo - example - http://demo.mapstory.org/layers/geonode:crawfish_habitat

[2016-05-11 22:23] Coop56 commented on #1355
Still not something we can do at this point - as we don't have access to their username during a commit which we need to link to their profile.

[2016-05-11 22:24] Coop56 commented on #1557
Can you show me a screenshot of what you mean by the red outline with light red transparent circle icon?

[2016-05-11 22:35] jonpmarino commented on #1557
this.
![grab_pin_circle](https://cloud.githubusercontent.com/assets/2573761/15198714/2a6c5f04-17a7-11e6-8e12-5317bf014936.jpg)

[2016-05-11 22:36] jonpmarino commented on #1355
understood. moving out of this milestone.

[2016-05-12 12:04] davisc commented on #1560
Fixed. This error occurs when `HAYSTACK_SEARCH` is not enabled and you attempt to hit search endpoint. When haystack search is disabled, the following pattern  `^(?P<api_name>api)/ ^(?P<resource_name>layers)/search/$ [name='api_get_search']` is not available to urls.py which at request time tries to find the best match to process the request. In our case tastypie used `^(?P<api_name>api)/ ^(?P<res

[2016-05-12 12:04] #1560 closed

[2016-05-12 18:35] jonpmarino commented on #1485
done and closed. re-open if we need

[2016-05-12 18:39] jonpmarino opened #1568 "Expand default mapstory or storylayer viewer width to align with new detail pages"

[2016-05-12 18:52] jonpmarino commented on #1551
this is magically fixed. closing for now.

[2016-05-12 19:01] jonpmarino commented on #1508
fixed. still need to accomplish geologic time (4.5 billion)

[2016-05-12 20:16] JWileczek commented on #1571
@jonpmarino Just pushed a fix for this should be up on mapstory demo soon. If the user has a default view saved it will zoom to that location on save and chapter switch, otherwise it will zoom to the largest storylayer extent.

[2016-05-13 05:07] reynalddizon commented on #1567
i know of a solution for image embeds: we just use img-responsive class. it will just inherit the width of the story pin container. I'm not sure about the responsiveness of video iframe tho.

[2016-05-13 14:59] jonpmarino opened #1580 "StoryPin: should always be the top layer on playback"
They should never be hiding underneath other StoryLayers

[2016-05-13 15:02] jonpmarino opened #1582 "StoryPin: Make StoryPins default to "scroll over" in composer so behavior is the same as publish playback"
Once a MapStory is published, StoryPins default to appear as scroll over. In composer right now they default to pop up on click. We should have the behavior be the same (scroll over) in composer as it is in playback.

[2016-05-13 17:08] travislbrundage commented on #1551
This was only hotfixed, but I think I found a workaround that doesn't touch importer.

`<upload upload-object="upload" i="$index" static-url="{{STATIC_URL}}" template-url="trustSrc({{ STATIC_URL }}osgeo_importer/partials/upload.html)"></upload>` in `profile_detail.html#L289`
[code]
in `mapstory.js#L261`

[2016-05-13 23:59] travislbrundage commented on #1565
Closed by [PR#224](https://github.com/MapStory/mapstory-geonode/pull/224)

[2016-05-14 00:04] travislbrundage commented on #1527
Closed by [PR#222](https://github.com/MapStory/mapstory-geonode/pull/222)

[2016-05-14 00:13] travislbrundage commented on #1393
Is this still an issue? I'm no longer able to reproduce this issue. I think it has been fixed.

[2016-05-15 14:17] jonpmarino commented on #1393
Appears fixed on prod. closing for now.

[2016-05-16 17:10] Coop56 commented on #1528
This has been added with this commit - https://github.com/MapStory/MapLoom/commit/cbde65401d3360dcd1b1a1f938245b3912cf0790 - should be on demo shortly @jonpmarino @reynalddizon

[2016-05-16 17:11] Coop56 commented on #1528
Confirmed it is on demo.

[2016-05-16 17:14] jonpmarino commented on #1518
add back embed, username should link to profile

[2016-05-16 19:04] jonpmarino commented on #1518
confirmed embed, username and message are back in. closing.

[2016-05-16 19:04] #1518 closed

[2016-05-16 19:48] jonpmarino commented on #1577
closing as just for geoint purposes.

[2016-05-16 21:06] Coop56 commented on #1562
This issue has been fixed and closed by - https://github.com/MapStory/MapLoom/commit/e4343c5d0479e4cd5987595e181bea7231687c8d

[2016-05-16 21:06] #1562 closed

[2016-05-16 21:06] Coop56 commented on #1570
This issue has been fixed and closed by - https://github.com/MapStory/MapLoom/commit/e4343c5d0479e4cd5987595e181bea7231687c8d

[2016-05-16 22:55] jonpmarino commented on #1555
closing, as only relevant for Geoint

[2016-05-16 23:00] jonpmarino commented on #541
@davisc not sure if this is still relevant or should be pushed forward.

[2016-05-16 23:02] jonpmarino commented on #721
@davisc not sure if this should be closed and moved or still worth having around.

[2016-05-16 23:10] jonpmarino commented on #1171
closing. links are to beta.

[2016-05-16 23:13] jonpmarino commented on #1193
closing. out of date as relates to old interfaces.

[2016-05-16 23:23] jonpmarino commented on #1239
not sure of priority and assignee that makes sense.

[2016-05-16 23:35] jonpmarino commented on #1516
in demo. not on prod yet.

[2016-05-17 16:39] Coop56 commented on #1568
This has been fixed with this commit - https://github.com/MapStory/mapstory-geonode/commit/d8c22bd204099661b2d3484285b256af0f45df3d

[2016-05-17 16:39] #1568 closed

[2016-05-17 16:55] JWileczek commented on #1567
@reynalddizon I used the img-responsive class and that worked for the image links. For the iframe embeds I am now extracting and changing the width and height of the embed when they add the pin with that content. If you get me width and height values that you think would look best I can easily change them to be that size.

[2016-05-17 16:57] JWileczek commented on #1417
I tested this on both my account: jwileczek, and on admin. Experienced no such error. Closing unless someone else can reproduce.

[2016-05-17 17:08] davisc commented on #1575
done

[2016-05-17 17:17] davisc commented on #1543
Would like @garnertb to weight in on this one. Unassigning for now.

[2016-05-17 17:20] davisc commented on #1538
Some code from storytools which may help

[code]

[2016-05-17 17:23] davisc commented on #1484
This is fixed.

[2016-05-17 17:25] davisc commented on #1470
This is complete.

[2016-05-17 17:27] davisc commented on #1466
Currently this concept doesn't apply within mapstory. Map changes are not based on scroll waypoint rather its based on time intervals.

[2016-05-17 17:32] davisc commented on #725
This is complete. We now have a multi-server setup.

[2016-05-17 18:01] davisc commented on #1581
Is this on a per pin basis or generally applies to all pins?

[2016-05-17 18:17] davisc commented on #1579
As an example, I made this change to the viewer playback.

[2016-05-17 18:44] Coop56 commented on #1578
Currently we're limiting the results to 100 layers - so when you get to the bottom of those 100 you don't see any more.  What we'll do here is add a load more button that will call the API again and get the next 100 results.

[2016-05-17 18:48] Coop56 commented on #1538
Comment for myself - http://gis.stackexchange.com/questions/118383/openlayers-3-max-extent

[2016-05-17 18:51] davisc commented on #1414
@jonpmarino is this still required?

[2016-05-17 19:20] Coop56 commented on #1563
Is this on StoryScapes specifically or MapStory?  MapStory doesn't have an SSL certification I don't think?  @davisc

[2016-05-17 19:39] Coop56 commented on #1494
This is done in this commit - https://github.com/MapStory/MapLoom/commit/cd98a3da1696a6860cbd873f354e88069b60e277

[2016-05-18 00:07] rob-metalinkage commented on #1417
well - download is not longer offered on this story layer - so cant tell.
Can you post a link to a dataset that does have a working download so I can
check to see if it works.

On Wed, 18 May 2016 at 02:57 John Wileczek <notifications@github.com> wrote:

[2016-05-18 00:43] jonpmarino commented on #1414
Id say no. Certainly not for now

[2016-05-18 00:47] jonpmarino commented on #1581
I would think an ideal implementation would be per pin, and then an option to "Apply to all"

[2016-05-18 16:40] reynalddizon commented on #1567
The img-responsive class inherits the width of the parent class containing the <img> tag, I think it's called panel. And that parent class has a fixed width (I think it's 180px). So I guess we want to copy that value and for the height, we want the videos the preserve the aspect ratio.

Sent from my iPhone

[2016-05-18 19:19] Coop56 commented on #1583
Waiting until next week on this one since I will need to test this on the live StoryScapes build.

[2016-05-18 19:39] Coop56 commented on #1578
This commit should solve this - https://github.com/MapStory/MapLoom/commit/35f10436bf2043a168ae814b7e0eec472d7c4e83 - but I need to test it on beta where we have over 100 StoryLayers.  @davisc @jonpmarino

[2016-05-18 19:50] Coop56 commented on #1563
Need more info on this one @davisc and @jonpmarino - when does it fail?  Where?  Is SSL enabled for the domain it fails on?

[2016-05-18 19:56] Coop56 commented on #1573
@jonpmarino I'm going to need some more info on this one to replicate it.  I just went on production and I added a StoryLayer.  I then changed the basemap several times and the layer never disappeared.

[2016-05-19 03:39] jonpmarino commented on #1573
Ok. just confirmed. Try adding 2 StoryLayers to a chapter. Then change the basemap. One of the StoryLayers will be set to invisible.

[2016-05-19 16:49] Coop56 commented on #1359
@milafrerichs How much work did you do to this?  Do you have it somewhere?  Or am I starting from scratch?

[2016-05-20 14:45] Coop56 commented on #1588
I did quite a bit of work on this, removing hundred of lines of unused CSS and organizing and commenting the CSS as well.  Still needs some work but it's in much better shape now.  We need to do the same for the JS and Python code at some point in the near future to make sure the codebase is maintainable.

[2016-05-20 19:07] travislbrundage commented on #1584
Should be fixed by this: https://github.com/MapStory/mapstory-geonode/commit/2475053f1a354c9ed56e4b12aa465221fc28b04a

[2016-05-20 19:31] davisc commented on #1576
@jonpmarino this should be fixed can you confirm? http://mapstory.org/story/18717#/chapter/2

[2016-05-23 15:18] Coop56 commented on #1563
Closing this issue for now based on our talk Friday.  This fails on MapStory because the entire site fails, with no SSL cert.  It works fine on StoryScapes, which has an SSL cert.

[2016-05-24 15:13] Coop56 commented on #1538
I've set extents that will solve this.  Unfortunately the way extent is setup - it only ensures the extents stay within the view.  So there's still ugly white space on the sides that I have not seen an answer for anywhere in the OpenLayers documentation.  The user can no longer scroll off into infinity though.

[2016-05-24 17:05] Coop56 commented on #1591
Just pushed up a change to fix this - https://github.com/MapStory/mapstory-geonode/commit/32574d8b81db5b7368630aec0d28ece8c80bd584

[2016-05-24 19:51] Coop56 commented on #1573
Fixed this with this commit - https://github.com/MapStory/MapLoom/commit/df371c8661be366ea6ef647ab25abe0cfac979cf

[2016-05-27 17:27] JWileczek commented on #1567
Changed and should be up on demo

[2016-05-27 17:30] JWileczek commented on #1531
Fixed in this commit: https://github.com/MapStory/mapstory-geonode/commit/e3db846c8ab30bfbbdd0a083849547b9ad354787

[2016-05-27 17:30] #1531 closed

[2016-05-27 17:31] JWileczek commented on #1530
Have not experienced these errors since they were added. Closing can be reopened if there are more consistent failures and reproducible errors

[2016-05-27 17:31] #1530 closed

[2016-05-27 17:44] JWileczek commented on #1338
Currently schema download adds columns that are automatically created upon import. Mainly date_xd, date_parsed for Big Date. GeoServer allows you to specify certain attributes to download with a GetFeature request as a whitelist, but doesn't allow you to Blacklist certain attributes. I've tried to include all attributes except the auto-generated ones and it works on layers with a small number of a

[2016-05-27 17:55] JWileczek commented on #1581
Added a new property in add storypin to show content automatically during playback. Currently works in composer needs to be added to viewer.

[2016-05-30 19:48] Coop56 commented on #1359
This is done now and live on demo - @reynalddizon let me know if you want any styling changed.

[2016-05-31 10:06] jonpmarino commented on #1359
@Coop56 looks really good. Just tested with http://demo.mapstory.org/story/1046#/chapter/2. Realize you'll probably want to open a new issue with @reynalddizon to deal with final styling issues. Question - should this affect anything with the embed? Tried embedding into a journal article and am getting errors. Could be unrelated, http://demo.mapstory.org/journal.

[2016-05-31 10:14] jonpmarino commented on #1576
Yes confirmed and closing.

[2016-05-31 14:45] Coop56 commented on #1592
The CI server was fairly far behind on both regular and security updates.  It was crashing constantly.  So I took some time and ran through all of the updates and made sure they were all working, rebooted the server and it hasn't crashed since.

[2016-05-31 15:32] jonpmarino commented on #1419
duplicate of #543

[2016-05-31 18:29] reynalddizon commented on #1359
<img width="548" alt="screen shot 2016-05-31 at 2 28 14 pm" src="https://cloud.githubusercontent.com/assets/4611843/15685939/0417317c-273c-11e6-91fc-f14b27c08a36.png">

[2016-05-31 19:23] #1359 closed

[2016-05-31 19:58] davisc opened #1595 "Configure SSL"

[2016-05-31 20:44] Coop56 commented on #1228
Reminder for myself - this one just needs tested and confirmed as working.

[2016-06-01 13:50] Coop56 commented on #1596
https://cloud.githubusercontent.com/assets/4611843/15685939/0417317c-273c-11e6-91fc-f14b27c08a36.png

[2016-06-01 15:28] Coop56 commented on #1228
I tested this again - links are still broken.  I'll look into why.

[2016-06-01 16:12] Coop56 commented on #1604
Fixed with this commit - https://github.com/MapStory/mapstory-geonode/commit/19d0469031f4e2cf5810dbd55e60ca6fce7294c8

[2016-06-01 19:22] reynalddizon commented on #1597
[embed_view.pdf](https://github.com/MapStory/mapstory/files/294192/embed_view.pdf)

[2016-06-02 17:07] Coop56 commented on #1596
This is done and live on demo @jonpmarino @reynalddizon

[2016-06-02 17:07] Coop56 commented on #1597
This is done and live on demo @jonpmarino @reynalddizon

[2016-06-02 18:46] davisc commented on #1585
ERROR (EXTERNAL IP): Internal Server Error: /initiatives/{{ item.detail_url}}
ERROR (EXTERNAL IP): Internal Server Error: /story/{{ item.id }}
ERROR (EXTERNAL IP): Internal Server Error: /maps/17213

[2016-06-02 20:20] Coop56 commented on #1605
The play full screen button on the detail page is now working and on demo @jonpmarino @reynalddizon

[2016-06-03 16:20] Coop56 commented on #1501
I've went through the process of creating and saving mapstories on demo in all major browsers and I haven't gotten any errors relating to saving in any of them.  Closing this unless we can reproduce it @jonpmarino if you see this error again please open the Console (right click inspect and go to the console tab) and screen shot any errors you are seeing in there when this happens.

[2016-06-03 17:22] Coop56 commented on #1384
@jonpmarino @reynalddizon Where is this mockup?  Can you explain a bit more what you're looking for here?

[2016-06-03 17:25] reynalddizon commented on #1384
I didn't realize that this issue is already ticketed. I'll close this one and move everything to https://github.com/MapStory/mapstory/issues/1598. there's a mockup there

[2016-06-03 17:33] Coop56 commented on #1585
ERROR (EXTERNAL IP): Internal Server Error: /api/owners/
Internal Server Error: /api/owners/

KeyError at /api/owners/
'objects'

Request Method: GET
Request URL: http://mapstory.org/api/owners/?city=london&limit=100&offset=0
Django Version: 1.6.10
Python Executable: /home/mapstory/.virtualenvs/mapstory/bin/python
Python Version: 2.7.6
Python Path: ['/srv/git/mapstory/mapstory-geonode', '/usr/bin'

[2016-06-03 17:34] Coop56 commented on #1585
ERROR (EXTERNAL IP): Internal Server Error: /account/confirm_email/9922b1680b34c729117b28473f9dc8bd0449e003cf675f872e6b10f518722a75/
Internal Server Error: /account/confirm_email/9922b1680b34c729117b28473f9dc8bd0449e003cf675f872e6b10f518722a75/

NoReverseMatch at /account/confirm_email/9922b1680b34c729117b28473f9dc8bd0449e003cf675f872e6b10f518722a75/
Reverse for 'auth_login' with arguments '()' an

[2016-06-03 18:13] Coop56 commented on #1582
@jonpmarino Do you have a live example of the scroll over behavior in viewer?

[2016-06-03 18:20] jonpmarino commented on #1582
We've used http://roadskillmap.com/ as an example. Think of the blue dots as "storypins" and the pop ups for the features on the map as "infoboxes". roadskill has the opposite of our model. their "storypins" are click and "infoboxes" are scroll over. we want opposite. Storypins are scroll over and infoboxes on features pop up if user clicks a feature.

[2016-06-03 18:28] jonpmarino commented on #1501
sounds good. thanks guys.

[2016-06-04 01:34] #1595 closed

[2016-06-06 13:18] jonpmarino commented on #1401
We should also add to this issue that quick search is not generating results.

[2016-06-06 16:56] Coop56 commented on #1582
Just pushed up a change so that the Composer now allows you to scroll over StoryPins to view the information about them.  You should be able to see it shortly on demo @jonpmarino.

[2016-06-06 17:56] jonpmarino commented on #1470
re-opening just to check for discussion. Can close again when confirmed. the ability to click on features of a layer and see the infobox was a desired capability on published mapstories, not just composer. As Chris mentions in an earlier comment, for chapters with multiple layers, we may need to enable users to select which layer they want to have infoboxes appear for on playback when features are

[2016-06-06 18:38] jonpmarino commented on #1584
Quick search isn't working. Entering a search query returns all results.

[2016-06-07 15:52] Coop56 commented on #1228
This one should be good to go now, I changed it to {{ site.domain }} based on @davisc feedback but I don't think demo is updating.

[2016-06-07 17:33] Coop56 commented on #1607
@reynalddizon This is done - pushing the changes now.

[2016-06-07 19:52] Coop56 commented on #1582
I changed all of the event handling from singleclick to the hover, I need to change it back to singleclick and pull out specifically the storypin code and handle that with the hover event.

[2016-06-08 19:17] jonpmarino opened #1620 "Add "Summary" as a field to metadata settings form"
We are missing a text box in the metadata update modal to enter the 'Summary' information that is called for in the 'Summary' tab on a StoryLayer detail page.

[2016-06-08 19:22] jonpmarino commented on #1620
Closing. duplicate of #1621

[2016-06-08 19:22] #1620 closed

[2016-06-08 19:40] emilyashley commented on #1594
The password reset email is correct on demo. What needs to be done to get the theme account contact email in local_settings changed on production?

[2016-06-08 22:41] Coop56 commented on #1614
Fixed this with this commit.  https://github.com/MapStory/MapLoom/commit/a7f125b0724bf3dcb38849afb4f2621b91eaba1b

[2016-06-08 22:41] Coop56 commented on #1615
Fixed this with this commit.  https://github.com/MapStory/MapLoom/commit/a7f125b0724bf3dcb38849afb4f2621b91eaba1b

[2016-06-08 23:02] Coop56 commented on #1612
Fixed by this commit.  https://github.com/MapStory/MapLoom/commit/0a601fa00729713862c232e1b6b4ec633667d159

[2016-06-09 01:10] Coop56 commented on #1582
Done correctly this time.  Single clicks still work on all other features, StoryPins are setup for scroll over.

[2016-06-09 01:10] #1582 closed

[2016-06-09 02:09] Coop56 commented on #1401
These two commits fix the extra scroll bar and the quick search.  @jonpmarino

https://github.com/MapStory/mapstory-geonode/commit/cd2f62d115cb697ccf0f1707dd200a0a38af0283

https://github.com/MapStory/mapstory-geonode/commit/9e9c3376961e97fae4d97b9abedf9ea656caa4a3

[2016-06-09 03:16] Coop56 commented on #1598
Recently Added, Top Rated and Most Viewed are all working.  @reynalddizon @jonpmarino @davisc we need to talk about the Editor's Pick section.  Is there currently a mechanism for someone to pick items as Editor's pick and set some sort of variable to true?  If not we're going to need to build that functionality, a dashboard for admins to pick which stories and layers you want showcased and remove

[2016-06-09 03:17] Coop56 commented on #1580
@davisc I looked into this one tonight but I'm not entirely sure where the StoryPin layer is being called vs. regular layers.  I think we just need to call StoryPins last in StoryTools if you could point me in the right direction on that I'd appreciate it.

[2016-06-09 03:18] Coop56 commented on #1228
@jonpmarino @davisc I was looking into this one tonight.  I tried testing it a few times on demo but no emails seem to be sending at all from demo now.  No confirmation or welcome email goes out.  I tried looking for logs from our email server to see if there were any errors but I'm not sure which mail server we're using?  I looked around for a few of the common ones but I didn't see them.  Maybe

[2016-06-09 13:54] jonpmarino commented on #1598
@coop56 i'm not very worried about Editors Picks since we can already feature some stuff on home page. Lets create its own issue and table for future, yeah.

[2016-06-09 16:00] jonpmarino commented on #1512
It looks like there are some layers on mapstory prod that still require "request to download" rather than being open for download by a logged in user.. Example layer: https://mapstory.org/layers/geonode:Micro_Breweries
![download](https://cloud.githubusercontent.com/assets/2573761/15936599/ac48ef6c-2e39-11e6-8bb9-b1cdb9efe7d8.jpg)

[2016-06-09 16:39] emilyashley commented on #1613
See https://github.com/MapStory/mapstory/issues/1594

[2016-06-09 17:44] jonpmarino opened #1623 "Support showing storypin content automatically in viewer if set that way by storyteller in composer"
Based on @JWileczek work in #1581

[2016-06-09 18:06] Coop56 commented on #1581
This one is done and working - #1623 is the next piece of this.

[2016-06-09 18:40] Coop56 commented on #1584
This is done and working!  Should be up on demo now.

[2016-06-09 18:52] Coop56 commented on #1598
I'm closing this one based on the standup conversation - @jonpmarino if you want to create a new backburner issue on Editor's pick please do.

[2016-06-09 19:20] emilyashley commented on #1594
For future reference -
places `theme_account_contact_email` can be defined:
- mapstory-geonode/scripts/provision/host_vars  -   demo.yml & prod.yml as `email_host_user`
- mapstory-geonode/scripts/provision/roles/web/files/local_settings.py.j2
- mapstory-geonode/settings/local_settings.py
- geonode/settings.py

template:
- geonode/templates/account/password_reset.html

[2016-06-09 19:30] jonpmarino commented on #1461
re-opening. As of Jun 9th on demo user is still automatically logged in after creating new account before having confirmed via email.

[2016-06-10 12:53] davisc commented on #1526
@reynalddizon can you provide these as a JS array? colorbrewer has that option under the export tab.

[2016-06-10 13:08] reynalddizon commented on #1526
@davisc here:

For Unique:
Option 1: ['#8dd3c7','#ffffb3','#bebada','#fb8072','#80b1d3','#fdb462','#b3de69','#fccde5','#d9d9d9']
Option 2: ['#a6cee3','#1f78b4','#b2df8a','#33a02c','#fb9a99','#e31a1c','#fdbf6f','#ff7f00','#cab2d6']
Option 3: ['#fbb4ae','#b3cde3','#ccebc5','#decbe4','#fed9a6','#ffffcc','#e5d8bd','#fddaec','#f2f2f2']

For Choropleth:
Option 1: ['#ffffe5','#f7fcb9','#d9f0a3','#addd8e'

[2016-06-10 13:25] emilyashley commented on #1526
♡ me some color brewer.

Here's an additional randomized colorblind one for qualitative data (just for good measure) [I want hue](http://tools.medialab.sciences-po.fr/iwanthue/) is pretty great for that, too

["#cf3833", "#02c786", "#b0087f", "#c1e15a", "#0060b9", "#931800", "#4f5700", "#f2456d", "#ff9969"]

[2016-06-10 15:45] jonpmarino commented on #1624
closing. list shared with @zrouse-Boundless and @davisc

[2016-06-10 20:18] Coop56 commented on #1228
I found a way to fix this, tested it and confirmed it as working.  We can finally put this one to rest.

[2016-06-10 20:18] #1228 closed

[2016-06-10 20:19] Coop56 commented on #1627
Holding off on this one based on conversation on standup with @davisc

[2016-06-10 20:40] Coop56 opened #1632 "ERROR (EXTERNAL IP): Internal Server Error: /initiatives/{{ item.detail_url}}"
ERROR (EXTERNAL IP): Internal Server Error: /initiatives/{{ item.detail_url}}
Internal Server Error: /initiatives/{{ item.detail_url}}

DoesNotExist at /initiatives/{{ item.detail_url}}
GroupProfile matching query does not exist.

Request Method: GET
Request URL: http://t2.mapstory.org/initiatives/%7B%7B%20item.detail_url%7D%7D
Django Version: 1.6.10
Python Executable: /home/mapstory/.virtualenvs/

[2016-06-10 20:49] Coop56 commented on #1585
I've created tickets for all of the errors that I see happening often in the dev_ops chat and stripped them of any private information.  The tickets are all listed below.

https://github.com/MapStory/mapstory/issues/1630
https://github.com/MapStory/mapstory/issues/1631
https://github.com/MapStory/mapstory/issues/1632

[2016-06-11 17:58] davisc opened #1633 "Allow remote storage of thumbnails"
Thumbnail creation in Geonode is hard coded to write to the local file system.

[2016-06-11 18:06] davisc commented on #1633
This is complete and now if GeoNode is configured for remote storage using a library like boto, the thumbnails will be saved to the remote location rather than the local file system.

[2016-06-11 18:06] #1633 closed

[2016-06-13 17:32] #1376 closed

[2016-06-13 19:17] Coop56 opened #1634 "Update Ansible YAML Files to Use Become / Become_User"
Sudo and Sudo_User are deprecated as of Ansible 1.9 and while they still work as of right now they will not work in the future.  I've replaced all references of these to the new versions.

[2016-06-13 19:17] #1634 closed

[2016-06-15 14:26] Coop56 commented on #1254
Commenting here for myself - doing some research throughout the Git repo to find all of the issues and conversations related to icons commons for reference.

https://github.com/MapStory/mapstory/issues/1017
https://github.com/MapStory/mapstory/issues/1460

[2016-06-15 14:49] Coop56 commented on #1583
@davisc I fixed the Gravatar warning so the only ones that remain are the two we talked about yesterday that I think should be fixed once you merge in your changes.

[2016-06-16 15:23] jonpmarino opened #1635 "Use GeoNode date range field to drive WHEN search"
Currently the "When" filter on Explore page generates results based on the "published date" of a MapStory or StoryLayer. This was a temporary hot fix. The desired solution was that a WHEN search would generate results based on the actual temporal extents represented by the MapStory or the StoryLayer.

Apparently we can extract the date range on upload,edit and persist in the db model. Then enterin

[2016-06-21 15:42] jonpmarino commented on #1527
Re-opening. Created a new account on beta.mapstory.org on June 21, 2016 (username = JamesMadison) and received the Internal Service Error page after hitting "confirm account" from the confirmation email.

[2016-06-21 16:03] jonpmarino commented on #1610
Hey @reynalddizon this looks really good. One thing we may want to add back somewhere in content is a place for trending tags, since @travislbrundage did the work to expose most used tags already. Also, we could eliminate "Editors Picks" since we sort of already provide for that with the featured content on HOME, which is set by an admin.

[2016-06-21 23:58] jonpmarino commented on #1178
closing. duplicate of #1619

[2016-06-21 23:58] #1178 closed

[2016-06-22 00:23] jonpmarino commented on #1601
closing. we are using Zendesk. non-devs can manage. just need links set properly - #1636

[2016-06-22 00:28] jonpmarino commented on #1599
Just need a link in the layer settings modal as depicted in the screenshot. Link can go to http://wiki.mapstory.org/wiki/MapStory_Uploader#Creating_Quality_Metadata

[2016-06-22 00:30] jonpmarino commented on #1539
closing. no longer helpful

[2016-06-22 00:34] jonpmarino commented on #1516
confirmed on beta. closing.

[2016-06-22 00:39] jonpmarino commented on #1451
deleting. redundant to #1610

[2016-06-22 00:43] jonpmarino commented on #1249
closing. no longer using osqa

[2016-06-23 22:45] jonpmarino commented on #1642
looks fixed.

[2016-06-24 20:13] emilyashley commented on #1643
Would this be the same text for both sites?

Note for self, this currently lives [here](https://github.com/MapStory/mapstory-geonode/blob/150323418fdae4eea4dc675ae4fd7de74f3279fd/mapstory/templates/index.html#L157)

[2016-07-01 14:59] reynalddizon opened #1663 "StoryPins and Playback issue"
I bulk uploaded 50 storypins complete with media and coordinates and time extents. They all uploaded just fine:

<img width="1280" alt="screen shot 2016-07-01 at 10 56 11 am" src="https://cloud.githubusercontent.com/assets/4611843/16525465/86d9e630-3f7a-11e6-91a6-f64f5a9dee8b.png">

But when i tried to play it to see my pins transition one after the other (thats how I designed my pins to appear),

[2016-07-01 20:36] reynalddizon commented on #1663
Here's my data:
[state_final.csv.zip](https://github.com/MapStory/mapstory/files/344145/state_final.csv.zip)

[2016-07-01 20:42] jonpmarino commented on #1527
closing now. seems to be working after 3 new tests on beta (StephenDouglas, SusanAnthony)

[2016-07-01 20:42] jonpmarino commented on #1461
closing. user is no longer signed on before clicking confirmation email.

[2016-07-06 22:58] jonpmarino commented on #1672
Just tested again with https://mapstory.org/layers/geonode:prisons_aywvq2c on mapstory.org production and did not encounter error. Closing this issue, but I do note that the new layer name is presented in the layer settings but still shows up in the URL as the old name
![grab_abcdefg](https://cloud.githubusercontent.com/assets/2573761/16637226/ae00fd4a-43ab-11e6-82da-d09a3e3573bf.jpg)

[2016-07-06 23:00] jonpmarino commented on #1672
Just tested again with https://mapstory.org/layers/geonode:prisons_aywvq2c on mapstory.org production and did not encounter error. Closing this issue, but I do note that the new layer name is presented in the layer settings but still shows up in the URL as the old name

![grab13122](https://cloud.githubusercontent.com/assets/2573761/16637254/e282f5f0-43ab-11e6-9069-a7e32706ec30.jpg)

[2016-07-06 23:29] jonpmarino commented on #1656
closing. tested with 2 new accounts now (JamesMadison and ClaraBarton) and issue has not occurred.

[2016-07-06 23:58] jonpmarino commented on #1649
Closing. Layers can now be loaded into composer

[2016-07-07 01:55] jonpmarino commented on #1233
closing. no longer going to use help.

[2016-07-13 17:30] jonpmarino opened #1683 "Special characters in interests on profile don't work"

[2016-07-13 18:10] jonpmarino opened #1693 "The icon for reordering StoryLayers should be the same one used for reordering chapters"

[2016-07-13 18:12] jonpmarino opened #1694 "While adding a new storybox in composer, playback should pause"

[2016-07-13 18:19] jonpmarino opened #1695 "WHO search requires exact entry of username"
If I write Jon or Jon Marino I do not get a username. Requires exact key of username.

Desired user experience should be an autocomplete box that pulls from both usernames and user real names in different configurations, like First Last or just Last

[2016-07-14 14:37] jonpmarino commented on #1543
done and closed.

[2016-07-15 16:43] jonpmarino commented on #1699
confirmed and done by @Coop56

[2016-07-19 21:40] jonpmarino opened #1713 "Mapquest satellite basemap we use is no longer supported"
shows up like this in composer and playback:

![grab_satellite_gone](https://cloud.githubusercontent.com/assets/2573761/16967601/b6efd986-4dd7-11e6-838b-3a33eea19fc0.jpg)

![grab_satellite_publish](https://cloud.githubusercontent.com/assets/2573761/16967627/df36d868-4dd7-11e6-9a34-9513d0854a89.jpg)

Need to remove and/or replace with another option.

[2016-07-19 21:45] jonpmarino opened #1714 "make storypin playback setting options ticked 'yes' by default"
based on Usersnap 107...suggestion is that most people will want to use the storypin playback options so it would make sense to have them ticked by default and force user to untick if they don't want them.
![slack-imgs com](https://cloud.githubusercontent.com/assets/2573761/16967733/9c494300-4dd8-11e6-8922-8add1b64c072.jpeg)

[2016-07-20 18:47] emilyashley commented on #1705
Updated to show stories in the same category as originally intended in the html comments

[2016-07-20 18:49] emilyashley commented on #1600
Sign-up link is now hidden on the home page welcome slice.

[2016-07-20 22:47] emilyashley commented on #1698
Is this duplicate of https://github.com/MapStory/mapstory/issues/1600 ?

[2016-07-20 22:51] emilyashley commented on #1702
<img width="636" alt="screen shot 2016-07-20 at 5 50 46 pm" src="https://cloud.githubusercontent.com/assets/15912063/17005887/87c2e3bc-4ea2-11e6-846a-1bbf1c58f87a.png">

Is this what you meant?
Will be merged with the sprints-less branch.

[2016-07-20 22:56] emilyashley commented on #1703
<img width="1314" alt="screen shot 2016-07-20 at 5 54 57 pm" src="https://cloud.githubusercontent.com/assets/15912063/17005956/1f9c5e70-4ea3-11e6-97ce-747d26c853a0.png">

Re-instated metadata tab.

[2016-07-20 23:14] emilyashley commented on #1569
Note: the story tab is correctly set as the default active, but the query for stories is set to happen on click.

[2016-07-20 23:29] emilyashley commented on #1708
duplicate https://github.com/MapStory/mapstory/issues/1628

[2016-07-20 23:36] emilyashley commented on #1628
Corrected in geonode templates.

[2016-07-20 23:41] emilyashley commented on #1710
I updated this in profile_detail by re-exposing the extrascript block template that wasn't rendering correctly in the html.

[2016-07-22 15:23] #721 closed

[2016-07-22 15:23] #729 closed

[2016-07-22 15:47] #1285 closed

[2016-07-22 15:59] #1371 closed

[2016-07-22 16:07] jonpmarino opened #1715 "Test and document SHP upload"
- [ ] confirm success across multiple browsers
- [ ] confirm time formats
- [ ] provide documentation in Get Skills and ZenDesk article

[2016-07-22 16:08] jonpmarino opened #1717 "Test and document raster upload"
- [ ] confirm success across multiple browsers
- [ ] confirm time formats
- [ ] provide documentation in Get Skills and ZenDesk article

[2016-07-22 16:08] jonpmarino opened #1718 "Test and document GeoJSON upload"
- [ ] confirm success across multiple browsers
- [ ] confirm time formats
- [ ] provide documentation in Get Skills and ZenDesk article

[2016-07-22 16:12] #1457 closed

[2016-07-22 16:14] #1479 closed

[2016-07-22 16:22] #1517 closed

[2016-07-22 16:32] #1580 closed

[2016-07-22 16:44] #1623 closed

[2016-07-22 17:19] #1663 closed

[2016-07-22 17:36] jonpmarino commented on #1675
Note, I had one of my own StoryLayers as a favorite. When I deleted it from my favorites and refreshed composer and went to the Favorites filter in mini-explore, it worked. So the issue is favoriting your own layers causes mini-explore to break.

[2016-07-22 18:02] #1713 closed

[2016-07-25 15:52] jonpmarino opened #1720 "Last feature of an uploaded layer doesn't show up on playback"
Example, https://mapstory.org/layers/geonode:freespeechdata_rkrup3h

Should have feature in 2005

[2016-07-26 16:43] drwelby opened #1723 "Update to Facebook Graph API 2.1?"
MapStory uses some Facebook api tools for OAuth login, and is sending me notices that the Graph API needs to be upgraded before the current version expires. I don't know if the Graph API is needed for the OAuth login, but in any case the Facebook API access should be moved to a current developer.

[2016-07-27 16:19] jonpmarino opened #1724 "Add filter categories to MapStories in django-admin to match filter categories in "Maps" in django-admin"
Our "maps" in django-admin (which I believe reflect 'chapters') have columns for owner, category and "is published?". This is a great help for finding content when searching django-admin. Be great to have the same thing for mapstories. Right now mapstories just show title, but not the owner, publishing status, or category.

[2016-07-28 15:25] jonpmarino opened #1725 "Storyboxes don't activate when playback is set to cumulative mode"
A published story with storyboxes is set to playback in cumulative mode. The StoryBoxes don't activate as expected.

[2016-08-03 15:17] davisc commented on #1526
https://github.com/google/palette.js/tree/master or https://github.com/c0bra/color-scheme-js

[2016-08-04 15:49] reynalddizon opened #1729 "Attribute data type for CSV datasets"
Upon upload, all data columns in a CSV file automatically become string data columns. This is not the ideal situation for datasets that contain integers, long and double columns as string columns can not be detected by Choropleth and Graduated styles

Thoughts? @davisc @JWileczek

[2016-08-04 16:22] davisc commented on #1729
@reynalddizon there is no way to determine this without scanning all rows for each column to introspectively determine the datatype based on all of the values. This would be a task on upload/import.

[2016-08-10 17:52] reynalddizon opened #1731 "Demo Theme cleanup"
- [x]  active tab indicator in profile page (blue)
- [x]  sign in button (blue)
- [x] Options text hover in Welcome modal in composer (orange)
- [x]  Profile button in composer sidebar (orange)
- [x] Sidebar expand/collapse button hover (orange)
- [x] View storylayer attribute table selected row highlight (orange)
- [x] Remove layer dialog box horizontal divider (brown)
- [x] Visibility and rearra

[2016-08-10 22:46] emilyashley commented on #1731
Cool cool! Thanks Rey. Updated all of these immediately in the themes except for the Remove Chapter modal header. Looks like it's grey unless it's the only chapter in the story at which point the modal header reflects an error tone. What color would you prefer it?

[2016-08-11 16:17] reynalddizon opened #1732 "IconCommons zip upload"
- [ ] There's a size limit for bulk upload of icons, we want to support massive collections. Ex: i tried uploading the entire emoji svg library, it failed.
- [ ] SVGs need to be put in a folder first before zipping to be uploaded. which is different from uploading zipped shapefiles in layer upload. we need to be consistent

[2016-08-11 16:19] reynalddizon commented on #1731
@emilyashley just make it #ddd to be consistent with other popup boxes. thanks!

[2016-08-11 16:19] #1731 closed

[2016-08-11 18:07] jonpmarino opened #1733 "Idea for future: Need to be able to update MapStory metadata on MapStories I own"
There is no way to update the metadata on a mapstory from the detail page, like I can on a StoryLayer detail page. Need to add this.

[2016-08-19 23:28] emilyashley commented on #1670
duplicate #1639

[2016-08-19 23:29] emilyashley commented on #1684
duplicate #1655

[2016-08-23 18:39] jonpmarino opened #1734 "Consider adding a new page type that allows for basic text"
This is a research task first. May not make sense.

Background:

MapStory.org will support for basic "types" of support documentation for users:

-Get Started Guides
-Project Examples/User Testimonials
-Comprehensive Manual
-FAQ

Current method is to provide teasers of Guides and Examples on the "get" pages and then link to wiki for rest of content.

One additional page type that enables basic tex

[2016-08-23 23:33] jonpmarino opened #1735 "Idea for future: Add ability to create "notes' alongside feature edits"
When a user makes an "edit" to a StoryLayer (adds, modifies or deletes a feature) they should have a text field where they can write a brief statement on why they made the edit. Ideally the text field would also allow hyperlinks, so the user could link to evidence to support their edit.

Notes would be in the edit, as a standing separate field from the other feature attributes.

The "notes" should

[2016-08-26 16:01] jonpmarino opened #1736 "Change "Get Skills" page title and link to "Testimonials""
And change "How To" drop down menu on headers to

*Get Started Guides (current Get Started page)
*Testimonials (current Get Skills page)
*FAQ (current link to http://wiki.mapstory.org/wiki/FAQs)
*Manual (current link to http://wiki.mapstory.org/wiki/Technical_Manual)

[2016-08-30 13:33] jonpmarino opened #1739 "Storylayer URL should use a number, like MapStory URL"
MapStory URL currently uses the convention https://mapstory.org/story/12345.

StoryLayer URL currently uses https://mapstory.org/layers/geonode/Layer_Name.

We should change the StoryLayer URL so it uses a fixed number as well....i.e. https://mapstory.org/layers/12345.

This would give users a simple and unchanging reference point for StoryLayers...even if the layer name gets changed around at som

[2016-08-30 23:43] emilyashley commented on #1739
This question already made it on my radar so I'm volunteering my related notes on the topic, fwiw:

- Both of these layer url conventions currently render correctly, as well as `storylayer/id`. All produce identical views.

- Changing a storylayer's name via the metadata form doesn't update its `detail_url` property via elastic search, so the <layername> in url persists as the original name in it'

[2016-08-31 00:31] Coop56 commented on #1739
I would disagree with making them use numbers.  If we want to get SEO traffic we're going to want the URL to be the layer name so that our data can actually come up in Google searches.

[2016-08-31 09:13] ChristopherTucker commented on #1739
Jeremiah,

Good point.  But, how will we deal with changing layer names?

Chris
703-981-9373

[2016-08-31 17:15] Coop56 commented on #1739
I think the best implementation for that would be to allow them to edit their permalink (URL) like Wordpress does.  So if they change the name of the layer they could also change the URL but by default it would remain the same URL as when it was originally uploaded.

[2016-09-07 19:30] jonpmarino opened #1740 "Enable users to "watch" places, time periods, or storytellers or topics they care about."
Users should be able to "watch" the places, time periods, storytellers or topics they care about. Watching means they will receive a notification when an action happens in connection to the items they are "watching".

Next to the "activity feed". Maybe there is a 'watch list'.

[2016-09-07 20:24] jonpmarino opened #1742 "Enable geo web cache"

[2016-09-08 19:27] jonpmarino commented on #1668
@JWileczek can you please update this ticket to explain the zoom level and resolution solution for views

[2016-09-14 05:08] emilyashley commented on #1375
Note: this refers to [here](https://github.com/MapStory/mapstory-geonode/blob/master/mapstory/static/mapstory/js/search.js#L261).

[2016-09-14 20:23] emilyashley commented on #1355
closed https://github.com/MapStory/mapstory-geonode/commit/4393d9e5c443150a068097b678cdfc3e99052dcd

[2016-09-14 20:23] #1354 closed

[2016-09-21 20:03] Coop56 commented on #1608
Have not seen this issue in recent builds.  Closing.

[2016-10-11 19:18] Coop56 commented on #1723
This has been taken care of.  I have the Facebook API access now under a new application and I've updated it to the latest OAuth.

[2016-10-11 19:18] #1723 closed

[2016-10-27 00:24] #1335 closed

[2016-10-27 00:27] Coop56 commented on #1737
We are requiring first and last names on registration, closing issue.

[2016-10-27 00:30] Coop56 commented on #735
Moved to Jira, closing.

[2016-10-27 00:31] Coop56 commented on #1364
No longer relevant, closing.

[2016-10-27 00:32] Coop56 commented on #1348
Home page is responsive, closing.

[2016-10-27 00:32] #1348 closed

[2016-10-27 00:33] Coop56 commented on #1324
No longer relevant, all of these components have been upgraded since.  Closing.

[2016-10-27 00:35] Coop56 commented on #1322
No longer relevant, this modal has been rebuilt.  Closing.

[2016-10-27 00:36] Coop56 commented on #1321
No longer relevant, this modal has been rebuilt.  Closing.

[2016-10-27 00:37] Coop56 commented on #1262
We now provide error messages to the user in the Import Modal.  Closing.

[2016-10-27 00:39] Coop56 commented on #1213
Moved to Jira, closing.

[2016-10-27 00:39] #1213 closed

[2016-10-27 00:41] Coop56 commented on #1287
Duplicate, closing.

[2016-10-27 00:43] Coop56 commented on #1280
This error is no longer happening, closing.

[2016-10-27 00:43] #1280 closed

[2016-10-27 00:49] Coop56 commented on #1583
These were fixed.  Closing.

[2016-10-27 01:03] Coop56 commented on #1712
No longer relevant, there's a view button on layers now that you can click and take you to the detail page and decide what to do from there.  Closing.

[2016-10-27 01:09] Coop56 commented on #1700
This has been resolved, I just tested it to confirm.  Closing.

[2016-10-27 01:16] Coop56 commented on #1739
Moved to Jira, closing.

[2016-10-27 01:16] #1739 closed

[2016-10-27 01:18] Coop56 commented on #1742
Moved to Jira, closing.

[2016-10-27 01:18] #1742 closed

[2016-10-27 01:22] Coop56 commented on #1732
Moved to Jira, closing.

[2016-10-27 01:22] #1732 closed

[2016-10-27 01:30] Coop56 commented on #1526
This is done and already closed in Jira, closing here.

[2016-10-27 02:30] Coop56 commented on #1636
No longer relevant, closing this issue.

[2016-10-27 17:08] jonpmarino opened #1748 "Dancing pins"
Scenario:

I create StoryPins. I'm in composer. When I scroll over pins, the pop up doesn't appear connected to the pin and it bounces around a bit in its behavior.

[2016-10-27 17:40] #1736 closed

[2016-10-27 20:50] jonpmarino commented on #1721
outdated so closing

[2016-10-28 13:29] jonpmarino commented on #1747
closing. In Jira.

[2016-10-28 13:30] jonpmarino commented on #1748
Closing. In Jira.

[2016-10-28 13:30] #1748 closed

[2016-10-28 13:31] jonpmarino commented on #1746
Closing. In Jira.

[2016-10-28 13:33] jonpmarino commented on #1745
Closing. In Jira.

[2016-10-28 13:34] jonpmarino commented on #1744
Closing. In Jira.

[2016-10-28 13:35] jonpmarino commented on #1743
Closing. In Jira.

[2016-10-28 13:35] jonpmarino commented on #1741
Closing. In Jira.

[2016-10-28 13:38] jonpmarino commented on #1738
Closing. In Jira.

[2016-10-28 13:43] jonpmarino commented on #1724
Closing. In Jira.

[2016-10-28 13:43] #1724 closed

[2016-10-28 13:44] jonpmarino commented on #1719
Closing. Noted in Jira.

[2016-10-28 13:49] jonpmarino commented on #1717
closing. in jira.

[2016-10-28 13:49] #1717 closed

[2016-10-28 13:49] #1715 closed

[2016-10-28 13:50] #1718 closed

[2016-10-28 13:50] #1714 closed

[2016-10-28 13:52] jonpmarino commented on #1711
Closing. This is possible.

[2016-10-28 13:53] #1695 closed

[2016-10-28 13:55] #1694 closed

[2016-10-28 13:55] #1693 closed

[2016-10-28 13:57] jonpmarino commented on #1688
Closed. In Jira.

[2016-10-28 13:58] jonpmarino commented on #1686
Addressed by another issue in Jira.

[2016-10-28 14:00] jonpmarino commented on #1680
Closed. In Jira.

[2016-10-28 14:02] jonpmarino commented on #1668
Closing. Addressed in Jira.

[2016-10-28 14:02] jonpmarino commented on #1667
Closing. No longer the case.

[2016-10-28 14:04] jonpmarino commented on #1661
Closing. In Jira.

[2016-10-28 14:05] jonpmarino commented on #1657
Noting. Mentioned in Jira.

[2016-10-28 14:09] jonpmarino commented on #1643
Outdated. Closing.

[2016-10-28 14:10] jonpmarino commented on #1641
Closing. In Jira.

[2016-10-28 14:13] jonpmarino commented on #1635
addressed in Jira. Closing.

[2016-10-28 14:13] #1635 closed

[2016-10-28 14:13] jonpmarino commented on #1629
Done. closing.

[2016-10-28 14:14] jonpmarino commented on #1622
Done and closing.

[2016-10-28 14:18] jonpmarino commented on #1593
done and closing.

[2016-10-28 14:19] jonpmarino commented on #1566
Outdated. closing.

[2016-10-28 14:21] jonpmarino commented on #1480
closing. addressed in Jira

[2016-10-28 14:21] #1480 closed

[2016-10-28 14:24] jonpmarino commented on #1474
addressed in Jira.

[2016-10-28 14:39] jonpmarino commented on #1329
In Jira. Closing, but there is important discussion here to track.

[2016-10-28 14:39] #1329 closed

[2016-10-28 14:47] jonpmarino commented on #1304
covered in Jira.

[2016-10-28 14:49] jonpmarino commented on #737
Closing. Covered in Jira.

[2016-10-28 14:51] jonpmarino commented on #1229
closing. covered in Jira.

[2016-10-28 14:51] #1229 closed

[2016-11-08 23:08] #1734 closed

[2016-11-22 14:44] davisc commented on #1750
Another idea discussed is to create snapshots of the config when the story is published so that if a user needs to make further changes, those changes will not be public until the story is published again.

[2016-11-22 14:45] #1725 closed

[2016-11-22 14:49] #1455 closed

[2016-11-22 14:55] #1239 closed

[2016-11-22 14:58] #840 closed

[2016-11-30 18:31] jonpmarino opened #1753 "Hopscotch tour is out of line with sidebar now in composer"
The steps are out of sync now with new CSS rules.

[2016-12-01 19:43] Coop56 commented on #1754
This has been fixed, closing.

[2016-12-02 23:55] jonpmarino opened #1756 "Add to storylayer detail page a list of the mapstories that use that layer"
idea for future.

As users start using layers in stories, it would be good to visualize links (perhaps a list w/ thumbnails) to the stories that use that layer.

[2016-12-07 16:35] glynnis opened #268 "Share mock-ups for MVP and review with the team"
Ensure that mock-ups cover all features necessary for MVP and don't represent any features that won't be included in the initial release. Vet them with the team and publish them/break them into issues here.

[2016-12-07 16:38] glynnis opened #269 "Complete StoryLayers tab design: Styles/Masks"
**User Story**
As a user composing a story
I want to apply custom styles to a layer within my Mapstory (without affecting the layer itself)
In order to emphasize events or places and help viewers understand the narrative of my MapStory

**Acceptance Criteria**
- Include Icon Commons in the styling panel
- Understand and apply logic from the current implementation of the styling panel for any style

[2016-12-07 16:51] glynnis opened #270 "User testing for StoryPins tab"
1. Are multiple pins expanded simultaneously useful?
2. How do we handle media playback for pins that show at the same date and time (or if they overlap)?
3. Would you like a “apply to all pins in this chapter” checkbox for the toggle switches/playback options for each pin or “create new storypin using this as a template”?
4. What defaults would you expect for toggle switches when you add your fir

[2016-12-07 16:54] glynnis opened #271 "Finalize design for StoryFrames tab"
**Acceptance Criteria**
- [x] Remove playheads and add back date fields
- [x] Add active highlight to indicate which StoryFrame is active on the map
- [x] Add header message like StoryPin to indicate active storyframe (and move directions there)
- [x] Make improvements to StoryFrame text so that the user better understands that the viewer won't see the grayed out/cropped view that they do as they'

[2016-12-07 16:55] glynnis opened #272 "Finalize design for StoryPins tab"
**User Story**
As a user composing a story
I want to create StoryPins for my Mapstory
In order to emphasize events, media, or places to provide more information and context to viewers of my MapStory

**Acceptance Criteria/Questions to Answer**
- [x] Change playheads back to current date picker fields for MVP mock-ups
- [ ] Bulk upload screens: modal, success/error messaging
- [ ] What should the d

[2016-12-07 18:20] glynnis opened #273 "Make a grid of story states"
This story needs to be completed before #275

What states can a story be in with regards to being published, unpublished, draft, saved vs. unsaved changes, etc.

Prep these states, discuss with @jonpmarino and @glynnis so that Design for the header can be completed.

- [ ] Finalize with Marino what states a story can be in:
- - [ ] Can users unpublish/withdraw a story?
- - [ ] If a user chooses to

[2016-12-07 18:22] glynnis opened #274 "Design "preview mode""
Add "preview mode" toggle to the header and design any user flows surrounding that.

[2016-12-07 18:22] glynnis opened #275 "Finalize design for Composer header"
This story depends on #273.
- [x] Designing for a story that has been published, but has additional changes in draft mode but needs to be "republished" to push those changes to their live story

[2016-12-07 18:24] glynnis opened #276 "Table of Contents: Design "Add New Chapter" state"
Current state: "Add New Chapter" button drops you into the "chapter info" tab. Is this what we want to maintain?

[2016-12-07 18:24] glynnis opened #277 "Composer redesign: Notifications"
Redesign notifications. Some scenarios to account for:
- [x] "Are you sure you want to leave this page?" if autosave hasn't taken place
- [x] "Loading" messages/toasts regarding layers and basemaps
- [ ] Error in validating of a form (user forgot a required field or entered invalid info into a form)
- [x] Evaluate positioning collisions with loading/notification toasts & legend
- [x] error saving

[2016-12-07 18:38] glynnis opened #278 "Redesign Viewer Sidebar: Chapter summary"
Currently the chapter summaries can be quite long and require the user to scroll in order to see the full description. If the summary is long and the user must scroll, the "next" and "previous" links aren't initially visible.

Things to consider as part of this effort:
- [ ] Should there be a character limit on Chapter summaries?
- [ ] Should chapter summaries for sidebar be different than chapter

[2016-12-07 18:40] glynnis opened #279 "Viewer Redesign: Sidebar as a canvas for StoryPins"
When a user views the story sidebar, the only thing that currently displays is the chapter summary.

Explore design possibilities of using the sidebar as an option for displaying StoryPin content -- an alternative to showing pins on the map or the timeline.

[2016-12-07 19:42] glynnis opened #280 "Finalize design for Chapter Info tab"

[2016-12-07 19:44] glynnis opened #281 "Finalize design for "Edit story data" modal (from header)"
Where does the information in the story properties modal display?
- Title: story detail page, embedded story, explore page
- Summary: story detail page (could be added to explore or embedded viewer but not currently there)
- Tags: story detail page, tags make a story searchable, add checkbox for "Include tags from all layers", add autocomplete functionality
- Category: story detail page, explore p

[2016-12-07 19:45] glynnis opened #282 "Finalize design for Chapter Playback settings"
- [x] Can default chapter zoom be combined somehow with StoryFrames so that the presentation of both is simplified and a better experience for the user?
- [x] Since aspect ratio issues are the same for StoryFrames and Chapter Zoom, use the same cropping mechanism for both.
- [x] Communicate to the user that setting a chapter zoom is a requirement, or communicate somehow what default will be assume

[2016-12-07 19:45] glynnis opened #283 "Finalize design for Map Control Settings"
- [ ] Add toggle to show story description and title. Right now the embeddable viewer doesn't display this anywhere (the users would have to visit the detail page on mapstory.org). Do we want to add the story description somewhere in the embeddable viewer as part of MVP?

[2016-12-07 19:47] glynnis opened #284 "Design playheads feature for selecting date"
Add playheads feature/UX to:
- [ ] StoryPins
- [ ] StoryFrames

[2016-12-07 20:00] glynnis opened #285 "Redesign and reexamine notifications in Composer"
- We need to evaluate positioning collisions with loading/notification toasts, legend (currently uses “Toaster”, open to modifying or building custom solution)
- Nothing currently exists for this, would be custom built, otherwise no technical feasibility concerns
- Might need to re-evaluate Toaster library and how notifications work

[2016-12-08 16:09] glynnis commented on #272
Questions for standup on 12/8:
1. For Bulk Upload, are we able to show upload progress, or is it success vs. fail, no progress?
 - Success or fail
2. Do we have the ability to show a success or failure message? (demo current behavior)
 - See pins listed in a list format
3. What should the user see on success? What should the user see on failure?
 - Error message display up to me

[2016-12-08 17:44] glynnis commented on #276
Chatted with @emilyashley, and our thinking is:
- Not dropping the user into the "chapter info" tab would mean that we need editable fields on the table of contents
- Keeping the chapter info fields in the chapter context (rather than TOC) may mean that users are more likely to complete summary info
- Therefore, "add new chapter" button *should* drop you into chapter info, just like functionality

[2016-12-08 17:45] #276 closed, assigned to glynnis

[2016-12-08 18:21] glynnis opened #287 "Expose keyboard shortcuts and mouse functionality to users for mapping contexts"

[2016-12-08 18:26] glynnis opened #288 "Composer Redesign: Tour"
- Tour of composer, we could convey this current copy about where to find drafts
- Current tour

[2016-12-08 18:30] emilyashley commented on #287
i.e. Interaction Features, Map Controls

Address what is currently available in different contexts (composer, editor, story viewer, layer viewer) and consider limiting / expanding uses and communicating what's available. Be intentional.

examples:
- zoom box
- zoom wheel
- dragging
- click, double click

Relates to Zoom controls in the interface, as well (+ -, slider, zoom to world)

[2016-12-08 18:43] glynnis commented on #281
Not displaying "Location" for MVP since it doesn't currently work and could be added in later.

"Tags" pictured in mock-up come from Angular Material https://material.angularjs.org/latest/

<img width="528" alt="screen shot 2016-12-08 at 12 42 35 pm" src="https://cloud.githubusercontent.com/assets/1529366/21022884/d543b0ca-bd43-11e6-92b7-5cdbe68d322f.png">

Only question left: should there a chara

[2016-12-08 19:53] glynnis commented on #281
No character counter needed.

[2016-12-08 19:57] emilyashley commented on #281
In the Story Properties modal, as far as the [models](https://github.com/MapStory/geonode/blob/master/geonode/base/models.py#L269) are concerned, neither the summary or the purpose have char limits, but title has a limit of 255 in the db. Not sure if this is the desired limit.

[2016-12-08 20:27] #281 closed, assigned to glynnis

[2016-12-12 15:55] jonpmarino opened #1762 "Re-Implement "Related" logic on layer and story detail pages"
In the long-run, a key strength of MapStory will be its ability to help viewers discover connections between layers and stories across a wide variety of dimensions (time, place, topic, etc).

In the short-run, we should re-implement 3 forms of "related" logic that existed on retro:

1. On the LAYER DETAIL page, a viewer should see a list of "mapstories that use this storylayer"

2. On the MAPSTORY

[2016-12-12 16:30] jonpmarino opened #1763 "transparency of viewer sidebar is too high - text not legible if strong styles are applied"
![screen shot 2016-12-12 at 10 23 55 am](https://cloud.githubusercontent.com/assets/2573761/21107076/162f59da-c056-11e6-90aa-3183db58f89c.jpg)
the current viewer sidebar has a transparency setting, so that the map, layers and styles are visible behind Chapter Info text. The current setting is too transparent. Text is difficult to read if strong stylers are applied.

In screenshot below, the line s

[2016-12-12 23:45] emilyashley commented on #1762
@jonpmarino as its written currently, the layer detail page does have a related content prepared if the resource is categorized, but it is commented out.

The way it is set up is if a resource is categorized, there will be related content from that same category. It was hidden from view in the last rendition of detail page reforms because we had yet to discuss overarching mechanisms for finding re

[2016-12-12 23:52] emilyashley commented on #1761
Cool beans, I can take a look at this and update it next time I'm in the viewer code. It had recently been updated to simply scooch to the side as shown because previously it would resize the canvas for the map in an unsmooth manner.

[2016-12-13 00:07] trepagnier opened #293 "Can't update thumbnails after initial change"
After first uploading a custom thumbnail, consecutive thumbnail changes don't apply.

[2016-12-13 16:42] jonpmarino commented on #1761
@emilyashley sounds good. just logging here for future notice when the time comes for viewer improvements.

[2016-12-13 16:49] jonpmarino commented on #1762
@emilyashley makes sense to want to think about the bigger picture of explorability from layer and story detail pages. Probably also in conjunction with the epic on Explore/Search in general, since these things interconnect. Explore/Search is a #1 priority for me for post 0.0, along with @glynnis redesign interfaces for composer, editor and viewer. fwiw.

[2016-12-13 21:32] jonpmarino commented on #278
@glynnis @emilyashley another thing to consider - Right now a "single chapter mapstory" is treated the same way on the STORY DETAIL page as a multi-chapter mapstory. This means that "chapter info" appears 3 times. 1) chapter info sidebar on map canvas 2) Story Summary area on detail page and 3) Chapter Summary area on detail page. A single chapter mapstory is probably best understood as a "short s

[2016-12-16 16:02] jonpmarino commented on #273
@glynnis in response to your questions, I'd say:
- [ ] yes, a user can unpublish a story
- [ ] If a user makes changes to a published story, to me it makes sense to unpublish while editing, and then republish when finished. this presumably would maintain the mapstory URL and story #...thus not messing with any external embeds of that story that have occurred.
- [ ] yes, user can discard any story

[2016-12-16 16:19] glynnis opened #301 "Resize and compress images to improve load times"
Resize and compress the images from the following lists:
<img width="624" alt="screen shot 2016-12-14 at 1 48 39 pm" src="https://cloud.githubusercontent.com/assets/1529366/21269653/2ce7fe7c-c379-11e6-8be9-ff320aad64d5.png">
<img width="907" alt="screen shot 2016-12-14 at 1 48 45 pm" src="https://cloud.githubusercontent.com/assets/1529366/21269655/2cf5ea14-c379-11e6-9477-c6e2237d7f13.png">
<img wi

[2016-12-16 16:53] glynnis commented on #301
Resized and uploaded the following from https://mapstory.org/admin/groups/groupprofile/:
* people_group/init_breweries.jpg
* people_group/init_boundaries.jpg
* people_group/init_election.jpg
* people_group/init_languages.jpg
* people_group/init_local.jpg
* people_group/init_paleo.jpg

[2016-12-16 17:00] glynnis commented on #301
Resized and uploaded the following from https://mapstory.org/admin/mapstory/sponsor/:
- sponsors/sponsor_dcpl.jpg
- sponsors/sponsor_erdc.jpg
- sponsors/sponsor_lf.jpg
- sponsors/sponsor_sf.jpg
- sponsors/sponsor_sn2.jpg

[2016-12-16 18:02] glynnis commented on #301
I don't think these are ones that I'm able to replace, given that they come from outside of MapStory.

"Need image dimensions" -- not sure where these appear/need to be updated:
- static/geonode/img/missing_thumb.png Comes from GeoNode, I think?
- gravatar.com/avatar/... This is being served by Gravatar

- uploaded/customsite/mapstory_orange_logo.gif - wasn't able to compress this any further usin

[2016-12-16 18:04] glynnis opened #303 "Add templates, JS list, and other data to site map once added to wiki"
Once the site map is relatively complete, create a wiki page that lists JS, assets, templates, and any other relevant info for each page.

[2016-12-16 18:04] glynnis opened #304 "Create site map"

[2016-12-16 19:52] glynnis commented on #304
![sitemap](https://cloud.githubusercontent.com/assets/1529366/21276373/ba0812d4-c396-11e6-9b29-1f00d47b1ef6.png)

[2016-12-16 19:57] glynnis commented on #304
Visible on the wiki here: https://github.com/MapStory/mapstory/wiki/Site-map

[2016-12-16 19:58] glynnis commented on #303
Relates to #304

[2016-12-16 19:58] #304 closed, assigned to glynnis

[2016-12-16 21:55] glynnis commented on #303
@emilyashley I've got the graphic uploaded (click to see large), and made an empty table here that we can fill in with the JS/template info and whatever else needs to be there: https://github.com/MapStory/mapstory/wiki/Site-map

Happy to help fill in but I may need your help getting started.

[2016-12-16 22:27] glynnis commented on #1730
Closing this. Link doesn't work and there's not enough detail here for someone to work on this.

If this is still relevant, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:31] glynnis commented on #1727
Closing this. Styling issues will be addressed in the composer/editor redesign. I'm planning to take stock of what's there, what's working/what's not, and what needs to be included as I begin design work.

If this is still relevant, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:34] glynnis commented on #1720
Closing this.

If this is still relevant and can be reproduced, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017. Be sure to follow [the Bug Report guidelines](https://github.com/MapStory/mapstory/wiki/How-to-report-a-bug).

[2016-12-16 22:34] #1720 closed

[2016-12-16 22:35] glynnis commented on #1758
Closing this. If this is still relevant and can be reproduced, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017. Be sure to follow [the Bug Report guidelines](https://github.com/MapStory/mapstory/wiki/How-to-report-a-bug).

[2016-12-16 22:35] glynnis commented on #1757
Closing this. If this is still relevant and can be reproduced, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017. Be sure to follow [the Bug Report guidelines](https://github.com/MapStory/mapstory/wiki/How-to-report-a-bug).

[2016-12-16 22:35] glynnis commented on #1697
Closing this. If this is still relevant and can be reproduced, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017. Be sure to follow [the Bug Report guidelines](https://github.com/MapStory/mapstory/wiki/How-to-report-a-bug).

[2016-12-16 22:35] glynnis commented on #1632
Closing this. If this is still relevant and can be reproduced, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017. Be sure to follow [the Bug Report guidelines](https://github.com/MapStory/mapstory/wiki/How-to-report-a-bug).

[2016-12-16 22:35] #1632 closed

[2016-12-16 22:35] glynnis commented on #1631
Closing this. If this is still relevant and can be reproduced, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017. Be sure to follow [the Bug Report guidelines](https://github.com/MapStory/mapstory/wiki/How-to-report-a-bug).

[2016-12-16 22:36] glynnis commented on #1707
Closing this. If this is still relevant and can be reproduced, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017. Be sure to follow [the Bug Report guidelines](https://github.com/MapStory/mapstory/wiki/How-to-report-a-bug).

[2016-12-16 22:39] glynnis commented on #1639
This is fixed. Closing.

![screen shot 2016-12-16 at 4 38 54 pm](https://cloud.githubusercontent.com/assets/1529366/21280836/2a044032-c3ae-11e6-89ed-2caa54802fdf.png)

[2016-12-16 22:40] glynnis commented on #1637
Closing this. If this is still relevant and can be reproduced, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017. Be sure to follow [the Bug Report guidelines](https://github.com/MapStory/mapstory/wiki/How-to-report-a-bug).

[2016-12-16 22:40] glynnis commented on #1630
Closing this. If this is still relevant and can be reproduced, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017. Be sure to follow [the Bug Report guidelines](https://github.com/MapStory/mapstory/wiki/How-to-report-a-bug).

[2016-12-16 22:41] glynnis commented on #1617
Closing this. I think this will get addressed as we do the Layer Editing redesign work.

If this is still relevant, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:41] glynnis commented on #1610
Closing this. I think this will get addressed as we do the Explore redesign work.

If this is still relevant, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:42] glynnis commented on #1557
Closing this. If this is still relevant (especially if it's relevant for the Composer redesign), please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:43] glynnis commented on #1556
Closing this. If this is still relevant, please create a new issue with more detail at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:43] glynnis commented on #1522
Closing this. If this is still relevant, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:43] #1522 closed

[2016-12-16 22:44] glynnis commented on #1493
Closing this. If this is still relevant, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:44] glynnis commented on #1476
Closing this. If this is still relevant, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:45] glynnis commented on #1470
Closing this. If this is still relevant (especially for upcoming Viewer redesign work), please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:45] glynnis commented on #1466
Closing this. If this is still relevant, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:46] glynnis commented on #1388
Closing this. If this is still relevant (especially re: Composer redesign), please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:47] glynnis commented on #1272
Closing this. If this is still relevant, please create a new issue with more detail at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:47] #1272 closed

[2016-12-16 22:47] glynnis commented on #1271
Closing this. If this is still relevant, please create a new issue with more detail at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:47] #1271 closed

[2016-12-16 22:48] glynnis commented on #1265
Closing this. If this is still relevant, please create a new issue with more detail at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:48] glynnis commented on #1264
Closing this. If this is still relevant, please create a new issue with more detail at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:48] glynnis commented on #1081
Closing this. If this is still relevant, please create a new issue with more detail at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:48] #1081 closed

[2016-12-16 22:49] glynnis commented on #527
Closing this. If this is still relevant, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:49] #527 closed

[2016-12-16 22:49] glynnis commented on #1685
Closing this. If this is still relevant, please create a new issue with more detail at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:50] glynnis commented on #1683
Closing this. If this is still relevant, please create a new issue with more detail at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:50] #1683 closed

[2016-12-16 22:50] glynnis commented on #1679
Closing this. If this is still relevant and can be reproduced, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

Be sure to follow [the Bug Report guidelines](https://github.com/MapStory/mapstory/wiki/How-to-report-a-bug).

[2016-12-16 22:51] glynnis commented on #1675
Closing this. If this is still relevant and can be reproduced, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

Be sure to follow [the Bug Report guidelines](https://github.com/MapStory/mapstory/wiki/How-to-report-a-bug).

[2016-12-16 22:51] glynnis commented on #1662
Closing this since links are broken.

If this is still relevant and can be reproduced, please create a new issue at https://github.com/MapStory/mapstory/issues, where the team will be working from in 2017.

[2016-12-16 22:52] glynnis commented on #128
Closing this given the redesign work underway and the age of this issue.

[2016-12-16 22:52] #128 closed, assigned to nobody

[2016-12-16 22:53] glynnis commented on #18
Closing this given the redesign work underway and the age of this issue. Please reopen and include more detail about what is desired here from a feature standpoint if this is still relevant.

[2016-12-16 22:53] #18 closed, assigned to nobody

[2016-12-16 22:53] glynnis commented on #211
Closing this given the redesign work underway and the age of this issue. Please reopen and include more detail about what is desired here from a feature standpoint if this is still relevant.

[2016-12-16 22:53] #211 closed, assigned to nobody

[2016-12-16 22:53] glynnis commented on #212
Closing this given the redesign work underway and the age of this issue. Please reopen and include more detail about what is desired here from a feature standpoint if this is still relevant.

[2016-12-16 22:53] #212 closed, assigned to nobody

[2016-12-16 22:53] glynnis commented on #9
Closing this given the redesign work underway and the age of this issue. Please reopen and include more detail about what is desired here from a feature standpoint if this is still relevant.

[2016-12-16 22:53] #9 closed, assigned to nobody

[2016-12-16 23:54] jonpmarino opened #305 "Add support for raster filed on import"
As a user, I want to upload raster data, such as a print map or an aerial image, or sequence of images, into MapStory as a StoryLayer so I can do things, like, make MapStories that animate digital data on top of historic print maps or images.

**Acceptance Criteria**

- [ ] Support injest of a single geo-referenced image with a date
- [ ] Support injest of a zipped file with several images (mosaic

[2016-12-19 05:29] jonpmarino commented on #1422
Closing. This point is addressed in the Roadmap section, https://github.com/MapStory/mapstory-roadmap/blob/master/items/versioning-proto.md

[2016-12-19 05:29] #1422 closed

[2016-12-19 05:31] jonpmarino commented on #1618
closing and reproducing in /mapstory repo

[2016-12-19 05:32] jonpmarino commented on #1653
closing and reproducing in /mapstory repo

[2016-12-19 05:44] jonpmarino opened #306 "Re-deploy Activity Feed to user profiles"
We de-activated the Activity Feed on user accounts because:

1) it was showing the creation of individual "chapters" as its own action, with links to chapters outside the context of their story and,

2) we weren't tracking users uploading of icons in the activity.

We should add the icon uploads to activity feed data and remove links to individual chapters, rather than just mapstories, and redeplo

[2016-12-19 05:45] jonpmarino commented on #1709
closing and reproducing in /mapstory repo

[2016-12-19 05:46] jonpmarino commented on #1722
closing. addressed in the roadmap, https://github.com/MapStory/mapstory-roadmap/blob/master/items/table-based-editing.md

[2016-12-19 05:47] #1729 closed

[2016-12-19 05:48] #1733 closed

[2016-12-19 05:48] jonpmarino commented on #1735
closing. addressed in Roadmap

[2016-12-19 05:48] #1735 closed

[2016-12-19 05:54] jonpmarino opened #307 "Normalize column names for imported data"
When a user imports a dataset, the wizard should allow the user to help sanitize and normalize attribute names to a common schema so that there is consistency with naming and casing of attributes labels within the application. This will also help avoid the use of reserved words as attribute names.

We could keep a mapping of changes and use as future suggestions at the point of upload.

Example fi

[2016-12-19 05:55] jonpmarino commented on #1749
closing and reproducing in /mapstory repo

[2016-12-19 05:59] jonpmarino commented on #1751
closing. this is addressed in the Roadmap entry on Legend.

[2016-12-19 06:08] jonpmarino commented on #1753
closing and reproducing in /mapstory repo

[2016-12-19 06:08] #1753 closed

[2016-12-19 06:08] jonpmarino opened #308 "Remove hopscotch tour from composer"
It is now out of sync given new CSS.

@glynnis new composer interface will include an updated method of guiding new users in composer.

[2016-12-19 06:10] jonpmarino commented on #1752
closing. this styling note is reflected in the Roadmap sectioin on styling.

[2016-12-19 06:10] jonpmarino commented on #1755
closing and reproducing in /mapstory rep

[2016-12-19 06:11] Coop56 commented on #307
@davisc Since you already took the time to create this giant list - should we write a script to go through and change all of the field names outlined here to the normalized version?  (start_time or end_time)

[2016-12-19 06:12] jonpmarino opened #309 "Add table columns in django-admin for MapStories like we have for StoryLayers"
this enables bulk actions like setting categories or published status without having to into each MapStory one by one.

(not providing screenshots since an internal admin issue)

[2016-12-19 06:12] #1756 closed

[2016-12-19 06:13] jonpmarino commented on #1759
addressed in roadmap. closing.

[2016-12-19 06:13] jonpmarino commented on #1760
closing. addressed in roadmap.

[2016-12-19 06:17] jonpmarino opened #310 "Fully collapse sidebar into hamburger menu"
Currently, the viewer sidebar collapses to the LEFT, and partially shows. The ideal behavior is for the sidebar to fully collapse, and to be accessible by clicking the hamburger menu at top left.
![screen shot 2016-12-12 at 9 44 36 am](https://cloud.githubusercontent.com/assets/2573761/21105473/f05b654c-c04f-11e6-8d32-aaa170d12764.jpg)

[2016-12-19 06:17] jonpmarino commented on #1761
closing and reproducing in /mapstory rep

[2016-12-19 06:17] jonpmarino commented on #1762
Closing. Addressed in Roadmap where we can have a proper scoping discussion before breaking up into tickets.

[2016-12-19 06:17] #1762 closed

[2016-12-19 06:21] jonpmarino opened #311 "transparency of viewer sidebar is too high - text not legible if strong styles are applied"
![screen shot 2016-12-12 at 10 23 55 am](https://cloud.githubusercontent.com/assets/2573761/21107076/162f59da-c056-11e6-90aa-3183db58f89c.jpg)
the current viewer sidebar has a transparency setting, so that the map, layers and styles are visible behind Chapter Info text. The current setting is too transparent. Text is difficult to read if strong stylers are applied.

In screenshot below, the line s

[2016-12-19 06:21] jonpmarino commented on #1763
reproducing in /mapstory repo

[2016-12-19 06:21] #1763 closed

[2016-12-19 06:21] jonpmarino commented on #1740
closing. Addressed in the Roadmap

[2016-12-19 06:21] #1740 closed

[2016-12-19 06:44] jonpmarino opened #312 "Reimplement carousel for featured MapStories on Homepage"
A moving carousel allows us to show off a set of mapstories on the homepage.

If the implementation is easier without the category tabs, we can remove those and just feature a single common set of mapstories.

restatement of MSSS-284 in Jira, https://issues.boundlessgeo.com:8443/browse/MSSS-284

[2016-12-19 06:46] jonpmarino opened #313 "New mapstories have no initial thumbnail created"
We are not generating any original thumbnails for new stories anymore. All appear as an empty image.

A first effort model could be to grab the image at the last slice of Chapter 1. This will guarantee that there is some data features to visualize. And, every story will have 1 chapter.

Users can already also upload their own thumbnail to override the auto-thumbnail. But we need to at least provid

[2016-12-19 06:51] jonpmarino opened #314 "Remove storyteller explore filters until they are functional"
The "interests", "city" and "country filters on storyteller explore don't work and should be removed from prod until operable.

(this is a restatement of MSSS-248 in Jira, https://issues.boundlessgeo.com:8443/browse/MSSS-248

![_thumb_11336](https://cloud.githubusercontent.com/assets/2573761/21303598/074af88c-c585-11e6-81b3-f9d28f5ca23f.png)

[2016-12-19 06:55] jonpmarino opened #315 "Add a clear search function to explore"
Currently there is no simple way for a user to return to a state where they can see all StoryLayers and MapStories after they have filtered content somehow, using a filter or word search, for example. The only obvious way is to refresh the entire browser.

A Clear Search button will make it easy for a user to return to a state of seeing all content.

this is a restatement of MSSS-251 https://issue

[2016-12-19 06:58] #315 closed, assigned to emilyashley

[2016-12-19 06:58] #314 closed, assigned to nobody

[2016-12-19 07:00] jonpmarino opened #316 "Icon Commons icons should show in a list without requiring search"
When a user is trying to add an icon to a point-layer style, the Icon Commons modal appears with no icons pre-loaded. Thus, it looks empty:

![screen shot 2018-07-23 at 7 33 15 pm](https://user-images.githubusercontent.com/2573761/43110073-9dbc5456-8eaf-11e8-9d42-ed93abf197e3.jpg)

![screen shot 2018-07-23 at 7 33 26 pm](https://user-images.githubusercontent.com/2573761/43110078-a3fd2660-8eaf-11e8

[2016-12-19 07:07] jonpmarino opened #317 "Use Core GeoNode"
Remove all of the custom MapStory specific code from our fork of Geonode so that we can stay up to Geonode master, and so that the Geonode tests will work.  Geonode is already fairly tested (and we can add tests and submit PRs to Geonode if anything is missing) so this will help get us a long way towards a high percentage of automated test coverage.

[2016-12-19 07:10] jonpmarino opened #318 "Add Wikipedia as a whitelisted service for StoryPins"

[2016-12-19 07:15] jonpmarino opened #319 "Single sign-on to Wiki.mapstory.org fails"
**Expected Behavior**

A user with a MapStory account that visits wiki.mapstory.org should be able to log into the wiki with their mapstory user account credentials and begin editing wiki.mapstory.org. All of their edits on wiki.mapstory would be attributed to their mapstory user account.

**Current Behavior**

1. Go to wiki.mapstory.org and click "o-auth login" at top right

![screen shot 2017-05

[2016-12-19 07:38] jonpmarino opened #320 "Update elastic search object so that if a user changes their name, their content attaches to new name"

[2016-12-19 07:39] jonpmarino opened #321 "Investigate a Check service to avoid uploading/importing of identical data"

[2016-12-19 07:40] jonpmarino opened #322 "Evaluate performance of vs.js"

[2016-12-19 07:44] #312 closed, assigned to emilyashley

[2016-12-19 07:44] #308 closed, assigned to emilyashley

[2016-12-19 16:24] jonpmarino opened #323 "ensure the transifex tags are used throughout our text content"
This is a necessary pre-req to enabling the Transifex crowdsourced language translating tool.

[2016-12-19 16:27] jonpmarino opened #324 "Enable storypin embedded media to play automatically, rather than requiring a click"
Place holder issue for a known feature enhancement that will be rolled into @glynnis composer and viewer redesign.

This is a technical pre-req for enabling "Museum Mode", which means that a multi-chapter mapstory can be playted from beginning to end, with all media from storypins playing as well.

The scenario is this:

A user creates a StoryPin that has an embedded YouTube video.

The user wants

[2016-12-19 18:22] jonpmarino opened #325 "When selecting an attribute with integers while using Unique styling, error "argument must be a string" occurs"

[2016-12-19 20:52] glynnis commented on #301
After talking with @emilyashley, she indicated that indeed the avatar from Gravatar is coming from an external source, so we won't be able to compress it ourselves.

For `missing_thumb.jpg`, we both searched for the image within the repo and checked for the image in GeoServer and GeoNode, but couldn't figure out where it was coming in (in order to overwrite the image with a new file that's better

[2016-12-20 06:00] emilyashley commented on #320
Had some notes on this:

- 'first_name' & 'last_name' aren't on geonode's Profile Model but instead are in our EditProfileForm

- our own custom mapstory_profile_post_save also calls geonode's profile_post_save

 - viewing the detail page of said resource will trigger the first / last name information to be updated in search results

[2016-12-20 16:07] glynnis opened #328 "Create documentation for issue reporting"
Write documentation for the project on all possible issue types to establish conventions that should be followed when creating issues:
- [x] Bugs
- [x] Feature requests
- [x] Design stories
- [x] Technical spikes

[2016-12-21 16:22] glynnis commented on #328
I wrote documentation and added several pages to the wiki about various issue types: https://github.com/MapStory/mapstory/wiki#creating-issues

@Coop56 @darinacosta @emilyashley @zunware @jonpmarino Please take a look at the wiki and let me know if there are questions, differences in opinion, etc., and we can revise.

[2016-12-21 16:22] #328 closed, assigned to nobody

[2016-12-21 16:41] glynnis opened #329 "Create issue templates for github"
https://github.com/blog/2111-issue-and-pull-request-templates

[2016-12-21 19:30] jonpmarino opened #330 "StoryPin media service used in maploom/composer needs to be configured for storytools/viewer"
Steps to reproduce:

1. Go to mapstory composer
2. add a storypin
3. Paste a link to media in your storypin using one of our supported media services (i.e. flickr)
4. Confirm that the media link shows the media popping up as you play back your layer in composer
5. Publish your story.
6. Notice that your storypin media does not show up as an embed, but just as a text link in a published story.

(Th

[2016-12-21 22:46] glynnis commented on #303
I updated https://github.com/MapStory/mapstory/wiki/Site-map.

Still left to do:
- [ ] Complete the "to do" areas at the bottom with info from the google doc of notes
- [ ] Add numbers that correspond to the site map graphic
- [ ] Update the site map graphic with pages from the list that aren't represented yet
- [ ] Add URLs to MapStory.org where appropriate
- [ ] Add info about JS assets

@emilya

[2016-12-22 04:53] Coop56 commented on #329
I like this idea.  We should utilize the .github/ folder option so that we don't clutter up root.

[2016-12-23 16:52] Coop56 commented on #322
This one needs more information / context.  @jonpmarino @davisc?

[2017-01-02 18:52] jonpmarino opened #336 "Changing a published story causes all StoryPins to be erased"
### Steps to reproduce

- [ ] go to mapstory.org and login
- [ ] Add storypins to a story in composer
- [ ] Publish the story
- [ ] click "change published draft"
![screen shot 2017-01-02 at 12 49 37 pm](https://cloud.githubusercontent.com/assets/2573761/21594595/f86811fe-d0e9-11e6-886a-b30fd9b20705.jpg)
- [ ] open storypins in composer. All storypins are gone.

(ticketed created with story https:

[2017-01-02 18:58] jonpmarino opened #337 "Viewer does not appear to support ESRI basemap. Or confirm it works."
### Steps to reproduce

- [ ] Go to mapstory.org and login
- [ ] Create a new mapstory
- [ ] Create a new chapter
- [ ] Select the ESRI NGS basemap. For example:

![screen shot 2017-01-02 at 12 56 09 pm](https://cloud.githubusercontent.com/assets/2573761/21594670/ecf60f78-d0ea-11e6-84c2-6f98e9126ee8.jpg)

- [ ] Add a layer to your story and publish it

In viewer, the basemap is missing
![screen sh

[2017-01-03 14:32] jonpmarino opened #338 "After deleting a message, user is brought to the wrong view"
Issue summary:
After deleting a message on your profile, you should remain on your profile page with the Messages tab open. Now, however, after deleting a mapstory, the user ends up on an "inbox" view that is not connected to Profile.

Steps to reproduce:
1) Login and go to user profile
2) Delete a message. If you don't have a message to delete, ask another user to send you a message
3) You will e

[2017-01-03 15:54] glynnis commented on #338
@jonpmarino Just wanted to say that this is a fantastic bug report! Super clear and easy to understand, even without additional context :+1:

[2017-01-03 15:55] glynnis commented on #325
@jonpmarino Closing this for lack of detail. Feel free to re-open after you've updated it to use the [Bug Report template](https://github.com/MapStory/mapstory/wiki/How-to-report-a-bug).

[2017-01-03 15:55] #325 closed, assigned to trepagnier

[2017-01-03 15:59] glynnis commented on #322
@jonpmarino Closing this for lack of detail. Feel free to re-open after you've updated to include some of the detail specified by the [Spike template](https://github.com/MapStory/mapstory/wiki/How-to-create-a-spike), specifically: what is the deliverable? What questions should be answered by this task, and why?

[2017-01-03 15:59] #322 closed, assigned to davisc

[2017-01-03 16:00] glynnis commented on #321
@jonpmarino Closing this for lack of detail. From the title, this sounds like a spike. Feel free to re-open after you've updated to include some of the detail specified by the [Spike template](https://github.com/MapStory/mapstory/wiki/How-to-create-a-spike), specifically: what is the deliverable? What questions should be answered by this task, and why?

[2017-01-03 16:00] #321 closed, assigned to davisc

[2017-01-03 18:55] glynnis commented on #338
@jonpmarino Could you add the URLs for these screen shots?

[2017-01-03 22:13] glynnis commented on #301
@emilyashley Closing this since we got the bulk of it addressed and I think there are many higher priority things that have swept in since we last looked at this. If you feel like this is still a priority or important, make a new issue please :)

[2017-01-03 22:13] #301 closed, assigned to emilyashley

[2017-01-03 22:50] glynnis commented on #285
Adding these to #277 to de-duplicate.

[2017-01-03 22:50] #285 closed, assigned to glynnis

[2017-01-04 14:18] jonpmarino opened #342 "Adding a media link as a StoryPin that isn't part of our white listed service causes an error"
Using mapstory.org with Chrome Version 55.0.2883.95 on Jan 3rd.

To reproduce:

1. Login and compose a new mapstory
2. add a layer to a chapter
3. create a storypin.
4. Paste a link to a jpeg images from Wiki Commons (non supported service), such as:
![screen shot 2017-01-04 at 8 15 08 am](https://cloud.githubusercontent.com/assets/2573761/21645039/17eaecf0-d256-11e6-8af4-5c49703410d8.jpg)
5. The

[2017-01-04 14:22] jonpmarino opened #343 "Add Wikimedia Commons as a supported Media Service for StoryPoins"
Wikimedia Commons is a key source of openly licensed imagery that will be vital for storytelling. This should be added to our existing list of supported services for StoryPins, which currently includes: YouTube, Twitter, Imgur, SoundCloud, Flickr, Instagram, Vimeo, Vine.

[2017-01-04 19:43] glynnis commented on #280
This is done from a design stand point. Closing.

[2017-01-04 19:43] #280 closed, assigned to glynnis

[2017-01-04 20:43] glynnis opened #344 "Finalize StoryPins tab"
- [ ] Update label for "StoryPin Media" to make it more clear what goes in that field.
- [ ] Double check what's in MVP for the toggle switches
- [ ] Is "Play embedded StoryPin media automatically" the correct text? Ask John W. the status of StoryPin media and whether it's at a point that it can be included in MVP designs.
- [ ] Bulk Upload screens
- [ ] What fields are mandatory for saving a Stor

[2017-01-04 22:33] glynnis commented on #288
Tour screens in order (this may not be a complete list, but shows a lot of them):
<img width="1438" alt="screen shot 2017-01-04 at 11 30 37 am" src="https://cloud.githubusercontent.com/assets/1529366/21652176/4c473524-d271-11e6-8aa6-7e59580a57a9.png">
<img width="1436" alt="screen shot 2017-01-04 at 11 30 44 am" src="https://cloud.githubusercontent.com/assets/1529366/21652177/4c4758ba-d271-11e6-9e

[2017-01-05 20:34] glynnis commented on #272
- StoryPins that aren't tied to geographic data aren't part of MVP.
- Evaluate whether StoryPins on timeline only are working well/can be included in improvements

[2017-01-05 20:38] glynnis commented on #273
- Also consider: how do we communicate to the user that a draft or published story uses layers that have had updates? Do we let the user pin their story to a particular commit on a layer?

[2017-01-05 20:52] glynnis commented on #282
From @davisc: design I have as of 1/5 should be sufficient for demo purposes. Adding playback modes, or range display can come later.

[2017-01-06 22:15] glynnis opened #349 "Write interview script for benchmark user testing"
Create interview script for benchmark user testing with Composer.

[2017-01-09 20:40] glynnis opened #351 "Composer design updates needed for upcoming demo"
- [x] Change "Edit story data" to "Edit story info"
- [x] Make chapter summary box larger to fill up more space in sidebar
- [x] Add "Range: Plays features from the start date to the end date as defined in the StoryLayer" to the Playback settings sidebar.
- [x] Remove Playback Modes section from Playback Settings sidebar
- [x] Remove "Masks" from Layers panel
- [x] Remove Legend area from the Cont

[2017-01-09 20:41] smithkm opened #352 "Improve truncation in GeoWebCache when using parameterized caches"
* If a layer's data is edited by a WFS-T transaction, the embedded GWC listens for that event and truncates the cache in the bounding box of that transaction.  It does so across formats, gridsets, and styles the layer is configured to cache.  It does not do so across other parameters like time (it will only truncate for the default value).  Time filters are generally using regular expressions and

[2017-01-09 20:44] smithkm opened #353 "Automatically expand layer extent in response to edits."
GWC needs to know the extent of the layer in order to cache it.  If the configured extent of the layer is too small, content outside it it's omitted from the cache.  Using the integrated endpoint that leads to the cache being bypassed and Geoserver handles the request, or via the GWC specifc endpoint the content is chopped off.

[2017-01-09 22:34] smithkm commented on #352
I was working on this 2 years ago.  Hopefully I can salvage something https://github.com/smithkm/geowebcache/commit/6f0d1961529e6da163b44eb4b3965cde29b76d23

[2017-01-10 16:47] Coop56 opened #356 "Update Importer to Use the Layers Original Projection"
As a user importing data, I want to be able to maintain the same projection that my data itself used in order to see my data play properly in the Composer and Viewer.

Acceptance Criteria
- The original projection should be saved when a layer is imported.
- The original projection should be utilized in Composer.
- The original projection should be utilized in Viewer.

[2017-01-10 21:32] smithkm commented on #352
Rebasing the old work doesn't look like it's worth the effort.  Looking it over should still help getting me back to understanding what I need to do faster this time.

[2017-01-11 16:34] jonpmarino opened #357 "Adding a feature in edit mode to a newly uploaded layer causes a 504 error"
At mapstory.org, on Jan 11 using Robert LaFollette user account on Chrome Version 55.0.2883.95, I

1. Went to this StoryLayer, https://mapstory.org/layers/geonode:prisons_jan_11
2. Clicked "edit storylayer"
3. In edit mode, _added_ a new feature located on the southern tip of Greenland with date 1930. Put FID as 1.
4. Clicked save.
5. Received the 504 error message indicated in the screenshot.
![s

[2017-01-11 16:47] jonpmarino commented on #357
Just noticed that the edit i made actually is appearing in the "contributions" tab on viewer page. But the newly added feature _does not_ show up in playback of the layer, so it does not appear to be there by any viewer of the layer. (again, the newly added feature was placed at the southern tip of Greenland in 1930). This playback issue for added features is captured on Jira as https://issues.bou

[2017-01-11 21:42] glynnis commented on #351
Updates made and added to InVision. Closing.

[2017-01-11 21:42] #351 closed, assigned to glynnis

[2017-01-11 21:42] glynnis commented on #349
Complete and in the `Design > UI > MapStory` folder in GDrive.

[2017-01-11 21:42] #349 closed, assigned to glynnis

[2017-01-12 20:42] jonpmarino opened #359 "mapstory.org/getstarted link in Welcome email goes to error page"
When you create a new account on mapstory.org, you receive an email welcoming you to the site. This email includes a link to www.mapstory.org/getstarted. Here's what that email looks like:

![screen shot 2017-01-12 at 2 35 31 pm](https://cloud.githubusercontent.com/assets/2573761/21907415/1b86a630-d8d5-11e6-95b6-60eb8220de2a.jpg)

Currently the link goes to the wrong link > https://mapstory.org/ge

[2017-01-12 21:36] #268 closed, assigned to glynnis

[2017-01-12 21:44] glynnis commented on #270
Closing this as I've incorporated it into notes I have for future user testing, and I'm cleaning up the design stories on github to include actionable items with clear deliverables.

[2017-01-12 21:44] #270 closed, assigned to glynnis

[2017-01-12 21:47] glynnis commented on #271
This has been completed and is now on InVision.

[2017-01-12 21:47] #271 closed, assigned to glynnis

[2017-01-17 17:52] Shepsara opened #360 "first edit showing as anonymous in layer history in composer"
![image](https://cloud.githubusercontent.com/assets/13316560/22032578/ecd1d102-dcb2-11e6-8839-6709d3515814.png)

1. I imported a layer
2. edited a feature on that layer
3. checked history and noticed that the first edit was labeled anonymous instead of my name
I was logged in as debbieberry using mapstory.org on Chrome Version 55.0.2883.87 m on January 17th at about  12:30pm

[2017-01-17 18:28] jonpmarino commented on #360
Noticed that the username _is_ actually being captured in the detail page edit history. But, it does show up as anonymous in the edit-layer view (link to detail page for that layer is https://mapstory.org/layers/geonode:mlk_speeches_deb_z7jqe0n)
![screen shot 2017-01-17 at 12 27 48 pm](https://cloud.githubusercontent.com/assets/2573761/22034032/749a4450-dcb0-11e6-808a-59d30ecfb7e2.jpg)

[2017-01-18 19:43] Coop56 opened #362 "Update to OSGEO Importer Master"
This is a spike issue that will encompass many other issues.  The goal for this spike is to research what it will take to get us upgraded to the master version of django-osgeo-importer.  I will create separate issues out of this one and reference this issue.

Once all of those issues are completed and we're officially using the latest version of django-osgeo-importer this issue will be considered

[2017-01-18 23:20] jonpmarino commented on #309
this was completed by @Coop56. closing.

[2017-01-18 23:20] #309 closed, assigned to Coop56

[2017-01-18 23:44] #318 closed, assigned to nobody

[2017-01-19 00:07] jonpmarino opened #363 "The download schema for append adds additional fields which makes it unclear what a user should do"
**Background:**

![screen shot 2017-01-18 at 6 05 48 pm](https://cloud.githubusercontent.com/assets/2573761/22088335/ed38e7c4-dda8-11e6-8e22-79aaec106413.jpg)

The purpose of the Append function is to let a user add several edits to a StoryLayer at once. The current workflow for doing this to go to a StoryLayer, click "Append", download a blank schema, add your features to this schema, return to t

[2017-01-19 15:28] #282 closed, assigned to glynnis

[2017-01-19 15:28] glynnis commented on #282
This was completed last week and results are up on https://invis.io/5S9J2QNAP#/203578190_Chapter_Info_Tab

[2017-01-19 18:19] jonpmarino opened #365 "Ensure Viewer only shows one world"
Users with no data can use the CREATE STORYLAYER wizard to create a new storylayer that is empty, and then use the "edit" functionality to add features to the empty storylayer.

In our current UI there is no method for setting the starting "zoom level" of a created layer. As a result, newly created StoryLayers look like this:

![screen shot 2017-01-19 at 12 06 52 pm](https://cloud.githubuserconten

[2017-01-19 21:12] jonpmarino opened #366 "Users are unable to create layers until they have imported a layer first. production only."
Users are unable to use the Create Layer feature if they have not previously imported a layer. We need to fix the create layer feature so that users who have not previously imported a layer can use the feature.

The purpose of the Create Layer feature was to empower users who know a significant amount about a topic, but may not have starter data about it to import. If we prevent users from using C

[2017-01-19 21:26] jonpmarino opened #367 "Error when adding features to a newly created layer. = character required after Date ?"
Using useraccount johnglenn on January 19th using Chrome Version 55.0.2883.95.

1. I created the storylayer: Beer Breweries Jan 19 (https://mapstory.org/layers/geonode:beer_breweries_jan_19). The layer has the following attributes:

![screen shot 2017-01-19 at 3 24 23 pm](https://cloud.githubusercontent.com/assets/2573761/22125957/66867ed6-de5b-11e6-90ea-a7e6d23bbd22.jpg)

2. I tried to add this n

[2017-01-19 21:50] jonpmarino commented on #367
tried another test where i removed "date" from the title of an attribute. This time got the same error message about = must follow Name in the attribute title. I think it doesn't like if you have the words "Date" and "name" in your attribute titles. Going to try again without using date or name in my attribute titles
![screen shot 2017-01-19 at 3 47 55 pm](https://cloud.githubusercontent.com/asset

[2017-01-19 22:43] jonpmarino commented on #367
in conversation with @davisc learned that we should not be allowing spaces in Attribute Names for Create Layer. Created a new test with no spaces in attribute names. Receives this error message, presumably because one of my attribute names has a ' :
![screen shot 2017-01-19 at 4 38 40 pm](https://cloud.githubusercontent.com/assets/2573761/22128365/c7a0dd24-de65-11e6-9760-f140f67a14eb.jpg)

[2017-01-19 22:52] jonpmarino commented on #367
success. when no spaces or special characters appear in the attribute titles, the feature gets successfully created. I'm going to close this issue and create 2 separate ones. 1 0.0 item for updating the modal text so we tell users not to create spaces or add special characters to their attribute titles, and a second longer term issue for sanitizing so that we can let users have spaces and special

[2017-01-19 22:52] #367 closed, assigned to davisc

[2017-01-19 22:58] jonpmarino opened #368 "Update Create StoryLayer modal text so it tells user not to use "name" as a field title"
Errors will occur if a user creates a StoryLayer with the attribute title "name". The layer creates, but once the user gets to the step of adding features, the attribute with the title "name" will not appear.

Our current modal text in Create StoryLayer at the Attributes step looks like this:

![screen shot 2017-01-19 at 4 55 45 pm](https://cloud.githubusercontent.com/assets/2573761/22128841/3104b

[2017-01-19 23:05] jonpmarino opened #369 "Sanitize attribute titles in Create Layer wizard so users can have spaces and special characters"
This is a spike. Further research is needed before features can be defined.

When using the Create StoryLayer tool, users can define Attributes for the features they will add to that StoryLayer. If they have spaces or special characters in their Attribute title, errors will result. See #367 for more information. Ideally we would sanitize the user entered information so that user's can have attribu

[2017-01-20 15:23] reynalddizon commented on #363
<img width="1280" alt="screen shot 2017-01-20 at 3 22 04 pm" src="https://cloud.githubusercontent.com/assets/4611843/22154659/4400a3e0-df24-11e6-8534-43f5e24e2bea.png">

I've tried appending before and i got extra columns like ogc_fid, fid and wkb_geometry. But this time i got a "geometry" column. Quite unclear what to do with it.

[2017-01-20 17:08] glynnis opened #370 "New default avatar for users"
As a user of MapStory
I want to have a default avatar that represents a person
So that there's a better image to represent me until I add one myself

Acceptance Criteria
- The avatar should look good on both MapStory and StoryScapes
- The avatar will replace the default avatar that comes from Gravatar, which stands out due to its blue color (and doesn't represent a person very well)

Deliverable:

[2017-01-20 17:10] glynnis commented on #370
![default_avatar](https://cloud.githubusercontent.com/assets/1529366/22158222/db34f960-df00-11e6-8948-cc93adf6acd0.png)

@emilyashley Here's the avatar! As mentioned in the issue, this is at 2x to support retina screens, but you'll want to display it at the current size of 35x35px. I'm sending this to you on Slack as well in case github compresses the image.

[2017-01-20 17:10] #370 closed, assigned to glynnis

[2017-01-20 17:11] glynnis commented on #370
Let me know if I need to adjust due to the border radius -- I guessed at the circle size for the background color, but we could possibly handle that through CSS. Happy to tweak if it gives you any trouble.

[2017-01-20 18:26] jonpmarino opened #372 "Add hyperlink to "Learn more about creating data" text in the Create Layer"
In the Create Layer modal, we need the words "Learn more about creating StoryLayers" to link to https://mapstory.org/getstarted.

![screen shot 2017-01-20 at 12 16 00 pm](https://cloud.githubusercontent.com/assets/2573761/22160441/1a16d1f8-df0b-11e6-8dd4-e986663c7ed9.jpg)

Or, we could remove the text there if that is easier for now.

[2017-01-20 19:00] #356 closed, assigned to Coop56

[2017-01-20 19:01] Coop56 commented on #356
I've sent in a pull request to the master version of osgeo-importer that resolves this.

https://github.com/GeoNode/django-osgeo-importer/pull/98

If this function still can't find the EPSG code then we likely need to add it to the epsg_extra file that I created in the pull request so that it can find it in the future.

This won't be live on production until we are up to master on osgeo-importer.

[2017-01-20 20:18] jonpmarino opened #373 "Upload fails with a generic error when filename exceeds 64 chars."
A research problem in conjunction with os-geo importer refactor

[2017-01-20 22:28] #373 closed, assigned to Coop56

[2017-01-20 22:29] Coop56 commented on #373
Just tested, and this is already resolved in the master version of OSGEO Importer which we're moving up to.

[2017-01-23 17:05] jonpmarino opened #374 "Generate site-wide announcements when services are down or failing that will affect user experience"
As we are in development phase, our services go down regularly (GeoServer, Geogig, importer, etc). We should have a method for communicating to the user when something is down that will affect their user experience, insofar as we can know about a service being down.

Work was done for a health check (https://mapstory.org/ht/). But, we don't tie this to anything for the user. GeoNode has an "announ

[2017-01-23 17:20] jonpmarino opened #375 "Append feature does not add features to the layer"
The expected behavior of the "append" feature is that a user can add several features at once to a layer, and have that action captured in the edit-history of the layer.

Currently the append modal does tell the user "congratulations, you're append is successful", but the features do not show up on the map or timeline, and the action is not captured in the edit history for the layer.

Also, relate

[2017-01-23 22:26] #359 closed, assigned to glynnis

[2017-01-25 19:46] glynnis opened #377 "Improve user experience for Explore"
As a user exploring MapStory
I want to find MapStories, StoryLayers, and users easily
In order to explore the site and find content that is relevant to my interests

Acceptance Criteria
- Searching for users and searching for content should remain separate (with separate search bars), since the APIs are distinct
- Represent top tags, category, and storyteller search for content
- Make sorting and

[2017-01-25 20:19] Coop56 opened #378 "Research ElasticSearch Upgrade"
We need to look into the latest version of ElasticSearch and figure out how much work it would be to upgrade to the latest.

[2017-01-25 20:43] glynnis commented on #377
First pass mock-up for content page of Explore:

[Outdated mockup](https://cloud.githubusercontent.com/assets/1529366/22309334/733b42c4-e310-11e6-8e13-847434fa8406.png)
Updated to show: "Showing 1-9 of 100 results" text, remove avatars, and add "clear" links to each filter section, plus magnifying glass icons to each search box.

[Outdated mockup](https://cloud.githubusercontent.com/assets/1529366

[2017-01-25 21:25] glynnis commented on #377
When no results match for content:
[Outdated mockup](https://cloud.githubusercontent.com/assets/1529366/22309801/6e7935d2-e312-11e6-881a-7293cc117883.png)

When no results match for people:

[Outdated mockup](https://cloud.githubusercontent.com/assets/1529366/22309795/6a1d3b00-e312-11e6-8b20-62a6f45c6233.png)

[2017-01-26 14:50] emilyashley commented on #360
note: I was the last to edit the [detail page html](https://github.com/MapStory/mapstory/blob/master/mapstory/templates/layers/_geogig_layer_detail.html#L29) and [geogig controller](https://github.com/MapStory/geonode/blob/master/geonode/contrib/geogig/static/geogig/geogig.js) so tossing in these quick links and notes.

Previously on the detail page `commit.author.name` housed the long First Last

[2017-01-26 14:54] emilyashley commented on #377
Thank you @glynnis :tophat:

[2017-01-26 14:59] emilyashley commented on #311
Transparency has been decreased.

Please let me know if the current transparency on production is still an active issue, if not we can close and remaining questions can be housed in a Story Viewer design story.

Thank you .

[2017-01-26 15:06] emilyashley commented on #338
update: my go-to method of overwriting the django view or modifying url routing in mapstory/urls.py and/or views.py didn't change the behavior on reverse redirect. Attempted a rename of each, as well. Interested in looking into `geonode-user-messages`, @Coop56?

[2017-01-26 15:34] glynnis commented on #377
Updated per @jonpmarino to replace "People" with "StoryTellers".
![explore_v2 - no results content](https://cloud.githubusercontent.com/assets/1529366/22337453/924a670e-e3aa-11e6-9ba6-493d0f1155e0.png)

![explore_v2 - no results people](https://cloud.githubusercontent.com/assets/1529366/22337574/e8f81a74-e3aa-11e6-9ad7-edabf7370dac.png)

![explore_v2](https://cloud.githubusercontent.com/assets/152

[2017-01-26 16:51] reynalddizon commented on #360
<img width="1280" alt="screen shot 2017-01-26 at 4 47 19 pm" src="https://cloud.githubusercontent.com/assets/4611843/22341132/97e384ba-e3e7-11e6-9d75-53ba10e2df52.png">

checked this issue with jon, and i didn't get that issue with my newly created layer using my regular non-admin account.

[2017-01-26 16:52] jonpmarino commented on #360
hey @emilyashley johnglenn is not admin or superuser. that layer was created with the Create tool, so no data was imported. once the layer was created the "edit features" tool was used to add the features. I can't reproduce at the minute due to timeout errors with the Create Layer tool, but will try again at another time. Here's my hypothesis. When Rey creates a layer it does show up correctly in

[2017-01-26 17:02] jonpmarino opened #380 "Remove link to "example" in the Type step of the Create Layer modal"
In the "Type" step of the Create Layer modal there is the word "example" which implies a link to an example. Let's eliminate that word for now.
![screen shot 2017-01-26 at 10 58 10 am](https://cloud.githubusercontent.com/assets/2573761/22341568/e52ea96a-e3b6-11e6-915d-83bf91e2af13.jpg)

Related #372

[2017-01-26 17:16] reynalddizon opened #381 "Missing one attribute in edit mode"
I created a storylayer (https://mapstory.org/layers/geonode:my_sample_layer) and added some attributes (all required):

<img width="1280" alt="screen shot 2017-01-26 at 5 05 21 pm" src="https://cloud.githubusercontent.com/assets/4611843/22341951/b72b7fd2-e3ea-11e6-94e9-50bb352e3286.png">

The create process was successful, however, when i tried to add new features, one of the attributes name (text

[2017-01-26 17:16] glynnis commented on #377
StoryTellers page:
![explore_v2 - storytellers](https://cloud.githubusercontent.com/assets/1529366/22342143/ef1fa882-e3b8-11e6-8db8-68be5be4fb9c.png)

[2017-01-26 17:27] glynnis commented on #377
<img width="88" alt="default_avatar_lg" src="https://cloud.githubusercontent.com/assets/1529366/22342527/5cff4f50-e3ba-11e6-9b24-adff119c7eca.png">
Sent this to @emilyashley on slack -- a larger version of the default avatar, which will be necessary given the size that avatars display on the Explore page. Adding here for documentation sake, though Github's uploader may have compressed this. Ask me

[2017-01-26 17:28] #377 closed, assigned to glynnis

[2017-01-26 17:31] reynalddizon commented on #381
Found out that the reason why an attribute disappears is because of the attribute name: "name". I replaced it with other names and it worked fine. Related to issue #368 and #369

[2017-01-26 17:31] #381 closed, assigned to nobody

[2017-01-26 18:11] jonpmarino opened #382 "Appended features not showing up on the map"
Data shows up in the table but not on then map

(in local and demo. still have issues with append entirely on prod, but that is separate).

Year_XD and Year_Parsed information is not added on append, which is actually what is used to plot in in the map.

more details coming from @Coop56

[2017-01-26 18:35] jonpmarino opened #383 "GeoServer and GeoNode logon/logoff not synced"
If a user has multiple user accounts on mapstory.org and logs out on mapstory.org and logins with a different user account, the user is _not_ also logged off and on to the new account in GeoServer.

For example, currently logged in as AlbertaEinstein
![screen shot 2017-01-26 at 12 18 36 pm](https://cloud.githubusercontent.com/assets/2573761/22344480/0041772c-e3c2-11e6-97ef-a6b94818b5e6.jpg)

Geose

[2017-01-26 18:54] cuttlefish opened #384 "Docker Deployment"
Create new deployments using Docker. This should help mitigate differences between dev, demo and prod. It should also ease prod-like performance testing.

[2017-01-26 23:27] Coop56 commented on #338
@emilyashley Yeah I can take a look at this one as soon as I finish some other tickets.

[2017-01-27 21:32] jonpmarino opened #387 "Edit Feature and Append Features options don't appear on detail page for layers created with Create modal"
(confirmed with @Coop56)

Expected behavior:

The purpose of the Create StoryLayer tool is to empower a user that doesn't have starter data to upload for a given topic to be able to "launch" an empty storylayer and through editing to be able to begin adding features. If the storylayer is opened for community editing when it is created, then any registered user should be able to add/edit features o

[2017-01-30 18:49] jonpmarino commented on #375
not accurate. closing.

[2017-01-30 18:49] #375 closed, assigned to Coop56

[2017-01-30 20:17] jonpmarino opened #389 "Invite creators of legacy single chapter mapstories to edit/update their story in the new interface"
Legacy mapstories were completed on a site that didn't offer multiple chapters. Thus, every "old mapstory" is a single chapter mapstory. The result from our data migration on this is that legacy mapstories have the same content pulled into the story summary and the "Chapter 1 info" area.

In a separate issue #390 , we should look at what fields we make available for _new_ single chapter mapstories

[2017-01-30 20:19] jonpmarino opened #390 "Establish templates for single chapter stories"
Single chapter stories don't need both a Story Summary and Chapter Info, as is currently the case. There also may be other design ideas to make the view story interface more graceful for single chapter "short stories".

[2017-01-30 20:59] cuttlefish opened #391 "Composer is loading many dozens of WMS layers that aren't used"
This drastically slows down the initial load of composer.

I counted approx 100 being loaded on demo.

[2017-01-30 21:01] cuttlefish opened #392 "Composer is making WMS requests that take almost a minute to complete"
It's loading most of these unnecessarily (see #391), but we should still look into improving the performance of these.

[2017-01-31 05:04] cuttlefish commented on #392
Some of these seem to take so long because the browser will only allow so many concurrent requests at once. So this issue may be further mitigated if we solve #391

[2017-01-31 05:05] cuttlefish commented on #391
Some of these seem to take so long because the browser will only allow so many concurrent requests at once. Solving this may mitigate some cases for #392.

[2017-01-31 06:01] cuttlefish commented on #391
Setting `var searchUrl = '/api/layers/search/?limit=100';` to be 1 instead of 100 seems to mitigate this.
Line 628 of `common/addlayers/ServerService.js` in MapLoom.
I assume this isn't the correct thing to do, but I'm not really setup at the moment for doing MapLoom development.
Whatever is going on here, we shouldn't be loading 100 layers when we load MapLoom.

[2017-01-31 15:32] Coop56 commented on #366
I can't reproduce this on local or on demo.  This is only happening on production.  When it tries to create the datastore it errors out.

Internal Server Error: /layers/create
Traceback (most recent call last):
  File "/home/mapstory/.virtualenvs/mapstory/local/lib/python2.7/site-packages/django/core/handlers/base.py", line 132, in get_response
    response = wrapped_callback(request, *callback_ar

[2017-01-31 16:14] jonpmarino opened #395 "Add back social logins"
We removed Facebook and Google login icons from the Sign Up and Login modals so those services weren't open for use while they were outdated from latest versions. That work was completed by @Coop56. Now just need to add back the icons on the modals and reactivate the service

Need to get addressed before we open up registration again aggressively to any new users...also because many previous users

[2017-01-31 16:55] Coop56 commented on #357
I'm unable to reproduce this on local or demo, so this is a production only issue.

[2017-01-31 17:38] reynalddizon opened #396 "Line styling"
I'm making a mapstory using the storylayer railroads0123 (https://mapstory.org/layers/geonode:railroads0123) to test the different line styling options. Of the four options (simple, unique, choropleth and graduated), only simple and unique work.

Railroads0123 contains the numerical column, volume, to test choropleth and graduated styles.

Here's the result:
1. Choropleth doesn't appear as one of

[2017-01-31 18:34] jonpmarino opened #397 "UserSnap "feedback" button only appears in composer view"
We use UserSnap as a tool to empower users to provide direct feedback on issues they have with MapStory.org. The "feedback" button is only appearing in the composer view of mapstory.org right now, and has disappeared from other pages.

UserSnap is implemented on our site by inserting some HTML into our site before the closing </body> tag. Reach out to marino for login details to UserSnap account.

[2017-01-31 19:16] jonpmarino commented on #357
Moving out of 0.0 milestone based on @Coop56. Will re-evaluate once we have docker deployment and more parity between demo and prod to know if this is still an issue

[2017-01-31 19:28] jonpmarino commented on #366
we will have more intel once docker deployments are complete.

[2017-01-31 19:56] glynnis opened #398 "Create LESS and HTML for Table of Contents"
Write LESS and semantic HTML for the Table of Contents sidebar of the composer design improvements.

Acceptance Criteria
- Work will be done in https://github.com/emilyashley/composer-ui, independently of the project until @emilyashley and other team members are ready to start implementing features and making the UI more interactive.
- Design should match mock-ups at https://projects.invisionapp.c

[2017-01-31 19:58] glynnis opened #399 "Create LESS and HTML for Chapter Info"
Write LESS and semantic HTML for the Chapter Info sidebar of the composer design improvements.

Acceptance Criteria
- Work will be done in https://github.com/emilyashley/composer-ui, independently of the project until @emilyashley and other team members are ready to start implementing features and making the UI more interactive.
- Design should match mock-ups at https://projects.invisionapp.com/d/

[2017-01-31 19:59] glynnis opened #400 "Create LESS and HTML for Chapter Playback Settings"
Write LESS and semantic HTML for the Chapter Playback sidebar of the composer design improvements.

Acceptance Criteria
- Work will be done in https://github.com/emilyashley/composer-ui, independently of the project until @emilyashley and other team members are ready to start implementing features and making the UI more interactive.
- Design should match mock-ups at https://projects.invisionapp.co

[2017-01-31 20:01] glynnis opened #401 "Create LESS and HTML for Legend Display Settings"
Write LESS and semantic HTML for the Legend Display Settings sidebar of the composer design improvements.

Acceptance Criteria
- Work will be done in https://github.com/emilyashley/composer-ui, independently of the project until @emilyashley and other team members are ready to start implementing features and making the UI more interactive.
- Design should match mock-ups at https://projects.invisio

[2017-01-31 20:02] glynnis opened #402 "Create LESS and HTML for StoryPins sidebar"
Write LESS and semantic HTML for the StoryPins sidebar of the composer design improvements.

Acceptance Criteria
- Work will be done in https://github.com/emilyashley/composer-ui, independently of the project until @emilyashley and other team members are ready to start implementing features and making the UI more interactive.
- Design should match mock-ups at https://projects.invisionapp.com/d/mai

[2017-01-31 20:02] glynnis opened #403 "Create LESS and HTML for StoryLayers sidebar"
Write LESS and semantic HTML for the StoryLayers sidebar of the composer design improvements.

Acceptance Criteria
- Work will be done in https://github.com/emilyashley/composer-ui, independently of the project until @emilyashley and other team members are ready to start implementing features and making the UI more interactive.
- Design should match mock-ups at https://projects.invisionapp.com/d/m

[2017-01-31 20:02] glynnis opened #404 "Create LESS and HTML for StoryFrames sidebar"
Write LESS and semantic HTML for the StoryFrames sidebar of the composer design improvements.

Acceptance Criteria
- Work will be done in https://github.com/emilyashley/composer-ui, independently of the project until @emilyashley and other team members are ready to start implementing features and making the UI more interactive.
- Design should match mock-ups at https://projects.invisionapp.com/d/m

[2017-01-31 20:03] glynnis opened #405 "Create LESS and HTML for Composer header"
Write LESS and semantic HTML for the header of the composer design improvements.

Acceptance Criteria
- Work will be done in https://github.com/emilyashley/composer-ui, independently of the project until @emilyashley and other team members are ready to start implementing features and making the UI more interactive.
- Design should match mock-ups at https://projects.invisionapp.com/d/main#/projects

[2017-01-31 20:04] glynnis opened #406 "Create LESS and HTML for sidebar tabbed navigation"
Write LESS and semantic HTML for the sidebar tabbed navigation of the composer design improvements.

Acceptance Criteria
- Work will be done in https://github.com/emilyashley/composer-ui, independently of the project until @emilyashley and other team members are ready to start implementing features and making the UI more interactive.
- Design should match mock-ups at https://projects.invisionapp.c

[2017-01-31 22:52] emilyashley commented on #391
note to self: defer search until modal "add-layer-dialog" / "loom-addlayers" is exposed on [click](https://github.com/MapStory/MapLoom/blob/feature/composer-wip/src/common/sidebar/partials/storyLayers.tpl.html#L8)

[2017-02-01 19:24] glynnis commented on #311
Closing this. Please re-open if transparency is still an issue.

[2017-02-01 19:24] #311 closed, assigned to emilyashley

[2017-02-01 19:42] jonpmarino commented on #380
hold off on this until we have green light from @Coop56 to make link clean-up changes on Create and Append modals

[2017-02-01 19:48] josellausas opened #407 "Tests for Mapstory Detail View"
Increasing test coverage for views.py

[2017-02-01 19:50] josellausas opened #408 "Tests for Layer detail view"
Unit testing for Layer detail views

[2017-02-01 19:51] josellausas opened #409 "Tests for Layer create view"
Unit tests for Layer create view

[2017-02-01 19:56] josellausas opened #410 "Tests for mapstory detail keywords form"
Testing for how mapstory detail view handles keywords form submit.

[2017-02-01 21:55] glynnis commented on #398
I've implemented all the LESS and HTML for this, and per @davisc's requirements it should be operable and responsive enough to work well on tablet-size screens.

PR for this is in another repo, since I've been working in a sandbox separate from the project: https://github.com/emilyashley/composer-ui/pull/1

![feb-01-2017 15-45-04](https://cloud.githubusercontent.com/assets/1529366/22527954/c2b0e76

[2017-02-01 22:13] glynnis commented on #398
Merged! Closing.

[2017-02-01 22:15] josellausas opened #411 "End-to-end testing guide"
Need a guide on how to setup and run end-to-end tests

[2017-02-01 22:30] jonpmarino opened #412 "Chapter buttons get covered up by playbar on mapstory detail page"
A published mapstory with several chapters and chapter info content has the chapter advance buttons covered up by the playback bar.

(this view is generated on Chrome with a 13 inch Macbook. Zoom level is normal 100%, although it seems to hold true if the browser is zoomed in and out.)

![screen shot 2017-02-01 at 4 25 26 pm](https://cloud.githubusercontent.com/assets/2573761/22529145/ee82dc86-e89

[2017-02-02 00:18] #407 closed, assigned to josellausas

[2017-02-02 00:18] #410 closed, assigned to josellausas

[2017-02-02 15:41] jonpmarino opened #413 "Stories published using OSM basemaps appear to have no basemap"
(second-opinion confirmed with Jon and Rey using Chrome Version 55.0.2883.95

Steps to reproduce:

1. login and launch composer
2. use Open Streetmap or Humanitarian OpenStreetmap as the basemap for your chapter.
3. Add a layer and maybe a storypin to your story
4. Publish your story.
5. The basemap behind your published story appears to be missing.

Examples:
https://mapstory.org/story/23727 uses

[2017-02-02 15:50] jonpmarino opened #414 "Remove other options besides pause playback from composer for storypins, or get the other options working"
This is a placeholder issue to keep notes about the performance of "pause playback" for storypins. Once we have a more precise understanding of what is happening and what the issue and solution is, we can refine the ticket and add to appropriate priority level.

**Desired State:**

In composer, the user has the ability to decide if he/she wants playback to "pause" when a StoryPin's start time is r

[2017-02-02 17:16] glynnis commented on #405
Got a basic header added! I've used a Font Awesome icon as a placeholder for the preview mode toggle switch, which we might not want to use Font Awesome for. Confirmed with @davisc that Preview mode *IS* MVP.

<img width="1423" alt="screen shot 2017-02-02 at 11 05 28 am" src="https://cloud.githubusercontent.com/assets/1529366/22559761/c288caf4-e937-11e6-8a3c-be4ff41b875c.png">

This work is up as

[2017-02-02 17:25] Coop56 opened #415 "Redeploy Demo with RDS"

[2017-02-02 22:23] rob-metalinkage commented on #369
As part of this, can we add documentation that makes it explicit how names in the input data (which may be allowed to have spaces etc) relate to names exposed in services - e.g. WMS and WFS getFeatureInfo,  where the XML data mode doesnt allow such names,

The decision to expose data using OGC (and other standards based APIs) makes this a key architectural concern - will every service API expose u

[2017-02-02 22:25] rob-metalinkage commented on #369
PS - happy to take this on as part of a second phase of gazetteer (and metadata) engineering - for now i recommend aiming for a simple minimal name and in the attributes model storing the original name for future reference.

[2017-02-03 16:37] jonpmarino opened #417 "Add full test coverage to thumbnail module"

[2017-02-03 16:38] jonpmarino opened #418 "When multiple storypins are created, they get grouped on a single location in the composer view"
Scenario:
When StoryPins are created that have overlapping beginning or end dates, they get grouped into a single StoryPin in composer view rather than appearing in their designated location and the right time. The proper workflow is that each storypin should always pop up at the location designed by the user, at the start and end dates the user sets, with the settings they set (map, timeline, aut

[2017-02-03 16:39] jonpmarino opened #419 "Create a process for updating map in Layer Editor so that it shows the edits I've made."
**Issue**

When a user adds features to a layer, either by version editing an existing layer or creating new features with the Create Layer tool and adding features, those newly added features should be represented  on the timeline and map canvas **immediately** when the layer is played again in the same edit session. This way the user has confidence that their changes have been saved correctly. B

[2017-02-03 16:41] jonpmarino opened #420 "Add links to home and profile in composer sidebar"
1. Add link to mapstory.org on the house icon and text MapStory
2. Add link to profile on the Username.

![screen shot 2017-02-08 at 12 05 47 pm](https://cloud.githubusercontent.com/assets/2573761/22750597/09d4f266-edf7-11e6-933a-b941f84af2b8.jpg)

Should be a hard exit from composer, not a new tab. Same behavior as the "exit" bottom in edit layer mode (referenced below):
![screen shot 2017-02-08

[2017-02-03 16:43] jonpmarino opened #421 "label site as "beta" once ready for release"
to tailor user expectations.

[2017-02-03 16:43] jonpmarino opened #422 "Add "clear search" button to Explore"
On the Explore Page, currently there is no simple way for a user to return to a state where they can see all StoryLayers and MapStories after they have filtered content somehow. The only obvious way is to refresh the entire browser begin a completely new Explore session.

A Clear Search button will make it easy for a user to return to a state of seeing all content.

[2017-02-03 16:45] jonpmarino opened #423 "Make StoryLayer and MapStory label on explore different colors"
A slight color difference in these labels will make it much easier to see which cards are for storylayers and which are for mapstories. For colors, we could use 'mapstory brown' and 'mapstory orange' (should be in @reynalddizon style guide).

![screen shot 2017-02-08 at 11 59 17 am](https://cloud.githubusercontent.com/assets/2573761/22750361/2112785a-edf6-11e6-9eb8-f60fb19a8d23.jpg)

[2017-02-03 16:46] jonpmarino opened #424 "Enable data layer features to show get-feature-info (InfoBoxes) when viewer clicks on them in a published layer."
Pullover from Github #1470. Right now Infoboxes can be customized in composer using the Masking function, but there is no way to see them on a published layer or story.

Desired behavior is that on the detail page for a layer, the viewer of a layer could pause playback, click on a feature, and see the get-feature-info (infobox) on the feature, just as they can when in edit mode.

This is straightf

[2017-02-03 16:48] jonpmarino opened #425 "Investigate custom admin thumb replacement for existing maps"

[2017-02-03 19:40] josellausas opened #427 "Tests for Layer create"
Unit tests for layer create view

[2017-02-05 05:50] josellausas opened #428 "Layer importer tests"
Tests for importer-api

[2017-02-06 04:33] josellausas opened #430 "Fix boxes view tests"
There is a bug with boxes attempting to commit a database transaction inside an atomic block. This is not allowed by Django.

http://stackoverflow.com/questions/25370467/transactionmanagementerror-this-is-forbidden-when-an-atomic-block-is-active

[2017-02-06 06:24] josellausas opened #431 "Tests for Initiative views"
Need testing for Initiative views

[2017-02-06 06:28] josellausas opened #432 "Test Layer remove view"
Testing needed for Layer remove views

[2017-02-06 16:10] josellausas opened #433 "Tests for XML utils in utils.py"
Need testing for util functions dealing with xml schemas inside utils.py

[2017-02-06 17:49] jonpmarino opened #434 "Investigate solution to X on storypin pop-up behavior"
Current situation:

When a StoryPin is set to "show content automatically", it is expected that at the storypin's "start date" it will popup the storypin content automatically and remain until the "end date" is reached". (Current related issue #435 is blocking this, but that is a separate issue).

Currently, when the pop-up appears there is an X button that implies to a viewer that they can minimi

[2017-02-06 17:52] jonpmarino opened #435 "Storypin pop-up remains visible across multiple chapters"
cross checked with Darin and Rey on Feb 6.

Desired behavior:
A user should be able to set a storypin start and end time in composer. The desired behavior is that the pin shows up at start time and disappears at end time.

Current problem:

The actual "pin" aspect of the StoryPin is respecting the start and end time, but the pop-up does not (when set to "show content automatically). It remains vis

[2017-02-06 18:16] Coop56 commented on #363
A quick update.  I've gotten these fields removed for CSV downloads, next up I'll be working on SHP downloads.

[2017-02-06 19:03] jonpmarino opened #436 "When selecting "change published story", layers are removed in composer"
**Current state/problem:**

Once a storyteller has published their mapstory, we provide an option for the storyteller to "change  published story". Clicking "change published story" leads the storyteller back into composer.

It appears that all elements of the story are there in composer (chapters, chapter info, storypins), but the _storylayers_ used are erased, forcing the storytelling to add the

[2017-02-06 19:23] jonpmarino opened #437 "Django-admin breaks whenever a StoryLayer or MapStory is selected"
Confirmed with @Coop56 on Feb 6. Tested on both "admin" and "jonpmarino" usernames.

Reproduce:

1. Login to mapstory on an admin account
2. Go to Admin Panel.
![screen shot 2017-02-06 at 1 19 41 pm](https://cloud.githubusercontent.com/assets/2573761/22662592/3651395a-ec6f-11e6-8396-54358e6a6e1a.jpg)
3. Click on StoryLayers or MapStories. Both produce same result.
![screen shot 2017-02-06 at 1 20

[2017-02-06 19:55] josellausas commented on #409
Duplicate issue

[2017-02-06 20:03] cuttlefish opened #438 "Split up Django and GeoServer onto separate servers"
Move GeoServer to a new EC2 instance. This should help with our performance debugging.

This will leave Django and the old Postgres DBs on the old instance.
My current plan is to move Django to another box. Then the Postgres DBs should be transitioned to RDS and the old instance decommissioned.

[2017-02-06 23:21] jonpmarino opened #439 "Agile bounding boxes for layers as new features are added/appended"
This is a spike...research needs to be done first before solutions considered or proposed in a future cycle. Just plotting the thought now.

Scenario:

As we incorporate versioned editing into layers more and more - either layers that are imported using importer, or ones that are created using "create layer" - we will increasingly encounter the issue of layers needing new bounding boxes that are r

[2017-02-07 15:46] glynnis commented on #395
@Coop56 Do you need any design input here? Sounds like this involves reinstating something that existed previously, so there may not be much to tweak from a UI standpoint.

Let me know if that's not the case -- happy to assist!

[2017-02-07 15:51] glynnis commented on #368
@emilyashley Is there a way that we could sanitize or validate entries? Ideally the message above would only show if a user types in "name" and tries to submit, and then we'd show it as an error in close proximity to that input field (like when you try to create a bad password, you might see something like "Password must be longer than 8 characters and include at least one capital letter", etc.).

[2017-02-07 16:14] glynnis commented on #421
Going to add a "Beta" tag to the header so it's visible from most pages of the site.
![screen shot 2017-02-07 at 10 14 03 am](https://cloud.githubusercontent.com/assets/1529366/22699813/3e58bc22-ed1e-11e6-8993-2ab1ddc7f34a.png)

[2017-02-07 17:18] Coop56 commented on #368
Chiming in here - @glynnis is on the right track.  We should validate these fields on the front end.  I already worked another issue where if users type capital letters, spaces or special characters into this I sanitize the input on the backend and replace spaces and special characters with underscores.

But for something like this where they can't choose a certain word or words, I would say front

[2017-02-07 17:49] glynnis commented on #421
@davisc Is the beta tag only desired for the Mapstory.org theme, or is that something we want visible for other customers/themes too?

[2017-02-07 17:52] davisc commented on #421
@glynnis just for mapstory

[2017-02-07 19:07] josellausas opened #440 "Configure geoserver for CI"
Automated testing tests are failing because geoserver is not available on Travis

[2017-02-07 19:23] jonpmarino commented on #357
additional context:

We just tested the scenario of _editing_ the geometry of an existing feature on mapstory.org and got the same result. The error message depicted below appeared when saving the edit. But, upon further review you can see that the feature was actually moved successfully, and the edit is captured in the edit history. In the example below, the feature was moved from southeast Texas

[2017-02-07 20:20] sarasafavi commented on #317
This is going to be broken into multiple sub-issues over the next few sprints, will tag #317 as those are created

[2017-02-07 20:48] sarasafavi opened #442 "Migrate the "annotations" app from GeoNode fork to MapStory core repo"
_Part of the greater effort towards bringing MapStory's GeoNode dependency up to par with upstream GeoNode (reference: #317)._

Migrate the "Annotations" app code out of the GeoNode fork and into the MapStory codebase.

*Acceptance Criteria*
* All references to `Annotations` components removed from https://github.com/MapStory/geonode/
* All MapStory unit tests passing
* In lieu of functional tests

[2017-02-07 21:19] glynnis commented on #399
The word from @davisc is that we need to support IE 9+, FF 31+, and Chrome 52.5+, so I'll need to either configure polyfills/fallbacks for flexbox or eliminate it and just use floats since flexbox is not supported at all by IE 9.

I'm also updating our readme/wiki to show these browser versions requirements so that they're more readily accessible to the team.

[2017-02-07 22:34] sarasafavi opened #443 "Migrate custom models out of GeoNode fork"
_Part of the greater effort towards bringing MapStory's GeoNode dependency up to par with upstream GeoNode (reference: #317)._

Migrate the "Mapstory" model & related c ode (form, admin, etc) out of the GeoNode fork and into the MapStory codebase.

*Acceptance Criteria*
* All references to `maps.models.MapStory` removed from https://github.com/MapStory/geonode/
* All MapStory unit tests passing
*

[2017-02-08 16:03] jonpmarino opened #444 "Chapter breadcrumbs showing up in layer edit view"
(2nd opinion confirmation with @reynalddizon on Feb 8)

Issue Summary:

When a user wants to make edits to a StoryLayer, he/she clicks "edit features" on the layer's detail page, and is taken to the edit mode for the layer. In this mode, the user should only have access to functions for making edits to the layer.

However, currently there are "breadcrumbs" in the View History tab that, if clicked,

[2017-02-08 16:27] reynalddizon opened #445 "Missing geospatial data features on composer"
Username: rei41590 (non-admin)
Browser: Version 55.0.2883.95 (64-bit)
Date occurred: Feb 8, 2017

1. I successfully uploaded a storylayer (https://mapstory.org/layers/geonode:superbowl_teams0) and it's displayed correctly on the viewer page. Below is a screen cap of the first timeslice of the storylayer. Kansas City vs Green Bay.
<img width="1280" alt="screen shot 2017-02-08 at 4 04 09 pm" src="ht

[2017-02-08 16:38] jonpmarino opened #446 "Detail page attributing all edits to layer owner, regardless of user that makes the edits"
(Confirmed with @reynalddizon on Feb 8. Using Safari 10.0.2 and Chrome Version 55.0.2883.95)

Issue:

If a layer is open to community editing, any registered user can go to the layer's detail page and click "edit features" and begin adding, modifying or deleting features from the layer.

Currently if multiple different users make edits to a layer, all of those actions appear to be attributed to th

[2017-02-08 16:47] jonpmarino opened #447 "Link to username in Contributions tab goes to an error page"
(Confirmed with @reynalddizon on Feb 8. Using Safari 10.0.2 and Chrome Version 55.0.2883.95).

Issue:

In the Contributions tab for a layer, there is a link to user profiles underneath each edit. The link path generated when clicking the username goes to a broken link.

![link](https://cloud.githubusercontent.com/assets/2573761/22747158/d86fd94e-edeb-11e6-8a6a-f4e7fd0d436b.jpg)

![screen shot 2017

[2017-02-08 17:11] josellausas opened #448 "User Auth functional tests"
Need functional tests for creating a user and logging in.

[2017-02-08 17:39] josellausas opened #449 "Update E2E Tests"
Update and fix failing end-to-end tests.

[2017-02-08 18:48] emilyashley commented on #447
Odd, I had already caught this at whatever state our site was in on Nov 30 --- wonder if geogig changed at all with committer/author bits. If they did, we'll need to replace it thruout the html.

we're using usernames as unique identifiers for edit history, not first name last name as we had originally asked for because display names can be edited after the fact and usernames can't

Try changing `

[2017-02-08 18:52] emilyashley commented on #444
This should have been resolved with https://github.com/MapStory/MapLoom/commit/71b52ea2942ec5a476fe16e8798b0f86b0980a3a ?

I had trouble verifying it in a local environment because of our maploom django wrapper setup tho.

[2017-02-08 18:53] emilyashley commented on #423
Right on.  In the mockup I'm working from they're both grey. Thoughts @glynnis? We can easily change this when we go over the css on explore page.

[2017-02-08 18:56] emilyashley commented on #412
I had attempted to address this previously, [here](https://github.com/MapStory/mapstory/commit/90f9bcd2ba69614126f8a4e3a80dcf662b6a8b6f#diff-703495917169eda6694707687ea0ade5R39). Lemme take a double look.

[2017-02-08 18:58] emilyashley commented on #380
note to self: I think this lives [here](https://github.com/MapStory/mapstory/blob/master/mapstory/static/mapstory/partials/createLayerModal.html#L35)

[2017-02-08 19:08] glynnis commented on #412
@emilyashley My bad! I forgot to move this to "In Progress" -- I'm currently working on this.

[2017-02-08 19:10] emilyashley commented on #446
Html [here](https://github.com/MapStory/mapstory/blob/master/mapstory/templates/layers/_geogig_layer_detail.html#L30) and js controller [here](https://github.com/MapStory/geonode/blob/c454a46fb174e0bd7bf3577461dfe143575ab6a3/geonode/contrib/geogig/static/geogig/geogig.js#L59)

[2017-02-08 20:04] Coop56 commented on #444
@emilyashley It was resolved with that commit.  @jonpmarino It's likely that it just hasn't made it up to production yet.

[2017-02-08 20:20] emilyashley commented on #372
html [here](https://github.com/MapStory/mapstory/blob/master/mapstory/static/mapstory/partials/createLayerModal.html#L162)

[2017-02-08 20:22] glynnis commented on #420
Work on this is complete and this is just waiting for review.

[2017-02-08 20:27] glynnis commented on #447
Notes from 2/8 call:
@davisc @emilyashley May be a deeper issue with how GeoGig is managing this. @davisc will research this.

[2017-02-08 20:27] glynnis commented on #446
Related to #447

[2017-02-08 20:36] emilyashley commented on #360
this could tie into #447

[2017-02-08 20:44] davisc commented on #413
Note: New composer should provide a config validation step  (turbotax) prior to actually publishing the story so that the user can confirm all expect info is there.. I have a prototype that summarizes all of the information.

[2017-02-08 20:46] davisc commented on #396
Vote to defer to future due to evaluation of MapBox Styles

[2017-02-08 21:04] glynnis commented on #421
This PR has already been merged. Closing.

[2017-02-09 15:24] glynnis commented on #423
![explore_v2](https://cloud.githubusercontent.com/assets/1529366/22789668/58f4fcd0-eea9-11e6-873b-65f8a32f689e.png)

In my mock-ups I changed the location of these indicators and made the icons more distinct from each other (right now they're so similar that I don't think they're providing a good visual cue of a distinction).

If something about the treatment in this mock-up isn't possible or won'

[2017-02-09 15:43] jonpmarino commented on #423
looks good to me @glynnis

[2017-02-10 17:50] glynnis opened #454 "Provide fallbacks for Flexbox in Composer LESS"
Refactor LESS written so far for Composer improvements to remove or provide fallbacks for flexbox positioning, since MapStory needs to support IE 9+ and IE 9 does not support Flexbox.

[2017-02-10 18:45] Coop56 commented on #365
@jonpmarino Did a quick investigation on this, it actually doesn't have anything to do with Create itself.  This has to do with the viewer allowing you to zoom out too far, and showing multiple worlds.  We can shut off the wrapping with the openlayers option wrapX = false.  This will need to be done in StoryTools.  Showed it to @darinacosta  and he's going to take on this ticket since he already h

[2017-02-10 22:40] Coop56 commented on #387
This has been fixed for all newly created layers and the fix was in osgeo-importer so it's already live on production.

[2017-02-13 18:47] sarasafavi opened #458 "Custom GeoNode API"
_Part of the greater effort towards bringing MapStory's GeoNode dependency up to par with upstream GeoNode (reference: #317)._

Related: #443

In conjunction with migration of the mapstory model from GeoNode fork to MapStory codebase, the GeoNode API needs refactored to allow for a "mapstory" resource type.

Investigate potential solutions & impact on GeoNode core community (i.e., monkeypatching M

[2017-02-13 19:03] glynnis commented on #399
There's a PR for this work here: https://github.com/emilyashley/composer-ui/pull/3

[2017-02-13 19:03] glynnis commented on #454
There's a PR for this work here: https://github.com/emilyashley/composer-ui/pull/3

[2017-02-13 20:46] jonpmarino opened #460 "Update Data Repositories wiki page"
http://wiki.mapstory.org/Data_Repositories is a page on the MapStory wiki dedicated to providing users with a list of places where they might find data for MapStory.

We should update this page with as much content as we can for now.

(Until integrated login for wiki is functioning again #319) we will also use the wiki admin account. Ping @jonpmarino for login details)

Succes criteria =

- [ ] Li

[2017-02-13 20:49] jonpmarino opened #461 "Update Get Started Guide on mapstory wiki"
http://wiki.mapstory.org/Get_Started_Guides provides continuously updated and improving start-up support for new users. We need to update this to correspond with the 0.1.0 release.

Success criteria =

- [ ] Updated articles, with screenshots, to support all the major 0.1.0 functions of mapstory.org
- [ ] downloadable pdf version to accompany for those that link printable things

[2017-02-14 17:40] jonpmarino opened #463 "Update MapStory Foundation wiki page"
Link: http://wiki.mapstory.org/The_MapStory_Foundation

Acceptance criteria

- [ ] Staff and board bios up to date
- [ ] briefing papers, press releases, etc up to date

[2017-02-14 17:51] jonpmarino opened #464 "Complete first version of Teachers Guide"
The first draft Teachers Guide will support educators who want to work with their students to contribute to MapStory. It will draw upon lessons learned by Deborah and Jon during their time working with SYEP summer youth at the MLK Library.

Success criteria =

- [ ] lesson examples tied to learning standards at defined grade levels
- [ ] example student projects
- [ ] integration of tech 'how to'

[2017-02-14 18:15] jonpmarino opened #465 "Publish 0.1.0 release Journal entries"
The journal on MapStory.org is a place for users to share information with the rest of the community. Journal articles could be anything from big-picture ideas to specific updates on user projects, to how-to recipes, to report-outs on in-person events, to release notes on new functionality made available to users by the tech team.

Journal will be fully enabled for new users once https://github.co