[2011-10-19 18:16] dwins opened #19 "Hand-digitization"
Let users with data that's not amenable to automated import simply create a new layer and draw their features in by hand.

[2012-03-06 17:38] ischneider opened #194 "time options endpoint needed"
to persist time options an endpoint to proxy the settings to geoserver is needed

see #193

[2012-03-06 17:41] ischneider opened #196 "background layer selection not persisted in data view"
if the maintainer of the data selects a different background for the layer view page, the choice should be persisted.

[2012-03-19 21:13] cholmes opened #218 "Controlling style changes and permissions"
If I go to a layer page and hit 'create new map' I can then just go in to the existing styles and just start changing them however I want. You could really screw up someone else's map that way, not even meaning to. I'd say this is a very serious bug, for when people start to make maps from other people's data. It's more natural to just change a style instead of create a new one from scratch.

Best

[2012-03-21 18:19] cholmes opened #234 "Issues uploading data with no .prj"
Shapefiles from GeoCommons don't come with an prj file. The result is that the uploader tells me to look up 'None' on prj2epsg.org

We should probably handle that a bit better, perhaps suggest to people that they might try 4326 as it's pretty common for data without a prj. Or better yet try to do some check to see if we can figure out if 4326 is a reasonable assumption (like look at some coordinat

[2012-06-26 16:57] ischneider opened #385 "warn about attributes with spaces or other invalid characters"
Attributes with spaces or XML invalid characters are not handled well in geoserver. Until the importer can automatically sanitise these, provide a warning about this before a user uploads and, if present, after the data is received.

[2012-09-19 13:14] ischneider opened #416 "time manager should not store dimensions"
as currently implemented, the time manager stores the values (list or range) of the time dimension. this was done to avoid hitting the full capabilities document. now that the virtual services endpoints work, we should be using these to obtain the dimension extents dynamically.

the potential effect of the current situation is that a map using a layer will not reflect any updates to the layer's te

[2012-10-17 17:53] ischneider opened #426 "date format consistency audit"
There are multiple formats in use in varying parts of the site.

From Steven:
* For the {abbreviated month} {date} {year} date format (e.g.,  Aug 8 2012) date format -- update the format so that:
  * there is a period after abbreviate months (but not non-abbreviated months, like May)
  * there is a comma between the day and year
  * example: Aug. 8, 2012
* Date Formats: consistency.  Note: not a q

[2013-02-20 16:52] cholmes opened #527 "pre buffering of tiles"
It would be good to start pre-loading tiles for more responsive user playback. Ideal would be youtube style visual feedback of how far the map has loaded, to set people's expectations as to when it will play fast, and when they'll need to wait.

After that's one it'd be great to have #452 in place, with aggressive time sliding on already loaded tiles.

[2013-03-05 00:46] bmmpxf opened #548 ""Best Guess" should be a top level “Type” not a “Date Format”"
When uploading StoryLayers, the "Best Guess" should be a top level “Type” not a “Date Format”. It should be a wildcard where you can select any attribute and enter in a custom format string as you please.

This is because you may not know offhand whether your attribute in question is Text or Year Number. I know we'd like to think that we all know our data intimately, but we can't assume that. What

[2013-03-12 18:11] jonpmarino opened #571 "Chalkable integration"
Chalkable is a web app store for K-12 schools.  The integration is quick. You can signup for our Developer Portal here to take a look at the docs and API explorer.

https://chalkable.com/account/developers

They use oAuth 2.0.

Founders are close friends with Everett Lasher...so a 'close family friend' to test mobile and ed app stuff with.

[2013-03-25 12:20] bartvde opened #617 "cancel prebuffer only if click/drag goes outside of the prebufferred area"
currently when prebuffering is true and somebody clicks in the timeslider or drags the time slider, prebufferring is always cancelled.

This should ideally only happen if someone clicks / drags outside of the area that has already been prebufferred.

See also #587

[2013-04-11 00:11] jonpmarino opened #632 "Add notification when a user's FB friend joins MapStory - like Spotify"
![spotifygrab](https://f.cloud.github.com/assets/2573761/365248/0626256e-a23c-11e2-937a-2a894a0336ed.jpg)

[2013-05-17 20:59] ischneider opened #691 "handle CSV with too many columns better"
In this case, the first record in the CSV actually contained WKT geometries.

Currently, the feedback to the user is:
"There may be a problem with the data provided"

The importer specific error is:
Caused by: java.io.IOException: Maximum column length of 100,000 exceeded in column 1 in record 1. Set the SafetySwitch property to false if you're expecting column lengths greater than 100,000 charact

[2013-06-04 12:17] cholmes opened #721 "Support Validation for Uploaded SLD"
A user is trying to upload an SLD and then adjust the opacity online, but he gets a number of failures when trying to edit it.

![style-saving error](https://f.cloud.github.com/assets/407017/605239/86c63480-cd10-11e2-8dcd-34244f688ae6.png)

[2013-06-04 20:49] cholmes opened #729 "Cluster of GeoServers backing MapStory"
Lots of tasks before this to test, but we should have a full cluster, ideally auto-scaling, deployed on mapstory.org.

[2013-06-06 17:24] cholmes opened #739 "Media ribbon and hyperlinks on 'section' pages"
Should allow the same type of media ribbon and hyperlink control by the admin as there is on organization pages. Sections are like http://mapstory.org/mapstory/section/crisis/

[2013-07-22 20:25] ischneider opened #827 "allow for missing end date"
See http://help.mapstory.org/question/106/what-happens-if-i-dont-specify-an-end-date/

[2013-07-25 18:15] ischneider opened #840 "investigate gwc cache not being emptied on style changes"
We've ( @cholmes and I) noticed this on several layers. Both via geoserver interface and modification in GXP.

What we've seen is that during playback, previously cached tiles (by time) are not getting cleared when the style is changed.

[2013-08-29 18:54] jonpmarino opened #899 "transfer wiki hosting to Amazon EC2 instance"
Currently the MapStory wiki is hosted by a 3rd party service, SiteGround. We want to transfer this hosting primarily so we are able to add node.js extensions to the blog (like a wysiwyg editor)

[2013-09-24 16:12] ischneider opened #938 "floating point dates not ingested"
These used to be handled via the number-as-year option but they fail now as the parser calls toString and the result (1981.0 for example) won't parse.

One approach would be to add an inline transform that converts the value to an integer. Another would be to enhance the DateFormatTransform so it can handle more variety of inputs.

[2013-11-06 13:36] ischneider opened #956 "annotations can cover toolbar"
From Jon:

we need to get those annotations in bottom left and right shifted up so they don't cover up the playback bar -

http://mapstory.org/maps/933/

[2014-08-08 22:15] ischneider opened #967 "integrate geonode search api into MapLoom"
we cannot use capabiltiies document so instead:
- [ ] leverage existing angular search paging and related code
  - [x] get search/paging working
  - [ ] complete styling
  - [ ] get spatial integration working (punt on temporal filters)
- [x] adjustments in MapLoom to accomodate search versus eager loading of caps doc
- [ ] popup search for new map
- [x] button/action for popup on existing or inte

[2014-09-19 17:16] ischneider opened #977 "verify provisioning of virtualbox"
It would be nice if tested out by others, esp. on OSX

[2014-10-09 20:47] reynalddizon opened #9 "Smooth scrolling for parallax images"
The home page now supports the parallax effect, however, if you scroll down the index page, it doesn't scroll very smoothly as compared to the homepage on MapStoryOrg repo . I'm not sure if that is an issue with the Smoothscroll.js file.

[2015-04-20 18:08] travislbrundage opened #14 "MapLoom build missing steps"
To get MapLoom to build correctly, you currently have to enter the MapLoom project and run:
bower install
npm install
grunt copy

[2015-04-20 19:34] #14 closed, assigned to nobody

[2015-04-21 20:42] ischneider opened #15 "paver sync does not load initial_data fixtures"
This results in the site tables not getting created and populated and results in a broken state. Specifically, when visiting any page, results in `Exception Value: no such table: django_site`

[2015-04-21 20:44] #15 closed, assigned to nobody

[2015-05-05 19:50] jonpmarino opened #18 "Example Map in Get Pages module"
The example map form in Get Pages seems to ask for too much information. Is it possible here just to add a hyperlink to a mapstory?

[2015-05-06 02:32] jonpmarino opened #20 "problem w/ sponsors"
Not able to add sponsors for some reason...

![1010](https://cloud.githubusercontent.com/assets/2573761/7486670/962b3db0-f376-11e4-89c1-dc71c2422a09.jpg)

[2015-05-08 18:22] #20 closed, assigned to nobody

[2015-05-11 18:59] zrouse-Boundless opened #1005 "Contribute Intraplatform Messaging to GeoNode"
Implement interplatform messaging on MapStory v2
Modularize MapStory Messaging
Ensure Proper Test Coverage
Submit Pull Request to GeoNode

[2015-05-12 11:38] zrouse-Boundless opened #1006 "Implement threaded comments. Potentially contribute to GeoNode"
Implement django-threaded comments tool.

Evaluate Threaded Comments as a possible contrib module to be submitted to GeoNode.

Ensure Proper Test Coverage
Submit Pull Request to GeoNode

[2015-05-12 12:57] zrouse-Boundless opened #1007 "Composer Styling for Client Side Rendering"
Create and persist client side styles for vector layers

[2015-05-12 17:29] jonpmarino commented on #958
Accomplished in redesign

[2015-05-12 17:30] jonpmarino commented on #957
achieved in redesign

[2015-05-12 17:39] jonpmarino commented on #935
This is already accomplished sufficiently in redesign

[2015-05-12 17:40] jonpmarino commented on #837
Warper UI updates are complete

[2015-05-12 17:44] jonpmarino commented on #868
redesign resolves these ideas.

[2015-05-12 17:45] jonpmarino commented on #838
Addressed by Initiative and Org pages embodied in redesign

[2015-05-12 17:46] jonpmarino commented on #841
No longer relevant.

[2015-05-12 17:49] jonpmarino commented on #954
We need to re-evaluate the definitions of email notification going to user email address in light of redesign and versioned editing....

[2015-05-12 17:50] jonpmarino commented on #927
Acoomplished in redesign

[2015-05-12 17:55] jonpmarino commented on #897
This is accomplished in redesign via "tags"

[2015-05-12 17:55] jonpmarino commented on #896
This is accomplished in redesign via @ischneider new approach to timeslider

[2015-05-12 17:56] jonpmarino commented on #890
This is sufficiently addressed in @reynalddizon new Search UI

[2015-05-12 17:58] jonpmarino commented on #742
@reynalddizon redesign accomplishes these ideas

[2015-05-12 17:59] jonpmarino commented on #737
Completed!

[2015-05-12 18:01] #571 closed

[2015-05-12 18:02] jonpmarino commented on #519
Irrelevant based on new redesign

[2015-05-12 18:31] ischneider commented on #737
This _was_ completed but needs to be re-completed.

[2015-05-13 17:11] zrouse-Boundless opened #1013 "Story Pins Editor"
Create/edit pins
![image](https://cloud.githubusercontent.com/assets/11614809/7616956/ccd8e90a-f96d-11e4-9396-97562b956015.png)

[2015-05-13 17:30] zrouse-Boundless opened #1014 "Story Pins Bulk Upload"
upload .shp file with pins
![image](https://cloud.githubusercontent.com/assets/11614809/7616611/5a9022c0-f96b-11e4-89e8-a22542be71bc.png)

[2015-05-13 17:39] jonpmarino commented on #1014
@zrouse-Boundless Currently we support bulk upload of annotations as CSV as well. Will want to maintain that in new build

[2015-05-13 18:31] ischneider commented on #1014
shapefile would be an addition - currently only CSV supported though technically the API endpoint accepts geojson so it wouldn't be hard to add that, too

[2015-05-20 11:14] zrouse-Boundless opened #1015 "Ability to change layer type"
switch between layer strategies (wms, client side vector)
working issue: https://github.com/MapStory/story-tools/issues/214

[2015-05-20 11:15] bartvde commented on #1015
also https://github.com/MapStory/story-tools/issues/105 is relevant here

[2015-05-20 11:26] zrouse-Boundless commented on #983
@ischneider are we good here?

[2015-05-20 22:36] ischneider opened #1017 "add icons-commons"
- [x] enable in mapstory-geonode
- [x] load nepa node repository icons
- [x] have story-tools use this

[2015-05-20 22:37] ischneider opened #1018 "latest geoserver-geonode-ext"
update to 2.6.x w/ geogig

[2015-05-20 22:41] ischneider commented on #1017
Enabled in mapstory-geonode with mapstory/mapstory-geonode@ff4a0b467c88c92cdf88547b513fae08a5d324c2

Also deployed to dev instance and nepa node icons loaded

[2015-05-20 22:47] ischneider commented on #1014
depends on #1011 - either in geonode or mapstory-geonode

[2015-05-20 22:48] ischneider commented on #1011
extracted and (possibly) tested branch here: https://github.com/ischneider/geonode/tree/annotations

just rebased to master

[2015-05-20 22:55] ischneider commented on #1017
story-tools configured to use dev icon commons with:
MapStory/story-tools@0deb32594162542aeaf34e978535e7e907351d82

[2015-05-20 22:55] #1017 closed

[2015-05-22 16:51] bartvde commented on #984
hey @ischneider is this about integrating the composer viewer into the Django template?

[2015-05-26 14:01] ischneider commented on #984
@bartvde yes

there has been some recent discussion better approaches for offering different map client solutions. might be useful to be part of

[2015-06-02 11:44] bartvde commented on #1015
This was finished.

[2015-06-02 11:44] #1015 closed

[2015-06-02 11:45] bartvde commented on #1013
except for the media part this is done

[2015-06-02 11:45] bartvde commented on #1009
heatmap is done in a basic form

[2015-06-02 11:46] bartvde commented on #1008
This has been done long time ago, unless I am misunderstanding this issue. Feel free to reopen in that case.

[2015-06-02 11:46] bartvde commented on #1007
This was done as well long time ago.

[2015-06-02 11:46] #1007 closed

[2015-06-02 18:17] davisc commented on #1013
I've been able to integrate storytools into the mapstory-geonode project and add the media buttons to the form. Final task is to wire up the buttons to the backend functionality.

[2015-06-02 19:02] jwood106 commented on #1006
At this time (Friday 5/29 standup mtg), we (Clarence and I) recommended that we not contribute this back to GeoNode as a contrib module.

[2015-06-12 14:14] jonpmarino opened #1021 "Make sure users are able to "delete" their profiles"
Right now once a user is logged on and creates a profile they have no clear way to remove themselves. Problem.

[2015-06-12 14:27] garnertb opened #22 "The `restart django` task fails on first run."
The restart django task attempts to restart django before it has been started.  I can temporarily fix this by changing the state to `started` here: https://github.com/MapStory/mapstory-geonode/blob/master/scripts/provision/handlers.yml#L10.  I'm sure there is an easy way to add some conditional logic here.

[code]

[2015-06-12 15:22] jonpmarino opened #1022 "Need a longer character limit for Journal entry titles"
Current set way too short.

[2015-06-15 02:09] jonpmarino opened #1024 "Need directions on how to do basic WYSIWYG functions in Journal entry form"
i.e., bold text, hyperlinks, upload images

[2015-06-15 02:27] jonpmarino opened #1025 "Need to be able to add tags to Journal entries and click on tags to sort Journal entries by a tag"
In Community Journal module, need to be able to enter into a search box to pull up entries by a user, or tag

[2015-06-15 20:02] ischneider commented on #1023
The uploader has been a source of many problems so it's quite possible this has broken.

In V1, this was configured during ingest using the GeoServer REST API. I think using this code: https://github.com/boundlessgeo/geonode/blob/52b59f7e19f7a18dabbee6af4a4e29a19c136d1a/src/gsuploader/src/gsuploader/api.py#L266
My guess is something similar is in use in GeoNode master.

Ideally, a user would be ab

[2015-06-15 20:17] jonpmarino opened #1028 "Add: Set notifications"
We need to define these. My sense is they include:

-message me each time a StoryLayer is edited that I've edited...Y or N.
-message me each time my MapStory is commented on?
-message me each time a StoryLayer used in one of my MapStories is edited? Y or N
-message me when my MapStory is flagged.
-message me when my MapStory, or a StoryLayer I've edited is commented on.

do we have the ability to

[2015-06-15 20:24] jonpmarino opened #1029 "Update: Replace Latin sub-text under Community Journal"
"Share your ideas, projects and questions with the rest of the MapStory community..."

[2015-06-16 19:56] zrouse-Boundless opened #1030 "Creating a new user on Beta hangs and fails"

[2015-06-16 19:56] zrouse-Boundless opened #1031 "When creating new user it is not obvious what my username will be"

[2015-06-16 20:27] jwood106 commented on #1030
To set up new account, user is asked for first name, last name, email, password.  I filled out the info, checked the terms, pressed submit.  Received no error msg.
Then i went to log in and it asks for username and password.  not sure what it is thinking the username is, that was not one of the input field labels.
Tyler went through the UI and 'created' three users.  He looked at the back end and

[2015-06-17 18:54] garnertb opened #31 "Add the `geonode_authorize_layer` function to the build."
https://github.com/ROGUE-JCTD/rogue-cookbook/blob/4f2ed83f046ecb26a74f456a9ea1463f1f392f77/recipes/database.rb#L67

[2015-06-18 01:32] #739 closed

[2015-06-18 18:17] #31 closed, assigned to nobody

[2015-06-18 19:23] reynalddizon opened #1032 "Featured MapStories on the homepage"
We need to add Featured MapStories after the first homepage section. See attachment. Needs design refinement. The list should be pull from site admin's favorites. Also, "Biology" should be "Biography"

![screen shot 2015-06-18 at 3 20 55 pm](https://cloud.githubusercontent.com/assets/4611843/8240037/e9edf964-15cd-11e5-957f-b3ad1f531fa0.png)

[2015-06-18 19:25] reynalddizon opened #1033 "Social media buttons in the footer"
Put them below the Donate button.
Buttons should be round, with white outlines and should only contain the logos of the social network. (The logos should be available on Font-Awesome)

Twitter: twitter.com/mapstory
Facebook: http://www.facebook.com/mapstories
Github: https://github.com/mapstory

[2015-06-18 19:25] reynalddizon opened #1034 "Wysiwyg editor or clear guidance on codes for Journal"
Journal entry writers need to know how to add bold, italics, hyperlink, images, videos, etc to their journal entries. Basic blog entry actions.

[2015-06-18 19:26] reynalddizon opened #1035 "Remove "News feed" tab in Profile page and change "User Activities" to "Activity Feed""

[2015-06-18 19:29] reynalddizon opened #1040 "Explore page design refinements"
1. Remove the bullet points on the items under What's Hot
2. Uniform typography on the items under Refine Search.
3. On the Topics filter, replace the number badge on the right hand side with a checkmark (if the item is selected) and if unselected, leave the right hand side blank.
4. Fix the height of the vertical divider. (Currently, it depends on the height of the content of the right hand panel

[2015-06-18 19:29] reynalddizon opened #1041 "Sign up modal design refinement"
-Align the elements (textboxes and label)
-Make the Login button more prominent (Maybe a gray fill?)
-Remove the Twitter and Yahoo sign up options.
-Link the terms and conditions text to http://wiki.mapstory.org/wiki/Terms_of_Service

[2015-06-18 19:30] reynalddizon opened #1042 "StoryLayer page layout refinement"
Change the layout of the StoryLayer page to align with the one in the mockup.
![screen shot 2015-06-16 at 4 30 43 pm](https://cloud.githubusercontent.com/assets/4611843/8240207/f5089600-15ce-11e5-8e66-4e60c52c80b3.png)

[2015-06-18 19:32] reynalddizon opened #1043 "Consistent Typography across the platform"
USE: "Open Sans" font in all pages.

[2015-06-18 19:33] reynalddizon opened #1044 "Need to ensure get page model enables video embed - YouTube or Vimeo"
On each of the get pages (get skills, get started, get resources) we need to be able to add a video embed. Need to make sure that is reflected in the django module.

[2015-06-18 19:34] garnertb opened #1045 "Revert _resourcebase_snippet.html update."
The over ride is affecting everywhere the resourcebase_snippet is used: https://github.com/MapStory/mapstory-geonode/blob/master/mapstory/templates/base/_resourcebase_snippet.html

[2015-06-18 19:34] garnertb opened #1046 "Revert _resourcebase_snippet.html update."
The over ride is affecting everywhere the resourcebase_snippet is used: https://github.com/MapStory/mapstory-geonode/blob/master/mapstory/templates/base/_resourcebase_snippet.html

[2015-06-19 01:07] garnertb commented on #1050
Sorry, its not clear to me what you're getting at with this issue.    Are you saying that the MapStory Wiki text should be turned into a link?

[2015-06-19 01:10] reynalddizon commented on #1050
Yeah, i think that's what Jon meant.

[2015-06-19 03:09] garnertb commented on #1038
I think I got all of these.

![screen shot 2015-06-18 at 11 02 30 pm](https://cloud.githubusercontent.com/assets/1141646/8246547/3d3158d8-160e-11e5-9708-b7e684a3e636.png)

[2015-06-19 03:09] #1046 closed

[2015-06-19 04:51] travislbrundage commented on #1022
What's a reasonable character limit for this?

[2015-06-19 05:03] jonpmarino commented on #1022
Does there have to be a limit? If so, a good marker is the longest title of the essays on current mapstory.org

[2015-06-19 05:12] travislbrundage commented on #1022
Technically I think there doesn't need to be, but I'll ask others if it's unwise for some reason.

[2015-06-19 11:48] garnertb commented on #1022
@travislbrundage, I suggest trying to find a reasonable limit of characters or at least use the truncatechars template tag (https://docs.djangoproject.com/en/1.8/ref/templates/builtins/#truncatechars) to reduce the length on the client-side, just to be safe.

[2015-06-19 11:50] jonpmarino commented on #1022
Agreed. Not huge so don't get hung up. Make sure this fits, beyond-pushpin-mapping-the-power-of-crisis-mapstorytelling. How's that?

[2015-06-19 11:54] garnertb commented on #1022
Thats 58 characters, I'd start with 255 just to see how it goes.

[2015-06-19 12:43] garnertb commented on #934
We currently show the number of contributors on the story layer detail page. Are you thinking it should also be shown in the actual editor?  If the the screen shot below works for now, I think we should close this.

![screen shot 2015-06-19 at 8 39 32 am](https://cloud.githubusercontent.com/assets/1141646/8253514/cecf8bfc-165e-11e5-98e5-4169388b01e8.png)

[2015-06-19 12:49] jonpmarino commented on #934
@garnertb that's fine. But review @reynalddizon mockup for StoryLayer viewer page. He has a slightly different look for how this would be represented. May need mods but is something to start with

[2015-06-19 12:51] garnertb commented on #934
@reynalddizon, can you add the screenshot of the geogit section in you're mockup to this issue?

[2015-06-19 12:55] jonpmarino commented on #934
![storylayer](https://cloud.githubusercontent.com/assets/2573761/8253776/dd767560-1660-11e5-93a2-fc9056b843d6.jpg)

[2015-06-19 12:56] garnertb commented on #934
Where's the contributors section?

[2015-06-19 12:58] jonpmarino commented on #934
He's got that "edits" tab. presumably you could put "total commits" and "total contributers" there

[2015-06-19 12:59] ChristopherTucker commented on #934
That is a MapStory, not a story layer

Chris
703-981-9373

[2015-06-19 13:12] jonpmarino commented on #934
no, its the layer mockup. very similar to mapstory mockup though. Major different is storylayer has edit tab and will have different metadata fields.

![mapstory](https://cloud.githubusercontent.com/assets/2573761/8254057/3cd42b18-1663-11e5-981c-f028a8086798.jpg)

[2015-06-19 13:15] ChristopherTucker commented on #934
Maybe "edit history" tab?

Chris
703-981-9373

[2015-06-19 13:15] reynalddizon commented on #934
Yeah Jon's right. That's the layer mockup. I just used the same stock image for the frame on the left.

[2015-06-19 13:29] garnertb commented on #1045
Duplicate of https://github.com/MapStory/mapstory/issues/1046.  Closing.

[2015-06-19 13:29] #1045 closed

[2015-06-19 13:32] garnertb commented on #1031
Merging this with: https://github.com/MapStory/mapstory/issues/1030.

[2015-06-19 13:32] #1031 closed

[2015-06-19 15:36] jonpmarino opened #1051 "Check and optimize site for mobile view"
We need to take some time to user test the interface on mobile devices and tweak/optimize the view for graceful viewing.

Once we have that, there is a link in footer for people to view site as mobile view if they desire. Should activate that link.

Change.org is a decent model. They don't use an app, but have the petition site well optimized for mobile to click and play.

[2015-06-19 15:56] jwood106 commented on #1035
have change ready, working out commit rights.

[2015-06-19 16:13] jwood106 commented on #1035
done.
https://github.com/MapStory/mapstory-geonode/commit/1e3d7db8320a6be9e0bcaea4004867ae8d0d297e

[2015-06-19 16:13] #1035 closed

[2015-06-19 16:35] jwood106 commented on #1029
done.
https://github.com/MapStory/mapstory-geonode/commit/04ba8fc83bb1ddb5c36f129b1b4e1d1efd883604

[2015-06-19 16:35] #1029 closed

[2015-06-19 16:53] jwood106 commented on #1027
i see two left nav 'user actions'  for layer and map.  will replace their wording per wording on Rey's profile page mockup:
upload new layers -> upload story layer
create a new map -> create a mapstory

[2015-06-19 16:58] reynalddizon commented on #1027
Thanks @jwood106

[2015-06-19 17:10] jwood106 commented on #1027
done.
https://github.com/MapStory/mapstory-geonode/commit/98e61dd67c5d63dbc9d91bb663d5f6a2e75fb82e

[2015-06-19 17:24] garnertb commented on #1030
Fixed in https://github.com/MapStory/mapstory-geonode/commit/e2579c97d1a46854f2347605989e33a6560b8311.

[2015-06-19 17:24] #1030 closed

[2015-06-19 17:40] davisc commented on #1030
These changes are now available on the dev site.

[2015-06-19 17:41] garnertb commented on #1030
Awesome, thanks!

[2015-06-19 17:44] jonpmarino commented on #1027
Can we do no space between story and layer....storylayer. Need consistency

[2015-06-19 17:45] jonpmarino commented on #1027
Nice! My mistake

[2015-06-19 17:51] jwood106 commented on #1027
@jonpmarino
yes, my original comment had the errant space.  noticed my mistake while implementing.  thx for looking it over.

[2015-06-19 18:11] travislbrundage commented on #1022
I was incorrect, it requires a max character limit. I've set it to 128 characters, which is about this long. Closed by [Pull Request #36](https://github.com/MapStory/mapstory-geonode/pull/36).

[2015-06-19 18:11] #1022 closed

[2015-06-19 18:14] travislbrundage commented on #1022
Closed by [Pull Request #36](https://github.com/MapStory/mapstory-geonode/pull/36)

[2015-06-19 18:14] jonpmarino commented on #1022
;)

[2015-06-19 18:39] travislbrundage commented on #1050
Closed by [Pull Request #38](https://github.com/MapStory/mapstory-geonode/pull/38)

[2015-06-19 18:55] jonpmarino opened #1054 "Change Topics, Time Periods, Places to What, When, Where on Explore"

[2015-06-19 19:07] garnertb opened #1055 "Re-enable the time slider."
detail pages should have this:
![screen shot 2015-06-19 at 3 04 45 pm](https://cloud.githubusercontent.com/assets/1141646/8260912/9698ec2a-1694-11e5-9e8b-bf2f63226bb4.png)

not this:
![screen shot 2015-06-19 at 3 07 39 pm](https://cloud.githubusercontent.com/assets/1141646/8260966/f34c89c2-1694-11e5-9fcb-59cd657042de.png)

[2015-06-19 21:39] jonpmarino opened #1056 "Make sure password resent works in profile > edit password"

[2015-06-19 23:45] garnertb commented on #1052
@jonpmarino, can you add the link to the picture you want to use to this issue?  (I've seen it before but I don't remember where).

[2015-06-19 23:55] garnertb commented on #1054
![screen shot 2015-06-19 at 7 51 43 pm](https://cloud.githubusercontent.com/assets/1141646/8265008/172fb7f6-16bd-11e5-97b5-1c4885d27eb3.png)

[2015-06-20 00:10] garnertb commented on #1048
And leave About, Blog, Mobile View blank?

[2015-06-20 00:13] jonpmarino commented on #1052
sent by email

[2015-06-20 00:40] garnertb commented on #1048
Closed in https://github.com/MapStory/mapstory-geonode/pull/39.

[2015-06-20 01:05] jonpmarino commented on #1048
About goes to get started. The first get started section will be a meta about video. Blog goes to blog.mapstory.org

[2015-06-20 01:23] reynalddizon commented on #1055
For time slider controls (like pause, play and others), use the font-awesome characters. I think it's already included in the dev site, but here's the cheat sheet.
http://fortawesome.github.io/Font-Awesome/3.2.1/cheatsheet/

[2015-06-20 01:25] reynalddizon commented on #1054
Yes, Topics (What), Places (Where) and Time Period (When), Keywords will remain the same.

[2015-06-20 12:41] davisc commented on #1060
mapstory.beta.boundlessgeo.com has been assigned to the new aws instance. It is available now, however, I will send an update once it is ready to switch over to it.

[2015-06-20 12:43] davisc commented on #1048
These changes have been deployed to mapstory.dev.opengeo.org

[2015-06-20 12:47] davisc opened #1061 "Anonymous users are are not allowed to discover content"
Appears to be a data migration issue where non admin users are prevented from discovering content. This was discussed during stand up 6/19/15.

[2015-06-20 12:50] davisc commented on #1061
I have identified the root cause and developed the fix to resolve the issue - migration data related. A fix was applied to mapstory.dev.opengeo.org. Unauthenticated users on mapstory.dev.opengeo.org can now discover migrated content on the explore page.

[2015-06-20 12:50] #1061 closed

[2015-06-20 15:41] reynalddizon commented on #1059
Is there a way to update the get started graphics thru the get page django admin model?

[2015-06-20 16:55] jonpmarino opened #1062 "Change Get Started subtext on home"
"MapStory is an open platform for organizing our collective knowledge about how the world changes over time and space. Click on a link to the right, and learn how you can start contributing observations of your own."

[2015-06-20 19:12] travislbrundage commented on #1049
Closed by [Pull Request #40](https://github.com/MapStory/mapstory-geonode/pull/40).

[2015-06-21 14:51] reynalddizon opened #1066 "User Search result cards update"
User search cards must look like this:

![screen shot 2015-06-21 at 10 49 18 am](https://cloud.githubusercontent.com/assets/4611843/8272067/4b886eb6-1803-11e5-84e8-0f2409a1e80b.png)

and user avatars should be masked with a circle frame.

[2015-06-21 14:58] reynalddizon commented on #1057
![screen shot 2015-06-21 at 10 58 02 am](https://cloud.githubusercontent.com/assets/4611843/8272100/79f2caf2-1804-11e5-9cf7-063e64bc3a71.png)

[2015-06-21 18:31] jonpmarino opened #1068 "Need to address UI behaviors on Mobile View"
We need to test the UI on Mobile. We don't expect to support editing or composing on mobile at this Stage. But users should be able to see the Homepage with coherence, explore and hit play on mapstories without too much difficulty.

[2015-06-21 20:46] travislbrundage commented on #1062
Closed by [Pull Request #42](https://github.com/MapStory/mapstory-geonode/pull/42)

[2015-06-21 20:46] #1062 closed

[2015-06-21 22:33] garnertb commented on #1067
Closing, I think this was the start of https://github.com/MapStory/mapstory/issues/1068?

[2015-06-21 23:00] travislbrundage commented on #1069
Closed by [Pull Request #43](https://github.com/MapStory/mapstory-geonode/pull/43)

[2015-06-21 23:30] jonpmarino commented on #1068
Also there is no header menu on mobile view

[2015-06-21 23:30] jonpmarino commented on #1067
Correct. My bad

[2015-06-22 00:42] jwood106 commented on #1054
done.
https://github.com/MapStory/mapstory-geonode/commit/be41a90ac08eef5da62c332f69627a312fbd2c11
Also, in screenshot above, Topics and Places are darker than Time Periods and Keywords.  Revised the html to make all four Refine Search choices consistent.

[2015-06-22 00:42] #1054 closed

[2015-06-22 00:44] jonpmarino commented on #1054
Nice!

[2015-06-22 01:17] travislbrundage commented on #1053
Closed by [Pull Request #44](https://github.com/MapStory/mapstory-geonode/pull/44)

[2015-06-22 01:29] travislbrundage commented on #1055
This is partially working right now. http://mapstory.beta.boundlessgeo.com/maps/133/viewer

The part I am most confused about is loading the nouislider.css. This might be due to my inexperience with bower... I see the file located in mapstory/static/vendor/nouislider/src, but I can't reference it there. I also see in the bower.json that 'nouislider' is listed as a dependency. However, I don't see

[2015-06-22 01:52] travislbrundage commented on #1059
@reynalddizon I don't think there is right now... Right now the images are being grabbed through mapstory-assets.

Closed by [Pull Request #46](https://github.com/MapStory/mapstory-geonode/pull/46)

[2015-06-22 03:36] garnertb commented on #1041
Fixed in https://github.com/MapStory/mapstory-geonode/commit/1e47d0427d5575499a87fd4b09301379dfdbd1d6.

[2015-06-22 03:36] #1041 closed

[2015-06-22 05:29] travislbrundage commented on #1071
Closed by [Pull Request #47](https://github.com/MapStory/mapstory-geonode/pull/47)

[2015-06-22 15:59] travislbrundage commented on #1039
Closed by [Pull Request #52](https://github.com/MapStory/mapstory-geonode/pull/52)

[2015-06-22 16:28] jonpmarino commented on #1071
needs to be right sized

[2015-06-22 16:44] travislbrundage commented on #1052
Closed by [Pull Request #53](https://github.com/MapStory/mapstory-geonode/pull/53)

[2015-06-22 16:57] jonpmarino opened #1075 "Header elements disappear when browser is minimized"
Need a mobile behavior that maintains header. Perhaps looks like this:
![45678](https://cloud.githubusercontent.com/assets/2573761/8287493/476659a2-18de-11e5-9c56-872cda329897.jpg)

[2015-06-22 20:04] travislbrundage commented on #1071
Closed by [Pull Request #55](https://github.com/MapStory/mapstory-geonode/pull/55)

[2015-06-22 21:07] travislbrundage commented on #1032
Related to Issue #1073. For now, getting it to display just any featured MapStories, then later when the correct categories are worked in, will add those queries.

[2015-06-22 21:07] jwood106 commented on #1076
Clarence asked me to do this story, then #1077.

[2015-06-22 21:11] travislbrundage commented on #1055
Apparently the change I made in [Pull Request #54](https://github.com/MapStory/mapstory-geonode/pull/54) didn't fix the nouislider css not appearing... because it can't find jquery.css to load either. I actually don't know where that file came from. Although I still believe it is the correct file to reference, it's not loaded into the static css files.

[2015-06-22 21:45] jonpmarino commented on #1032
Correct. Sorry for duplicate

[2015-06-22 21:46] jonpmarino commented on #1076
Thanks Jeff!

[2015-06-22 22:32] jwood106 commented on #1076
done.
https://github.com/MapStory/mapstory-geonode/commit/55dd80310a9b0ffa7f38d811e6ff3a32fadf2598

[2015-06-22 23:23] garnertb commented on #1080
Closed in https://github.com/MapStory/mapstory-geonode/commit/48386688933f94e9f23b233d4443bd068f0d9790.

[2015-06-22 23:49] jonpmarino commented on #1080
Nice pickup

[2015-06-23 02:29] jonpmarino commented on #1076
looks good!

[2015-06-23 03:02] travislbrundage commented on #1055
Just going to note that although this isn't 100% completed, it's in a state where it at least works, but the styling isn't quite right. Ran into the issue I noted above.

[2015-06-23 03:03] #1051 closed

[2015-06-23 03:22] #1033 closed

[2015-06-23 03:31] davisc commented on #1058
Is the paypal link configured with mapstory.org as the allowed referrer? If so, this link will not be authorized from another domain.

[2015-06-23 05:07] travislbrundage commented on #1032
Closed by [Pull Request #56](https://github.com/MapStory/mapstory-geonode/pull/56)

[2015-06-23 05:07] #1032 closed

[2015-06-23 05:19] jwood106 commented on #1077
Status: i have the diary info available on the template (as demonstrated in the template change, generating comments with diary info).  Was not able to successfully format the html correctly from static to dynamic.  So I backed out some of my work, committed what is correct to a feature branch(https://github.com/MapStory/mapstory-geonode/tree/diary_entries_to_main_page).

This change involves a mo

[2015-06-23 07:58] travislbrundage commented on #1078
Are these "Organization Pages" supposed to be something internal to MapStory? Technically even with the changes I've made that should still work out, I just wanted to clarify. I basically just made this identical to the Sponsors module. If something different was intended, I can fix for next sprint...

As a random note, django doesn't properly pluralize Community in the admin panel.

Closed by [Pu

[2015-06-23 11:35] davisc commented on #1047
I'm working with the sys admin to resolve this issue.

[2015-06-23 12:45] davisc commented on #1047
In the mean time I updated the link on the beta.mapstory.org splash page.

[2015-06-23 21:26] garnertb commented on #1063
Closed in: https://github.com/MapStory/mapstory-geonode/commit/228d9c2bd310365237d95a944b794a1dfe169801

Note: this requires a migration to deploy:
[code]

[2015-06-23 21:41] travislbrundage commented on #1075
Working on this, I think what makes the most sense is for there to be a hamburger menu for the Explore, Create, and Journal items. I think in place of "How To" it may be better on mobile to just have additionally Get Started, Get Skills, and Get Involved (removing the dropdown). Since we have an outer "dropdown" affect with the hamburger it doesn't make sense to me to induce another. The user pane

[2015-06-24 07:06] travislbrundage commented on #1068
Issue #1075 is the header stuff, noted on the animated GIFs (I assume you're referring to the parallax images changing size and repeating). Is there anything else? If so, can you please expand upon the weird behaviour on mobile so we know what to look out for?

[2015-06-24 07:12] travislbrundage commented on #1034
Duplicate of #1024?

[2015-06-24 07:40] travislbrundage commented on #1055
[Pull Request #61](https://github.com/MapStory/mapstory-geonode/pull/61) should finally fix that.

[2015-06-24 12:51] davisc commented on #1004
Spatial data has been migrated and layers are being served. Needs more testing to ensure everything is intact.

[2015-06-24 14:30] garnertb opened #1081 "Cache dimensions data in the GeoNode db to allow lazy loading."
In order to get https://github.com/MapStory/mapstory/issues/1055 working I had to disable the GeoEXT lazy loading functionality from: https://github.com/MapStory/geonode/commit/82c30829a734388796f6e4587d5b92906604cb43.  This requires GeoEXT to make a GetCapabilties request when the user visits a layer detail page.  The GetCapbilties request will time out when a large number of layers are present.

[2015-06-24 14:32] garnertb commented on #1055
The time slider has been re-enabled for the layer detail and map detail pages.  There are some performance issues that still need to be worked out (see related issue) as a medium priority task.

[2015-06-24 14:32] #1055 closed

[2015-06-25 13:10] garnertb commented on #1081
Alternatively we may be able to filter the getcapabilties to a single layer: `geoserver/geonode/Solo_Americas1/wms?service=wms&version=1.3.0&request=GetCapabilities`

[2015-06-26 01:53] travislbrundage commented on #1044
This is basically done, but there are some compatibility concerns. According to caniuse.com/#feat=video it looks like the video format with the most compatibility is .mp4. However, even with that, older versions of Firefox won't support it. I'm just wondering how much of a concern this should be? What are the plans for uploading videos? Will they always be .mp4?

[2015-06-26 02:02] reynalddizon commented on #1044
We're pretty flexible on video formats, just do whats the most practical and we'll convert the videos accordingly.

[2015-06-26 02:36] travislbrundage commented on #1044
@jonpmarino You just changed it to a YouTube or Vimeo embed? So you want to embed a link to a different hosting site then? Maybe I misunderstood, I thought the desire was to upload a video file (such as .mp4) to the django model and have it appear on the page.

[2015-06-26 02:46] travislbrundage commented on #1040
I think 2. was already addressed when Jon updated the wording to What, When, and Where. Please let me know if it still looks wrong, because it looks uniform to me right now.

[2015-06-26 08:22] travislbrundage commented on #1040
Fixed 1 and 3. I'm sorry, but I'm not sure I understand what is desired differently for 4? Maybe we can talk about this tomorrow? Or maybe a visual would help me understand... the way I see it the vertical divider is above both, not just dependent on the right hand panel, but maybe I'm looking at something wrong.

[2015-06-26 08:57] travislbrundage commented on #1056
Just tried this on Beta, seemed to work fine to me?

[2015-06-26 08:57] #1056 closed

[2015-06-26 12:38] jonpmarino commented on #1044
I think embed of external link would be easier long run

[2015-06-26 12:39] reynalddizon commented on #1040
The vertical divider is dependent on the height of the content of the search results the more search results shown, the longer the vertical divider, see screen cap. The vertical divider here is the border-left style attribute of the class "col-lg-9".

![screen shot 2015-06-26 at 8 10 02 am](https://cloud.githubusercontent.com/assets/4611843/8376968/e87bb716-1bda-11e5-80da-cca2a3bd9401.png)

My ide

[2015-06-26 13:06] zrouse-Boundless opened #1084 "Move Beta to Tomcat"
Jetty is not the final answer

[2015-06-26 13:36] jwood106 commented on #544
Just reviewed the story and its comments after Jon assigned it to me.  This is going to be a lot of work, and do not think ISTE2015 (July 1) target is do-able.

[2015-06-26 13:45] garnertb commented on #983
This is done.

[2015-06-26 13:51] jwood106 commented on #1077
Status:
Ok, have made it past the dynamic problems I reported 3 days ago.  The diary entries now being dynamically populated, and each of them correctly links to its corresponding detail page.
Still have some formatting and presentation work to do.  Once get that done, will create pull request from the feature branch.

[2015-06-26 14:08] garnertb commented on #1084
@davisc: When you do this, can you move the .geogitconfig (I think its in /var/www) file to tomcat's home as `/usr/share/tomcat7/.geogigconfig`?

[code]

[2015-06-26 16:56] jonpmarino commented on #1077
Awesome!

[2015-06-26 17:13] travislbrundage commented on #1040
Ah okay, I understand now. Thanks for the further clarification and picture Rey, that helped a lot!

[2015-06-26 17:15] travislbrundage commented on #1044
It'll allow us to ignore compatibility issues, so I agree, I think that will be easier. I already finished it the one way though so I'll keep the branch existing in case it's desired at any point. Can always do both, as well.

[2015-06-26 18:43] reynalddizon commented on #1040
@travislbrundage since you're working on refining the explore page already, might be good to address Issues #1065 and #1066 too.

[2015-06-26 18:47] reynalddizon commented on #1057
Add "Join Volunteer Technical Community?" checkbox after the Help emails checkbox. Checking this will add an attribute to the user: volunteer.

[2015-06-26 18:56] zrouse-Boundless opened #1085 "Layer Preview can use a layer specific getcap"
http://mapstory.beta.boundlessgeo.com/geoserver/geonode/Solo_Americas1/wms?service=wms&version=1.3.0&request=GetCapabilities

update the layer url in the context_dict of this view: https://github.com/MapStory/geonode/blob/82c30829a734388796f6e4587d5b92906604cb43/geonode/layers/views.py#L284.

[2015-06-26 18:57] jonpmarino commented on #544
Desired behavior is demonstrated here, http://demo.geonode.org/. Clearly we have multiple language issues inside MapStory - i.e. translation in data itself, translation in front end interface, translation of user generated storypins, etc. The first win is just to get the interface language to be easily toggled so non-English users can browse the site in their own language. Deeper multilingual issu

[2015-06-26 19:02] reynalddizon commented on #1072
Since there are some major differences between the Composer tabs in the mockup and the one in the beta, I'm going to revise my mockup a little bit to address these differences. Will let you know @davisc when I finish it.

[2015-06-26 19:17] davisc commented on #1084
Sure thing. Thanks for the note.

[2015-06-26 19:22] travislbrundage commented on #1040
Closed by [Pull Request #64](https://github.com/MapStory/mapstory-geonode/pull/64)

[2015-06-26 19:22] #1040 closed

[2015-06-27 23:13] garnertb commented on #1034
Closing, dup of #1024.

[2015-06-27 23:13] #1034 closed

[2015-06-28 16:18] garnertb commented on #1085
Fixed with https://github.com/MapStory/geonode/commit/deb8504eea63e5582e5ea5aa4970d8ca6c83fa01.

I still think implementing https://github.com/MapStory/mapstory/issues/1081, which would avoid the get capabilities request all together, is the right long-term solution for MapStory.

[2015-06-28 16:18] #1085 closed

[2015-06-28 16:48] davisc commented on #1087
Done. Needed to psql alter table to add the missing column external_link_title.

[2015-06-29 01:34] travislbrundage commented on #1044
Closed by [Pull Request #65](https://github.com/MapStory/mapstory-geonode/pull/65)

[2015-06-29 01:34] #1044 closed

[2015-06-29 04:38] travislbrundage commented on #1042
So I have quite a few questions/comments on this one - perhaps we can discuss in a call tomorrow, but I thought it would be good to have them written down.

1. What does 'use' do?
2. What does 'flag' do?
3. We have 'Category' in the top section, and then 'Topic' as well in the Meta. They're the same thing, I believe. I don't have a problem with it, but I just thought I'd point out the information

[2015-06-29 12:55] reynalddizon commented on #1072
![screen shot 2015-06-29 at 7 46 32 am](https://cloud.githubusercontent.com/assets/4611843/8408278/9ac79bf2-1e3c-11e5-9c45-8c5eb5fe5896.png)

[2015-06-29 12:57] reynalddizon commented on #1042
-Use StoryLayer to make a mapstory. So basically, this will link to the composer interface with this Storylayer added in the Storylayer tab.

-Flag means you're marking the Storylayer because it has some issues content-wise. Ask Jon for clarification about this concept.

-Yeah, they're pretty much the same. It's fine to duplicate. I think we'll go with the term "Topic" for both.

-yeah, that's oka

[2015-06-29 14:57] travislbrundage commented on #1042
Awesome, thank you for the detailed response Rey!

[2015-06-29 18:49] garnertb commented on #1018
This is done. Closing.

[2015-06-29 18:49] #1018 closed

[2015-06-29 21:15] jwood106 commented on #1077
changes are ready to go in https://github.com/MapStory/mapstory-geonode/pull/66

[2015-06-30 13:19] jwood106 commented on #1077
done.
Clarence reviewed the pull request, merged and pushed to beta.

[2015-06-30 13:20] davisc commented on #1084
I did the following so that tomcat and jetty can run side by side:

* Reconfigured Jetty with Supervisor (ansible changes removed required files)
* Installed tomcat and deployed the 2.6 war provided by @garnertb with the connector listing on port 8082.
* Updated the web.xml to configure DATA_DIR for Tomcat
* Updated permissions so that Jetty and Tomcat owner:group were in sync (www-data)
* Updated

[2015-06-30 13:20] #1084 closed

[2015-06-30 13:49] jwood106 commented on #1073
When I choose any of the current topics on home page on beta, none of them return any results except the 'All'.  So looks like we have either no MapStories in any of those topics, or we have an application issue that needs to be resolved.  For this story, I will change the list of Explore topics (labelled 'What') to match the main page's list.  I will write up a separate issue to make sure the sea

[2015-06-30 13:51] jwood106 opened #1088 "Implement MapStory Topic search"
When I choose any of the current topics on home page on beta, none of them return any results except the 'All'.  After talking to Jon and looking at code, can see we have not implemented these MapStory specific categories in MapStory v2.  Implement these and apply to the home page topic search and the Explore 'What' section so that topic search works in both places.

[2015-06-30 13:55] jonpmarino commented on #1073
Correct, Jeff. Thanks for getting on this! The application hasn't been set up for those topics. The current mapstory.org implementation has. You may want to review that. Also, *note...beta.mapstory.org topics have one error. The one that reads Biology should read Biography.

[2015-06-30 14:28] jwood106 commented on #1073
Thanks for the confirmation Jon.  And for the info on the existing beta error, I will correct the Biology topic label to Biography.

Side note: Isn't there a song 'don't know much about biology...', this change will put us in line with that.

[2015-06-30 14:43] jwood106 commented on #1077
Received feedback from Jon and Rey after their review of beta.
Reopen issue to make these changes from Rey:
The title of the essay should be bold, maybe two lines. and the name of the storyteller on the third line, not bold.

[2015-06-30 19:31] jwood106 commented on #1073
done.
https://github.com/MapStory/mapstory-geonode/commit/1f2ce2ab363826bc416afeb0522db8f501ddf2fa

[2015-06-30 19:56] jwood106 commented on #1077
format changes done.
https://github.com/MapStory/mapstory-geonode/pull/67

[2015-06-30 22:14] reynalddizon commented on #1091
Well, sort of similar to what the current mapstory has. Carousel movement should follow the direction of the arrow. (the one in the current mapstory has that behavior reversed.)

[2015-06-30 22:29] jwood106 commented on #1090
done.
https://github.com/MapStory/mapstory-geonode/commit/74d55bda0bd71ff9236b106b4ecee30ad079dd14

[2015-07-01 17:46] garnertb opened #70 "Git logic in the ansible scripts should be idempotent."
If the developer is syncing a folder between the host and guest vm, the ansible scripts will fail when trying to clone the mapstory repos.  Those tasks (mapstory.yml lines 14:29) should only run when the path does not already exist.

This seems like pattern to check if a path exists. (from https://groups.google.com/forum/#!topic/ansible-project/ifi8_8FTKVo)

[code]

[2015-07-01 17:56] reynalddizon opened #1093 "Profile page style refinement"
I tweaked the mockup for profile page just a little bit, removed unnecessary features, etc.

Two modes of the profile page:
(1.) Other users viewing one's profile page:
![screen shot 2015-07-01 at 3 52 48 pm](https://cloud.githubusercontent.com/assets/4611843/8463556/49963da0-2009-11e5-9d28-928c033ce6d7.png)

(2.) User viewing his own profile page.
![screen shot 2015-07-01 at 1 54 25 pm](https://c

[2015-07-01 19:46] jonpmarino commented on #1093
Make sure it's journal entries on both views

[2015-07-01 19:55] reynalddizon commented on #1065
Abstract (summary) of story layers should be truncated to 70 characters. add a "Read more." link at the end of it and link it to the StoryLayer page.

[2015-07-01 21:28] jonpmarino commented on #1097
thanks @reynalddizon. Related to this in journal we are hoping for #1025 #1024 and #1037

[2015-07-02 16:55] reynalddizon opened #1098 "Welcome modal for Composer"
<img width="878" alt="screen shot 2016-03-10 at 11 51 46 am" src="https://cloud.githubusercontent.com/assets/4611843/13677072/8f064366-e6b6-11e5-8890-1abdcad500e4.png">

[2015-07-02 17:32] reynalddizon commented on #1065
On the StoryLayer card, the view button, should be "use" and that would launch the composer preloaded with that storylayer

[2015-07-02 17:48] jonpmarino commented on #1047
Is this still an open issue?

[2015-07-02 18:11] jonpmarino commented on #1074
Is this still relevant or already complete?

[2015-07-02 18:12] jonpmarino commented on #1025
Assigning to @travislbrundage since he has been working tags

[2015-07-02 18:13] jonpmarino commented on #1019
a holdover for Ian. Assigning to @davisc to determine if still relevant

[2015-07-02 18:15] jonpmarino commented on #1009
Can this be closed?

[2015-07-02 18:17] jonpmarino commented on #1005
Not sure where we ended up with this.

[2015-07-02 18:19] jonpmarino commented on #1002
@jeneboe1 sorry for super delayed response. The issue with saving edited styles is a known issue. We're actively re-confinguring MapStory composer whole stock. A testing environment will go live this summer and we will invite you directly to be one of the first testers. Unfortunately the current issue in MapStory composer won't be fixed in the near time.

[2015-07-02 18:21] jonpmarino commented on #1000
Hi @clwhiteh, apologies for the super delayed response. The issue with saving edited styles is a known issue with the current MapStory composer. We are currently reconfiguring the whole composer in preparation for a Beta site launch this summer. As a result, the current issue on mapstory.org prototype won't be fixed in the near term. Thanks for reaching out. Would love to have your story be one of

[2015-07-02 18:22] jonpmarino commented on #985
can this be closed?

[2015-07-02 18:23] jonpmarino commented on #977
can this be closed?

[2015-07-02 18:24] jonpmarino commented on #968
can this be closed?

[2015-07-06 13:14] davisc commented on #968
Yes

[2015-07-06 13:15] davisc commented on #977
Yes. Virtual Box provisioning is in a workable state.

[2015-07-06 13:15] #977 closed

[2015-07-06 14:58] reynalddizon commented on #1099
@davisc @jonpmarino I just noticed that if you click on panels other than "Explore All", it still directs you to the "Explore All" tab of the modal. It should be that clicking on Common StoryLayers panel with direct you to the same modal but the "Common" tab is active and not the "Explore All" tab.

[2015-07-06 18:24] garnertb commented on #1023
This is fixed.

[2015-07-06 18:26] jonpmarino commented on #1099
@reynalddizon and @davisc the Explore All tab in the mini-explore modul inside composer should also enable the user to refine in the same ways they can refine in the normal Explore...What, Where, When. @reynalddizon need designs for this

[2015-07-06 18:28] jonpmarino commented on #1099
@davisc "selecting" a layer from the mini-explore module in composer should add that layer into the map composer. Realize this is a function you've prob yet to implement

[2015-07-06 20:37] davisc commented on #1099
@jonpmarino "selecting" a layer from the mini-explore module in composer will add each layer the map once you press the "use selected" button. Currently, the oil_deepwater9 and oil_deepwater10 layers work because they were newly uploaded. Most of the layers in the search result fail to load on the map because the underlying data does not exists in geoserver.

[2015-07-06 21:37] jonpmarino commented on #1042
I think we should change "use" to "compose mapstory". Will cause that vertical bar to move a bit to make room.

[2015-07-07 00:37] travislbrundage commented on #1088
Hi @jwood106 - has there been any work you've done towards this?

[2015-07-07 01:09] jonpmarino commented on #1088
Should begin by reviewing implementation on production. This is already implemented there. Users assign storylayers to topics when completing metadata

[2015-07-07 12:22] jwood106 commented on #1088
@travislbrundage No, I have not done any work to implement this.  When I wrote this story, I did quickly look at the object hierarchy on production.  The existing 'topics' hierarchy I see there are model objects named section, and a section has topic(s), and a topic has layer(s) and map(s).  I think this is one more level than provided in GeoNode.  Iirc, Ian mentioned MapStory had changes from Geo

[2015-07-07 18:46] reynalddizon opened #1101 "MapStories and StoryLayers content on Profile page"
(1) Profile page: Add MapStories content to the MapStories tab.

(2) Move the StoryLayers content from the MapStories tab to StoryLayers tab.
<img width="1280" alt="screen shot 2015-07-07 at 2 43 32 pm" src="https://cloud.githubusercontent.com/assets/4611843/8554266/d483ea6e-24b6-11e5-950e-44b548f17cee.png">

[2015-07-07 19:22] jonpmarino opened #1102 "Implement Organization page"
We need to implement the Organization profile page, as opposed to Individual Profile page. Basic idea is that Org pages let an admin build a place at a single URL where storylayers, storytellers and mapstories exist together. Admin can pull storylayers, storytellers and mapstories into their Org page by favoriting those contents on the site. This is the same workflow for Org page that exists on Pr

[2015-07-08 00:07] jwood106 commented on #1001
Contributed Favorites back to GeoNode as a contrib module.
Submitted it as a pull request and revised the submission per GeoNode developer feedback.
https://github.com/GeoNode/geonode/pull/2165

[2015-07-08 03:15] travislbrundage commented on #1088
Closed by [Pull Request #72](https://github.com/MapStory/mapstory-geonode/pull/72) in mapstory-geonode, and [Pull Request #6](https://github.com/MapStory/geonode/pull/6) in geonode. To note, this requires changing the fixtures in the geonode project, but it is not something that will be contributed back to geonode. It's a mapstory specific change.

Further, this change will require a database for

[2015-07-08 03:15] #1088 closed

[2015-07-08 03:38] meilinger commented on #1083
For the life of me couldn't figure out how to track the tip of master automatically for submodules.

[2015-07-08 13:59] reynalddizon commented on #1102
<img width="1280" alt="screen shot 2015-07-08 at 9 58 52 am" src="https://cloud.githubusercontent.com/assets/4611843/8572010/0128d02e-2558-11e5-890d-7309b5915116.png">

[2015-07-08 13:59] reynalddizon commented on #1103
<img width="1280" alt="screen shot 2015-07-08 at 9 59 04 am" src="https://cloud.githubusercontent.com/assets/4611843/8572021/09eda0a4-2558-11e5-81e2-2e1fef938bc7.png">

[2015-07-08 14:07] jonpmarino commented on #1102
Should blogs be journal entries? And did we define forum?

[2015-07-08 14:15] reynalddizon commented on #1102
I'll update the mockup

[2015-07-08 14:55] reynalddizon commented on #1099
In the Explore StoryLayers Modal, clicking on the title of a storylayer should launch a new tab showing the storylayer info page. Currently the storylayer info page loads up in the same tab where the composer is.

[2015-07-08 15:03] reynalddizon commented on #1103
To the one assigned to do this task: Let Jon and I know if you're about to start working on this one, lets discuss the details of this concept first.

[2015-07-08 15:04] reynalddizon commented on #1102
To the one assigned to do this task: Let Jon and I know if you're about to start working on this one, lets discuss the details of this concept first on hangout.

[2015-07-08 15:06] jonpmarino commented on #1093
@davisc @travislbrundage @reynalddizon on beta "Journal entries" tab still says "Diary entries"

[2015-07-08 16:04] jwood106 commented on #1001
The GeoNode pull request referenced in previous comment has now been reviewed and merged.

[2015-07-08 17:01] jonpmarino commented on #1005
@jwood106 see live implementation of this on v1 production site. Goal is to basically inherit the same functionality on production

[2015-07-08 18:04] jonpmarino commented on #1001
@jwood106 great! pulled into beta?

[2015-07-08 18:11] jwood106 commented on #1001
This issue was to contribute it to GeoNode.
I created https://github.com/MapStory/mapstory/issues/1105 this morning to add Favorites to MapStory v2.

[2015-07-08 18:30] jonpmarino opened #1106 "Tweak to "Signup" page linked to from Home > Sign Up"
The Sign Up Now link on MapStory home needs to add the 3 additional features that you see when clicking the log-in module...1. Signing up as Org? 2. Digest opt-in and 3. Terms and Conditions

[2015-07-09 00:56] jonpmarino opened #1107 "Search for storytellers doesn't seem to work"
![1010](https://cloud.githubusercontent.com/assets/2573761/8585694/c262c9b0-25b3-11e5-8994-c4dbd814a1c1.jpg)

entering a name should begin an autocomplete and filter users

[2015-07-09 01:44] garnertb commented on #1082
I'm pretty sure @davisc fixed this one, closing for now.

[2015-07-09 01:47] #1025 closed

[2015-07-09 02:54] jonpmarino commented on #1082
Great

[2015-07-09 21:29] travislbrundage commented on #1107
This should be closed [Pull Request #74](https://github.com/MapStory/mapstory-geonode/pull/74)

[2015-07-09 21:29] #1107 closed

[2015-07-13 03:53] jonpmarino opened #1112 "Change "edits" tab on storylayer viewer page to show high level stats un geogit edits (number of edits, number of people who have edited)"

[2015-07-13 15:42] jonpmarino commented on #1100
@reynalddizon do we have direction on exactly what the Upload page will look like when someone goes from Home > Upload StoryLayers? Currently, the page is stock GeoNode, which is not what we want -

http://mapstory.beta.boundlessgeo.com/layers/upload

[2015-07-13 15:44] reynalddizon commented on #1100
it should be just the page version of this modal..

[2015-07-13 15:52] jonpmarino commented on #1100
@garnertb not sure if you were working composer at all, but FYI - need to get the uploader page and workflow in mapstory beta ready for everyday users...

[2015-07-13 17:09] #1106 closed

[2015-07-13 23:11] jonpmarino commented on #1089
@zrouse-Boundless this is interesting. would love some google earth integration. But is this a big effort given time/money remaining? Try to prioritize for @garnertb

[2015-07-13 23:20] jonpmarino commented on #1081
@garnertb still open? If so, defer to you on level of priority.

[2015-07-14 13:48] garnertb commented on #1089
@jonpmarino: I'd say this is at least 40 hours of work.

[2015-07-14 13:50] garnertb commented on #1081
This is still open, but its a performance enhancement and therefore should probably be low priority until the current implementation causes problems.

[2015-07-14 14:03] jonpmarino commented on #1089
Table it

[2015-07-14 14:04] jonpmarino commented on #1081
Table it

[2015-07-14 15:58] jonpmarino opened #1120 "Implementing star rating module for layers and mapstories"
Should work exactly as it currently works on mapstory v1 production. Related to #1042

-user sees the average pre-populated rating next to viewer
-users can assign a 1-5 star rating on a layer or mapstory (see mockup)
-Next to 5-star scale on viewer pages a # is shown for how many times its been rated
-on Explore, filtering by "Rating" filters content by average rating

[2015-07-14 19:51] garnertb commented on #1005
Intraplatform messaging is coming from https://github.com/GeoNode/geonode-user-messages, which is already implemented in GeoNode.  Closing.

[2015-07-14 19:51] #1005 closed

[2015-07-14 19:53] garnertb commented on #1093
@travislbrundage, I added the messaging context to the profile page which should help when you need to get that working on the client-side.  Here is the commit: https://github.com/MapStory/mapstory-geonode/commit/3ad14958e39a6bc9e5e077c223938c6f5d696143

[2015-07-15 17:17] jwood106 commented on #1122
Closing.  My mistake, no known requirement to limit viewing a user's profile page to authenticated users.  If the user is not logged in or is logged in as another user, will see the 'public' view of user profile.  If user is logged in and visits their own profile page, edit options are available.

[2015-07-15 17:36] jwood106 commented on #1123
cone.
https://github.com/MapStory/mapstory-geonode/commit/02333d142ea504b54c3a05ca7f8973759181abb2

[2015-07-16 00:43] travislbrundage commented on #1091
Closed by [Pull Request #79](https://github.com/MapStory/mapstory-geonode/pull/79)

[2015-07-16 18:54] jonpmarino commented on #1113
@travislbrundage @reynalddizon Need to add a tab next to related for "StoryLayers" that shows the layers that the mapstory is based on so user can go directly to the StoryLayers that the mapstory is based on

[2015-07-17 03:29] jonpmarino opened #1125 "On Home, change "Create MapStory" to "Compose MapStory" in calls to action."
need to keep language consistent.

[2015-07-17 11:33] #1125 closed

[2015-07-17 11:40] davisc commented on #1096
This has been resolved. The lft field was migrated from v1 and is not longer used. The fix was to remove the column.

[2015-07-17 11:41] davisc commented on #1114
This a duplicate of #1126.

[2015-07-17 11:48] davisc commented on #1098
Proposed Changes from Jon.

-Replace text "Welcome to StoryBoard" and "lorem ipsum..." with...

"Welcome to the MapStory Composer"

"Share your story of change in the world in four steps:"

-add some arrows between the 4 graphics so that user gets a sense its a 4 step process

-under the graphics change the words to:

First, select and style the StoryLayers you want to use in your mapstory

Second

[2015-07-17 14:56] jonpmarino opened #1128 "Home: When we link to the Get Started sections from Home links (students, teachers, etc) the jump link is a bit off"
should be able to see the title word (i.e. "students")

![56785](https://cloud.githubusercontent.com/assets/2573761/8749913/686c8fd4-2c72-11e5-9526-611832e1849b.jpg)

[2015-07-17 18:23] jonpmarino opened #1131 "Search Coherence"
Different instances of search need different behaviors that conform to what a user will expect and be wanting to do:

QUICK SEARCH -

-Quick Search in header should not have auto-complete and should pull from broadest model possible and show StoryLayers, MapStories (titles, abstracts, topics, keywords, etc)

-Quick Search in explore page should behave the same as quick search in header

-Quick Sea

[2015-07-17 20:12] #1042 closed

[2015-07-18 01:48] travislbrundage commented on #1065
Looking at the misalignment of search cards, I'm assuming you're talking about situations like this: http://i.imgur.com/alkWuQD.png

In this case, limiting it to 70 characters is not going to do anything. The problem indeed is the difference in length of the abstracts, though. So I'm going to guess we want a standard amount of area for the abstract. Do you still want a 70 character limit even with

[2015-07-18 02:02] jonpmarino commented on #1065
Sounds right for play and edit. Share I would say would bring you to the viewer page with the iframe window open to make it easy for user to grab embed code

[2015-07-19 17:50] jonpmarino commented on #1094
closing since were canning auto-complete except when searching keywords in explore or creating new keywords.

[2015-07-20 20:18] travislbrundage commented on #1134
For the individual profile page it is not as trivial because we are taking it from geonode, so I need to figure out how to override that properly. Got 2 and 3 though.

[2015-07-21 11:48] garnertb commented on #971
According to my tests the uploader is now working fine for time enabled uploads.  Closing.

[2015-07-21 16:50] reynalddizon commented on #1098
Please add a "Do not show this again" option

[2015-07-23 18:27] garnertb commented on #1127
Fixed in https://github.com/MapStory/mapstory-geonode/commit/f568ceadd7b859138d2304912a5fdefdc4b28d09.

[2015-07-23 18:48] garnertb commented on #1129
Fixed in https://github.com/MapStory/mapstory-geonode/commit/b9f46890a7a33b0181c473e551882edd8d5aeba1.

[2015-07-23 19:20] jwood106 commented on #1105
made code changes, submitted pull request https://github.com/MapStory/mapstory-geonode/pull/88

[2015-07-23 20:32] jwood106 commented on #1134
Travis changed the mapstory-geonode project urls.py to match these three in https://github.com/MapStory/mapstory-geonode/commit/304f2f243c0a0e4888a108844392a52a561df213.
As Tyler mentioned, we needed to do a little more work for the first one.
The change broke the user profile links in the header, and I made changes to fix them. (there are two - composer has its own.)  Searched the mapstory-geonod

[2015-07-23 20:47] jwood106 commented on #1134
@travislbrundage  are you aware of anything else we need to do to complete the work for this issue?  I fixed the issue I reported in today's standup(see comment above).

[2015-07-24 16:50] jonpmarino commented on #1131
@garnertb got all these done. closing.

[2015-07-24 16:50] #1131 closed

[2015-07-24 16:56] jonpmarino commented on #1118
@garnertb finished...closing...

[2015-07-24 17:03] jonpmarino commented on #1108
@travislbrundage created topics. there are issues with assigning topics to content but this is separate fro topics creator

[2015-07-24 17:04] jonpmarino commented on #1103
Closing. @travislbrundage created. Comments on remaining work is in #1135

[2015-07-24 18:46] jonpmarino opened #1136 "stretchy thumbnail..."
stretchy thumbnail...

[2015-07-24 21:00] jonpmarino opened #1137 "I shouldn't be able to see thumbnails in Explore of storylayers or mapstories that aren't public"

[2015-07-27 17:36] travislbrundage commented on #1134
The 3rd one I've set temporarily to be /organization/[slug] because it seems to screw up other links otherwise. I'm not sure how to get around that immediately. The problem is because there are other pages, like the admin panel itself, which would match the pattern /[organization_name], since it is /admin.

[2015-07-28 20:06] jonpmarino opened #1138 "Give user more graceful notice that they can't view a layer if they aren't logged on"
Currently in composer when I am not logged on, I try to click on a layer in the mini-explore and I get a 403 error. Instead we should say something to the user "Sorry, you can't access this unless you are logged on. Please log on."

![4133](https://cloud.githubusercontent.com/assets/2573761/8942370/fa4b6d66-3542-11e5-8627-c30888c5b77b.jpg)

[2015-07-28 20:57] davisc commented on #1138
Should you be able to access composer if you are not logged in?

Sent from my iPhone

[2015-07-28 23:44] jonpmarino commented on #1138
Good point. I'd say nope. So if a user clicks the composer link on header at all and isn't logged on it should either go to login modal or give an indication of "this area is only available to registered users. Please log in or create an account"

[2015-07-30 21:05] jonpmarino commented on #1139
"U" as actually "Land Grant Universities" in the mini-explore

[2015-07-30 21:08] #1136 closed

[2015-08-03 23:08] jonpmarino opened #1144 "Enable StoryLayer info features in composer"
We need to enable theses boxes.

-Edit style > goes to StoryStyles tab for that layer
-Time Info > shows you the time range for that layer (beginning and end)
-Edit metadata > gives you a "mini metadata editor"...same fields as metadata in upload, pre-populated. Editable *if and only if* the layer belongs to you
-Edit Attributes > Brings you into maploom editor
-Download > download onto desktop...

[2015-08-07 13:03] #1101 closed

[2015-08-07 13:03] #1066 closed

[2015-08-07 13:05] #1093 closed

[2015-08-07 13:08] #1043 closed

[2015-08-07 15:53] reynalddizon opened #1151 "Journals [To-Do list]"
- [ ] fix double image in header

- [ ] Install a wysiwyg editor

<img width="1280" alt="screen shot 2015-08-07 at 11 51 36 am" src="https://cloud.githubusercontent.com/assets/4611843/9139854/ed96cb6e-3cfa-11e5-9b2f-12f7a3512e2d.png">

<img width="1280" alt="screen shot 2015-08-07 at 11 51 31 am" src="https://cloud.githubusercontent.com/assets/4611843/9139853/ed8f42c2-3cfa-11e5-8f3a-45b4f1e4039c.p

[2015-08-07 16:01] #1137 closed

[2015-08-07 19:06] #1144 closed

[2015-08-07 19:53] reynalddizon opened #1153 "Explore Page [To-Do list]"
**Search Filters**

- [ ] Make sure the *What's Hot* items are working properly.

- [x] What Filter: Filter the search results based on topics.

- [x] Where Filter: Make sure the map search is working

- [ ] When Filter: Make sure this filter is working

- [ ] Activate StoryTellers search filters...for Interests and Location. Should pull from Profile data.

[2015-08-07 20:01] #1120 closed

[2015-08-07 22:59] travislbrundage commented on #1150
"Titles should not be truncated." - are you seeing titles truncated on these pages? I have nothing set to truncate it in the code.

[2015-08-08 13:40] reynalddizon commented on #1150
@travislbrundage

"Titles should not be truncated." - are you seeing titles truncated on these pages? I have nothing set to truncate it in the code.
-Here's an example: http://mapstory.beta.boundlessgeo.com/layers/geonode%3ABirth_Place_Notable_Civil_Rights_Leaders

"Play Fullscreen option links to a page with geonode header. Fix that." Do you mean just fix the header?
-Yeah, just the header.

[2015-08-08 21:00] travislbrundage commented on #1150
The case you link is complicated because the title is all one string with no spaces (underscore is not a space). I think that wouldn't happen otherwise. I'm not sure off the top of my head how to fix that, but what would you want to happen in this case?

[2015-08-10 13:27] zrouse-Boundless commented on #1010
I think this complete @davisc ?

[2015-08-10 13:33] jonpmarino commented on #1010
There are some UI updates for playback view I believe

[2015-08-10 15:01] reynalddizon opened #1155 "Guest User Access [ToDo list]"
**Guests who are trying to access the following features should be prompted with the log-in/sign-up page:**

- [x] Upload link on the homepage.

- [x] Composer links on the navbar and homepage link

**Action buttons in the search results card should be grayed out if the desired action requires signing in:**

- [ ] For *StoryLayer* cards, compose, edit and favorite should be grayed out/disabled.

-

[2015-08-10 15:02] #1138 closed

[2015-08-10 15:08] reynalddizon opened #1156 "Profile [To-Do list]"
- [X] Delete button takes you to a GeoNode stock page. Should keep you in MapStory>Profile

- [X] Make sure we've migrated over the user profile data that shows Education and Skills. Should go on Profile underneath a tab for "About (username)"

- [X] Typo in Volunteer Technical Community

- [x] Pull from GeoNode form ("edit profile") city, state (location) and Profile (about), and keywords (intere

[2015-08-10 16:16] reynalddizon opened #1157 "MapLoom Interface [To-Do list]"
- [ ] Users should be able to MERGE/APPEND datasets from upload to a Maploom repo

- [ ] Users should be able to see their editing-enabled StoryLayers on MapLoom (with geometries and timeline displayed correctly.)

- [ ] Users should be able to add features on the map and consequently update the database.

- [ ] Users should be able to click on features and see the feature info.

- [ ] Users shoul

[2015-08-10 18:02] reynalddizon opened #1158 "Uploader [To-Do list]"
- [ ]  **Time format**: Users should be able to upload files no matter what the time format is, as long as it meets the minimum requirements for time attributes.

- [ ] Need a way for admin on the back end to assign pre-existing StoryLayers in mapstory into a geogig repo so they can be edited (or some solution)

- [ ] Merge datasets...build workflow atop the geogit repository merge function. User

[2015-08-10 18:53] #1112 closed

[2015-08-10 23:54] travislbrundage commented on #1150
"Add Time Information in the StoryLayer metadata. We should be able to display the time range of the storylayer and display it on a human-readable format."

Could you perhaps give a quick example of what this should look like?

[2015-08-11 00:03] reynalddizon commented on #1150
<img width="509" alt="screen shot 2015-08-10 at 8 02 11 pm" src="https://cloud.githubusercontent.com/assets/4611843/9187105/c185f16a-3f9a-11e5-867a-34e8894d913a.png">

[2015-08-11 00:04] reynalddizon commented on #1150
The source of information for Time Range should come from the data layer itself, getting the earliest and the latest timestamps. Let me know if thats technically possible, if not, we might just resort to manual entry.

[2015-08-11 00:25] travislbrundage commented on #1150
Okay, great, thank you for the clarifications! Not a problem at all, I was able to add that quickly just now.

So what if there is no temporal data? Just skip that row altogether?

[2015-08-11 00:37] reynalddizon commented on #1150
With this version of mapstory, we're hoping to "force" all users to put time information upon upload, but just in case, just display "No time information".

[2015-08-11 00:42] travislbrundage commented on #1150
Cool, that makes sense. Thanks.

[2015-08-11 14:32] #1021 closed

[2015-08-11 14:36] #1024 closed

[2015-08-11 14:41] #1014 closed

[2015-08-11 14:43] #1013 closed

[2015-08-11 15:36] #1028 closed

[2015-08-11 15:47] #1128 closed

[2015-08-11 15:47] #1075 closed

[2015-08-12 17:53] jonpmarino commented on #1160
Its possible Unique is already implemented in StoryTools but is not exposed yet.

[2015-08-12 19:47] #967 closed

[2015-08-12 20:04] #827 closed

[2015-08-12 20:04] #899 closed

[2015-08-12 20:04] #938 closed

[2015-08-12 20:05] #956 closed

[2015-08-13 09:55] davisc commented on #1163
Looks like the layer name in geonode differs from the layer name in geoserver.
geonode:Dams vs Dams

Still investigating

[2015-08-13 13:36] davisc commented on #1163
I made the change in the geonode.

[2015-08-13 16:51] reynalddizon opened #1164 "Composer: StoryBoxes [To-Do list]"
- [ ] Adopt the accordion layout for story boxing. (later for Travis)

- [ ] When creating StoryBoxes, we should keep the whole length of the StoryLayer visible for the user. Right now, if we create a StoryBox it starts to make parts of the layer disappear. The user doesn't know what is there to continue creating his/her story.

- [ ] Use the main basemap to set the geographic bounds of the storyb

[2015-08-13 17:25] davisc commented on #1164
I like it.

[2015-08-13 17:27] jonpmarino commented on #1164
Me too. Rey followed your model, @davisc so shouldn't be new tech, just new skin. One thought - Can we do more than simple text in the abstract? If people want to link to data or an image that they want in there?

[2015-08-13 18:01] reynalddizon opened #1165 "Viewer and Playback [To-Do list]"
-old mapstories need to play in full screen. quick fix seems to have "play full screen" go to same place as X link
- [ ] Looped animation button doesn't work
- [ ] Still need full screen/small screen button
- [ ] StoryLayers should be able to linked to in the StoryLayer button
- [ ] Legend should have a truncate so that it doesn't extend longer than the viewer...becomes scrollable
- [ ] The user s

[2015-08-19 16:13] jonpmarino opened #1170 "Profile finishing touches [To-Do List]"
- [ ] Make sure data from education and blurb on MapStory.org is ported over to beta profile
- [ ] Make sure user can set email notification settings of whether they want to be notified when/if another user comments on, rates or uses one of their StoryLayers...same implementation as production. (editing would be good too, but probably too much.
![909090](https://cloud.githubusercontent.com/assets/

[2015-08-19 20:03] #1170 closed

[2015-08-21 22:21] smesdaghi commented on #1172
added a filter button to the timeline which allows users to see all features on the layer as opposed to only seeing the features on the current time slice.

[2015-08-28 19:20] travislbrundage commented on #1153
Just a personal note, this was all working before, so I assume this just has to be translated to work with elastic search.

[2015-08-28 22:04] travislbrundage commented on #1169
"make sure all links open up a new browser page rather than taking you away from mapstory.org" What is this referring to? Any external links? What links are not behaving as they should?

"Also be nice to have an (i) icon to the right of the Gihub/Twitter/FB icons underneath the donate now button" what's an (i) icon? Can you please clarify what is being looked for here?

[2015-08-28 23:03] jonpmarino commented on #1169
@travislbrundage great questions. On #1 we meant mostly in composer...if we are clicking to thinks (for example, when we do "edit metadata" and it takes you to the viewer page, that you don't get taken out of your composer project, but that it opens up a new browser window with the content. So you don't lose what you're working on. Easy to explain in hangout if need.

On #2 the point was to make s

[2015-08-28 23:12] travislbrundage commented on #1169
Gotcha, thanks for the clarifications! I understand them both now. Makes sense.

[2015-08-31 06:52] travislbrundage commented on #1169
So I went through composer looking for links that took you away from the application, but I couldn't find anything? Maybe we could do a hangout and discuss what specifically you're referring to?

[2015-08-31 07:05] travislbrundage commented on #1159
As discussed last week, I had some work done towards making the site more mobile friendly, but it would be a stretch for me to get in by Friday along with everything else. Pushing it to the bottom of my list unless otherwise specified.

[2015-08-31 13:33] jonpmarino commented on #1159
@travislbrundage sounds good. We will knock out other priorities first. If we get there, we can make a run at the highest level mobile wins.

[2015-09-02 13:05] travislbrundage commented on #1149
"Generate thumbnails for StoryLayers and MapStories. If no thumbnails available, assign a default image."
Seems to have odd behaviour right now... code is there... it sometime works/works after a period of delay... my only possible inclination now could be elasticsearch? The thumbnail does appear to be generated correctly and has a link you can reach it at, it's just not immediately loaded in the

[2015-09-02 13:48] jonpmarino commented on #1166
I am still getting a reoccurring error when I try to assign Topics to mapstories or I try to set them as featured.

![topics error](https://cloud.githubusercontent.com/assets/2573761/9632908/c92fff90-5157-11e5-97cd-97d17fbde540.jpg)

[2015-09-02 14:06] reynalddizon commented on #1161
<img width="1280" alt="screen shot 2015-09-02 at 10 04 10 am" src="https://cloud.githubusercontent.com/assets/4611843/9633292/0ec82f76-515a-11e5-8ad2-1b1a5471c8c6.png">

Bug: Saving story pins sometimes doesn't work. See screen cap, when i clicked the Save button, nothing happens. It seems like the pin is on the map but doesn't register in the timeline.

[2015-09-02 23:55] travislbrundage commented on #1166
So it seems the conclusion for now is that the problem lies in the data migration. Oddly, those URLs are working although they are not correctly passing django's validation. Making them go to https://mapstory.org/[ows_url] seems to fix the issue, although do we want to point to mapstory.org?

[2015-09-03 02:13] travislbrundage commented on #1149
"Message button should link to the Create Message page. "To:" field should be preloaded with the user's name."

Bare minimum is done, but To: field is currently not populated with the users name. Will circle back on this one to implement that as well as a text field with autocomplete rather than an endless dropdown menu.

[2015-09-03 02:51] jonpmarino commented on #1149
NIce. sounds good

[2015-09-03 20:00] travislbrundage commented on #1153
"When Filter: Make sure this filter is working" Filter itself works, just the calendar app that pops up doesn't work correctly.

[2015-09-04 01:42] travislbrundage commented on #1153
"Where Filter: Make sure the map search is working" The map itself is working.

Both the regions and keywords queries are having the same issue. They used to work, but now they aren't working because the query is holding them as an array. This used to work, but for some reason it doesn't seem to any longer. It held them as an array so that it can have more than one (so, you could query if a region

[2015-09-04 02:01] jonpmarino commented on #1153
Ok. If it only holds one at a time that's fine. Also if where is only with map now that's fine for now too

[2015-09-04 08:58] travislbrundage commented on #1156
"Add an option to enable users to delete their profile." Profiles cannot be deleted, which makes sense in geonode, because the data is all interconnected. A user can choose to deactivate their profile, however, their data will remain on the web site.

Technically I did find a way around this, but I feel uneasy using it. It seems like geonode is designed for you to -not- do this. However, you can g

[2015-09-04 09:15] travislbrundage commented on #1153
It turns out I was wrong, it isn't the array causing the issue. I don't currently understand why it isn't working as I expect. It was working previously, now it isn't.

[2015-09-04 09:29] jonpmarino commented on #1156
I think edit button. For Mapstory was to launch it in composer in case the user wants to make changes to their Mapstory. But I'm not worried about this.

Fine on deactivate and manually remove content.

VTC can be accomplished with the interests field like we discussed. No need for something rlse

[2015-09-04 14:16] travislbrundage commented on #1166
Everything in here should be done, with the exception of data migration issues. Those are an unrelated issue. The django admin should be working fine.

[2015-09-04 17:03] travislbrundage commented on #1159
The dead link on "Community Initiatives" had come from an overflow from the news items. It turns out the reason was quite simple: the News Items in the django admin were entered incorrectly. The last one happened to be missing its closing tag, causing the link to spill over.

[2015-09-04 17:55] travislbrundage commented on #1154
"Update the URL path. It should be like: mapstory.org/organization-name"
Having strange problems with this one again. Despite seemingly creating the regex correctly logically in my head, it doesn't work and breaks the site...

[2015-09-04 19:12] travislbrundage commented on #1153
What's Hot items have been removed considering they are all broken.

[2015-09-04 19:54] jonpmarino opened #1175 "Account verification"
- [ ] have login generate Account Verification, as is currently done on production
- [ ] Have welcome email sent to new users, as is done on production

[2015-09-09 17:20] travislbrundage commented on #1154
"Update the URL path. It should be like: mapstory.org/organization-name"
As discussed in this morning's email thread, I will be changing it to mapstory.org/channels/organization-name.

[2015-09-09 19:10] travislbrundage commented on #1149
"Wire up the favorites functionality to the Favorite button....or just remove button...OR just say "play" and have it go to viewer page just like clicking thumbnail"
For now, just removed the favorite button on search. Will come back and implement it later. Favoriting works fine on the view page for MapStory and StoryLayers.

[2015-09-09 19:28] travislbrundage commented on #1150
"Add drop-down option for user to set their layer or mapstory as "public" or "private"...next to "message" button under the viewer square"
Currently this exists in the Meta data tab.

[2015-09-12 19:54] travislbrundage commented on #1159
"When we link to the Get Started sections from Home links (students, teachers, etc) the jump link is a bit off"
Fixed, but kind of in a hack way. Added this line:
[code]
So basically whenever you navigate to this page, it will scroll up a bit to offset the way the header pushes the view down. It needs to wait a bit to execute because of Chrome which will otherwise execute the Javascript before the

[2015-09-12 20:21] travislbrundage commented on #1153
"When Filter: Make sure this filter is working"
I've temporarily removed the broken datepicker. Will add it back later when it's working properly.

[2015-09-13 06:15] travislbrundage commented on #1150
I don't think there is anything that actually tracks the number of times a layer/map has been rated. It only updates the average rating. It isn't impossible to add, but I'm not sure how quickly I could implement that.

[2015-09-14 13:52] reynalddizon commented on #1150
@travislbrundage the number of times the layer has been rated is not very essential. we can drop that. just make sure to display "Average rating" next to the stars.

[2015-09-18 02:25] #1158 closed

[2015-09-18 03:23] #1155 closed

[2015-09-21 20:24] jonpmarino opened #1178 "Check single sign-on effects of Beta transition"

[2015-09-25 14:44] garnertb commented on #1179
* [ ] minify/uglify/compress static assets
* [ ] move static assets to a CDN
* [ ] load test
* [ ] separate web app from db server?
* [ ] add a load balancer?
* [ ] use statsd/graphite or new relic for monitoring
* [ ] use celery to run expensive tasks outside of the request/response cycle
* [ ] integration tests
* [ ] start deploying with ansible

[2015-09-25 15:23] davisc commented on #1179
* [ ] Branching strategy

[2015-09-27 23:20] jonpmarino opened #1183 "Can't change location of StoryPin once placed"
Need to be able to edit StoryPin location after first drop, in case its dropped in the wrong spot.

[2015-09-27 23:51] #1183 closed

[2015-09-28 00:39] jonpmarino opened #1185 "Mobile"
Overall goal is to enable basic viewing of site, including Explore + Playback and basic profile maintenance. We don't need to support StoryLayer editing or MapStory composing at this stage.

- [ ] Make embed responsive

- [ ] Make homepage, explore page and viewer pages responsive

- [ ] Enable profile maintenance

[2015-09-28 15:15] #1068 closed

[2015-09-28 20:38] travislbrundage commented on #1179
[ ] (http://www.geo-solutions.it/blog/developerss-corner-achieving-extreme-geoserver-scalability-with-the-new-marlin-vector-rasterizer/)[geoserver-marlin]?

[2015-09-30 18:59] jonpmarino opened #1189 "Twitter, Google and FB log in"
We lost this in transition. Be nice to get it back

[2015-10-02 14:39] #1189 closed

[2015-10-02 14:49] #1185 closed

[2015-10-02 15:00] #1165 closed

[2015-10-02 15:06] #1164 closed

[2015-10-02 15:08] #1157 closed

[2015-10-02 15:09] #1156 closed

[2015-10-02 15:11] #1153 closed

[2015-10-02 15:12] #1151 closed

[2015-10-02 15:15] #1006 closed

[2015-10-02 15:31] #617 closed

[2015-10-02 15:31] #632 closed

[2015-10-02 15:31] #691 closed

[2015-10-02 15:37] #426 closed

[2015-10-02 15:47] #19 closed

[2015-10-02 15:55] #1175 closed

[2015-10-02 15:56] #548 closed

[2015-10-02 16:01] #416 closed

[2015-10-02 16:01] #385 closed

[2015-10-02 16:01] #194 closed

[2015-10-02 16:01] #196 closed

[2015-10-02 16:03] reynalddizon opened #1191 "Profiles and Community"
#### Profile Page
- [ ] Add Education, Skills, Interests (tags) on the left sidebar.
- [ ] Favorites tab should display Cards instead of a list, for consistency.
- [ ] Send notification emails to users for: recent edits, recent comments, recent flags, new mapstories created using the user's storylayers.

[2015-10-05 20:53] davisc opened #1205 "Data migration"
Data migration (4 issues) [Clarence]
- [x] Migrate data from Profile fields on retro.mapstory.org. The fields titled Blurb, Biography, Education and Expertise from retro could all be dumped into the Profile field in new mapstory.org. We also have fields on email, organization, city and country from Retro that should be migrated over to new Profile.

- [x] migrate view counter data for storylayers

[2015-10-06 00:08] garnertb commented on #1199
Github is only rolling LFS to a select group of users at this time, I've signed up the MapStory organization but not sure when we'll get access.

[2015-10-06 14:16] davisc commented on #1199
Sounds good - wait and see.

[2015-10-06 18:32] jonpmarino opened #1213 "Enable "viral registration" ability for users"
If user chooses to sign up with FB, enable them to send invites to your FB friends to join.

[2015-10-06 18:38] zrouse-Boundless commented on #1211
done.  need to change thumbnail urls

[2015-10-08 16:22] davisc commented on #1211
I think we can leave the thumbnails as is since retro.mapstory.org is for internal use.

[2015-10-09 12:15] davisc commented on #1214
This task is complete and the admin has been notified.

[2015-10-09 15:56] garnertb commented on #1203
New provisions will automatically install nginx 1.8.  To upgrade an old deployment run the provision, then run `sudo apt-get upgrade`.

When prompted for the mime type configuration, I chose the default:
[code]

[2015-10-12 13:54] davisc commented on #1216
@garnertb looks like there was content but is not complete.

[2015-10-12 13:57] jonpmarino commented on #1216
@garnertb yes. Videos. Just like get started. Still making the videos. Need to be based on finished version of things

[2015-10-12 13:58] garnertb commented on #1216
@jonpmarino- So you're OK with the current status of the page and this can be closed?

[2015-10-12 18:49] garnertb commented on #1216
Closing, per @jonpmarino.

[2015-10-13 11:12] garnertb commented on #1220
A quick hack for #1 may just be stripping the trailing "/" in an nginx directive.

Something along the lines of
```rewrite ^\/maps\/(\d+)(\/+)$ /maps/$1 last;```

[2015-10-13 11:14] garnertb commented on #1220
Actually, scratch that, it seems like the JS is failing here so the nginx rewrite probably won't be helpful.

[2015-10-13 17:50] garnertb commented on #1207
This is done.

[2015-10-13 17:51] garnertb commented on #1200
This is done, waiting on PR: https://github.com/MapStory/mapstory-geonode/pull/123.

[2015-10-13 19:06] davisc commented on #1205
Migration complete.

[2015-10-13 19:06] #1205 closed

[2015-10-13 19:20] jonpmarino opened #1221 "Disclaimer messages"
Create announcement on Site Status...

[2015-10-13 20:58] davisc commented on #1206
All data from v1 has been successfully migrated over. Roughly 1160 tables in the mapstory_data schema have 0 records and this is the case in v1 and v2.
[tables_with_zero_records.txt](https://github.com/MapStory/mapstory/files/12777/tables_with_zero_records.txt)

Closing the issue.

[2015-10-13 23:41] garnertb commented on #1215
Fixed in https://github.com/MapStory/mapstory-geonode/commit/5f4ac52c3a8b8449d62682a6d50535739c91432e.

[2015-10-19 16:56] davisc commented on #1212
300 records in the database using this layer configuration.

[code]

[2015-10-19 17:09] garnertb opened #1224 "investigate /maps/edit throwing exception for some layers"
Exception Value: float() argument must be a string or a number
URL: /maps/edit?layer=geonode:citiesfinal

[2015-10-19 17:40] davisc commented on #1212
Updated all records listed in the maps-broken-basemap.txt and set the basemap to OpenstreetMap.

[2015-10-19 18:34] #1221 closed

[2015-10-19 19:24] zrouse-Boundless opened #1226 "OAuth Google/Facebook"
I want to be able to log in to mapstory using my google or facebook account linked to my profile.  Users from retro that used google/facebook to log in can do it on the current version.

#### Integrated Sign In
- [x]  Wiki, Help and Warper

#### Social Sign In
- [x] Google
- [x] Facebook

[2015-10-19 19:29] zrouse-Boundless opened #1228 "Registration"
Helpful and Welcoming Workflow

- [x] Send welcome email after account is activated
- [x] fix links in welcome email. "Learn the Basics" should go to http://mapstory.org/getskills. "Community" should go to http://mapstory.org/getinvolved.
- [x] Image is broken
- [ ] Make "Build the Community" our matching orange
- [ ] (not sure) - add overview video as embed in email: https://www.youtube.com/watch

[2015-10-19 19:31] zrouse-Boundless opened #1229 "Mobile Playback"
user test mapstory playback on tablets and mobile devices. See what if any quick sizing solutions can be implemented to scale mapstories so playback is possible.

[2015-10-19 19:32] zrouse-Boundless opened #1231 "MapLoom interface changes"
#### Editing StoryLayers
- [ ] Change "Layer Info" to "StoryLayer Metadata" and show layer metadata modal
- [ ] Change "Edit History" to be the default first thing an editor sees
- [ ] Hide "Delete" layer button
- [ ] Add a "Base Map" header above the basemap layers so there is division between the 2
- [x] Users should be able to see their editing-enabled StoryLayers on MapLoom (with geometries an

[2015-10-19 19:33] zrouse-Boundless opened #1232 "Help.Mapstory cleanup"
- [x] Get application up and running again
- [x] Delete all posts
- [x] Test authentication with mapstory.org

[2015-10-19 19:42] davisc opened #1235 "Ansible refactor"
Refactor Ansible to use roles

Roles:
- [x] db
- [x] geoserver
- [x] web

[2015-10-19 19:44] zrouse-Boundless opened #1236 "Usability fixes"
- [ ] “Remember Me” checkbox is slightly misaligned. This appears to be a bug with default browser behavior on Chrome and Safari, though it is possible to override it with custom styling.
Image:
<img width="493" alt="screen shot 2015-10-16 at 2 15 07 pm" src="https://cloud.githubusercontent.com/assets/1622331/10699866/831aafa0-797f-11e5-887d-16fdd8babd2b.png">

[2015-10-19 19:45] davisc opened #1237 "ERROR (EXTERNAL IP): Internal Server Error: /account/signup/"
* reset password fails

[2015-10-20 16:58] davisc commented on #1238
Missing email configuration in the settings. I've updated the local settings to include the email server configuration. I have also made a note to include the email settings portion in the Ansible refactor issue.

[2015-10-20 16:59] #1237 closed

[2015-10-20 18:44] zrouse-Boundless opened #1239 "Schema Mapping Service and User Created Enums"

[2015-10-20 19:32] garnertb opened #1240 "ERROR: Invalid HTTP_HOST header:"
To avoid spamming the admins, hosts that are not in the ALLOWED_HOSTS list should be blocked by nginx.

Adding this to the nginx config should do the trick, but needs to be tested.

        {% if django_allowed_hosts is defined %}
        ## Deny illegal Host headers
        if ($host !~* ^({{django_allowed_hosts|join('|')}})$ ) {
            return 444;
        }
        {% endif %}

[2015-10-23 17:23] WillPapper opened #128 "Various UI/UX Issues"
Major:
- [ ] The “What” option under “Refine Search” section on the Explore page does not show any results
  Test URL: http://mapstory.org/search/?limit=100&offset=0&is_published&category__identifier__in=geopolitics&q=
- [ ] The “Where” option under the “Refine Search” section on the Explore page does not have any effect Test URL: http://mapstory.org/search/?limit=100&offset=0&is_published&q=&exte

[2015-10-26 14:59] davisc commented on #1234
Duplicate - Closing to #1226

[2015-10-27 17:22] davisc commented on #1226
Pull request submitted.

[2015-10-28 14:51] davisc commented on #1202
@travislbrundage I've created following branch.

https://github.com/MapStory/mapstory-geonode/tree/feature/aws-s3-support

[2015-10-28 16:25] davisc commented on #1226
A couple of issues encountered during testing:

- [ ] Redirect from auth provider goes to invalid url '/accounts/profile'
- [ ] Template doesn't honor ENABLE_SOCIAL_AUTH setting
- [ ] Layout of social buttons needs alignment

[2015-10-28 19:59] davisc commented on #1240
@garnertb: I’ve tested the change to deny illegal host headers and will prepare a change-set to commit to the repo.

[2015-10-29 18:06] davisc commented on #1240
This change is included in the following commit - https://github.com/MapStory/mapstory-geonode/commit/f5bf8647175f20d246224f9a4a0df660f3d8a870

[2015-10-30 19:02] zrouse-Boundless opened #1241 "Create Layer issues"
"CREATE" allows a user to initiate a new StoryLayer directly in the browser, even if they don't have data to upload. The current workflow starts from the "CREATE" tab accessible from the header drop-down. The user gives the StoryLayer a name, selects the type of geometry it will be made of, defines attributes, and creates new layer. At that point, the layer should be opened for crowd-editing (geog

[2015-10-30 19:06] zrouse-Boundless opened #1242 "point Redcloth link to the proper url"

[2015-10-30 20:08] #1240 closed

[2015-10-30 20:08] #1235 closed

[2015-10-30 20:10] zrouse-Boundless commented on #1226
Creating new issue for above

[2015-10-30 20:10] #1226 closed

[2015-10-30 20:11] zrouse-Boundless opened #1243 "Social Oath login wrapup"
A couple of issues encountered during testing:

- [x] Redirect from auth provider goes to invalid url '/accounts/profile'
- [x] Template doesn't honor ENABLE_SOCIAL_AUTH setting
- [x] Layout of social buttons needs alignment

[2015-10-30 21:56] davisc commented on #1243
I've implemented a temporary fix for the first checkbox https://github.com/MapStory/mapstory-geonode/commit/2774f9a7cb393573e01c1807829a6cc8bdfd2a6f#diff-9facdb61078fa65d34de1af84a3c9f7dR49

[2015-11-03 19:46] davisc commented on #1241
@smesdaghi: What should be the final step of the wizard? Step 3, save draft?

[2015-11-03 19:51] jonpmarino commented on #1241
I created a layer (see screenshot). One thing I notice is even though I did it under my account it shows that it is by "Administrator". When I click to "edit" the layer in maploom I get an error (see screenshot below). If I X that error our and just try to add features anyway the Add form looks good with my fields, but I get an error message when saving (screenshot)
![3333](https://cloud.githubuse

[2015-11-05 12:54] #1243 closed

[2015-11-05 16:49] davisc commented on #1244
https://github.com/MapStory/mapstory-geonode/pull/135

[2015-11-09 02:33] davisc commented on #1232
The following error prevented the application from running correctly after start up. This was due to the memcache service not running. Starting the memcache service resolved the issue and the application is now up and running.

[code]

[2015-11-09 02:35] davisc commented on #1232
The oauth integration between mapstory.org and help.mapstory.org is enabled and working as designed.

[2015-11-09 02:58] ChristopherTucker commented on #1232
HELZ YEAH!

Chris
703-981-9373

[2015-11-09 17:07] davisc commented on #1246
The error message is the result of missing request parameters: limit and offset. Chances are that this request is being made outside of the expected application flow and possibly by a link harvesting bot.
[code]
[code]

Here is a valid http request:

[code]

As safe approach would be to modify https://github.com/MapStory/geonode/blob/master/geonode/api/resourcebase_api.py#L366 to return a default

[2015-11-10 00:33] #1242 closed

[2015-11-10 01:57] travislbrundage commented on #1210
I'm coming back to this issue once I get confirmation that repo.boundlessgeo.com is up again. It's not completely a blocker, but will make solving the issue much easier because I can test it on my local VM.

[2015-11-10 14:46] #1232 closed

[2015-11-11 19:24] davisc commented on #1225
Client side fix.

[2015-11-12 20:03] jonpmarino opened #1247 "Amend header: Change "compose" to "create" and add drop down"
3 drop downs:

1. Upload data (link to composer)
2. Create StoryLayer (link to create table)
3. Compose MapStory (link to composer)

[2015-11-13 03:29] travislbrundage commented on #1228
First one should be addressed by this PR: https://github.com/MapStory/mapstory-geonode/pull/138

[2015-11-13 03:30] travislbrundage opened #1248 "Threaded Comments"
Implement threaded comments in MapStory

[2015-11-13 19:33] #1247 closed

[2015-11-18 04:40] travislbrundage commented on #1228
For real fixed this time with tests: https://github.com/MapStory/mapstory-geonode/pull/139

Still have to look into social, though.

[2015-11-18 04:55] travislbrundage commented on #1219
I didn't see such a test case in what's currently in the repo, I assume you made that test on your local copy? Either way, I believe I should have addressed this with this PR: https://github.com/MapStory/mapstory-geonode/pull/139

Includes my own version of testing it, but please let me know if I can test it better (kind of new to it).

[2015-11-18 04:58] travislbrundage opened #1250 "Make YouTube embed more user friendly for getpage contents"
Currently the admin panel requires you to grab the youtube embed link. This is a bit unintuitive and unnecessary, it should be smart enough to work with any link provided it is given the video's ID.

[2015-11-20 20:08] zrouse-Boundless opened #1251 "Script to update layer configs to use GWC"
see geonode:Rep layer

[2015-11-20 20:10] zrouse-Boundless opened #1252 "return to multiple virtual endpoints"
to get around the simultaneous request limit (go-daddy config needed also)

[2015-11-20 20:11] zrouse-Boundless opened #1253 "Fix default storybox"
get time slider events firing again

[2015-11-20 20:16] zrouse-Boundless opened #1255 "Complete porting composer into maploom"
get time slider events firing again. And make slider hit ticks, not an arbitrary playback rate.

Add chapters UI with styling, storypins, storyboxes, legend support, playback.

[2015-12-01 22:41] travislbrundage commented on #1248
Addressed here: https://github.com/MapStory/mapstory-geonode/pull/140

[2015-12-14 19:35] jonpmarino commented on #1256
Added to build. Not actually configured to raw endpoint but work is done.

[2015-12-14 19:41] jonpmarino commented on #1251
Should be pushed by 12/15

[2015-12-14 19:42] jonpmarino commented on #1253
fixed. should be pushed by 12/14

[2015-12-14 19:45] jonpmarino commented on #1248
works. no user confirmation.

[2015-12-14 19:53] jonpmarino commented on #1227
pushing MVP with known errors.

[2015-12-14 19:54] jonpmarino commented on #1241
Tyler taking on for next sprint.

[2015-12-14 19:54] jonpmarino commented on #1228
Facebook and Google - failing to get confirmation email.

[2015-12-15 01:04] travislbrundage commented on #1258
I am finding myself unable to reproduce this error. Can you give an example please?

[2015-12-15 12:16] davisc commented on #1253
The default storybox fix has been been applied and is functioning properly, however, it appears as though the slider is not sending the correct time step to the timeline for existing stories.

[2015-12-15 16:19] travislbrundage opened #1261 "Adding Tags is Bugged"
Currently adding tags to MapStories/StoryLayers is bugged. Adding tags is causing them to become unpublished, and republishing it is getting rid of the tags that were just added.

It's likely just a small error with POSTing the django forms.

[2015-12-15 16:36] garnertb commented on #1261
Need regression tests included in PR for this.

[2015-12-15 16:57] jonpmarino commented on #1254
Basic work is done. Needs to be integrated into composer/styling UI

[2015-12-15 17:59] jonpmarino commented on #1233
help.mapstory.org is currently down. Needs a look.

[2015-12-15 19:18] davisc commented on #1260
Fixed http://mapstory.org/maps/1215

[2015-12-15 19:22] davisc commented on #1253
The default behavior is as follows:
* If no storybox, calculate the range and interval from the time dimension on the layer(s).

[2015-12-15 19:22] #1253 closed

[2015-12-16 16:54] garnertb opened #1268 "Implement permissions in the new uploader."

[2015-12-16 16:57] garnertb opened #1269 "Move in-line styles to an external css file in uploader views."

[2015-12-16 20:15] garnertb opened #1270 "Review and merge https://github.com/MapStory/mapstory-geonode/tree/chore/ansible-wip."

[2015-12-17 15:39] zrouse-Boundless opened #1271 "Move all postgis stores to JNDI connections"

[2015-12-17 15:40] zrouse-Boundless opened #1272 "Migrate geoserver to JDBC config"

[2015-12-17 22:28] garnertb opened #1273 "osgeo_importer should gracefully handle non-UTF8 encoded characters"
`invalid byte sequence for encoding "UTF8": 0x89`

[2015-12-20 13:08] davisc opened #1274 "paver collectstatic task fails when static files are stored in s3"
The task forces symbolic link creation for each file instead of copying. Removing the --link flag allows the files to be copied to s3.

[2015-12-20 13:51] davisc commented on #1019
@emerkle826 pushed changes made to get these to compile.

GeoTools (based on version 12.x) - https://github.com/emerkle826/geotools/tree/wps_classify_revive2
GeoServer (based on the boundlessgeo/wps_classify-2.6.x branch) - https://github.com/emerkle826/geoserver/tree/wps_classify_revive2

For this to work, you have to compile 3 modules in GeoTools and then the WPS-core extension in GeoServer. The

[2015-12-20 14:01] davisc commented on #1019
The compiled jars are available here:
https://s3-us-west-2.amazonaws.com/mapstory-data/libs/geoserver/2.6/wps/mapstory_wps_classify_libs.zip

[2015-12-21 00:38] davisc commented on #1019
An Ansible task has been added to the provision scripts to download and deploy the .jar files.

[2015-12-21 04:52] #1274 closed

[2015-12-21 15:22] #1251 closed

[2015-12-21 16:32] jonpmarino opened #1276 "Add "Download" tab to StoryLayer card in user Profile"
this will make it easy for users to go to their profile, see the StoryLayers they've created, and download raw data that they need.

[2015-12-21 21:51] jonpmarino opened #1279 "Add fields for mapstory metadata in new importer"
For MapStory, we expect users to add these fields with new storylayers they generate:

StoryLayer name, Summary Abstract, Language, Data Source, Data Quality Statement, Purpose. See StoryLayer viewer page Metadata tab for existing fields that users need to be able to populate

[2015-12-21 23:32] garnertb commented on #1279
Are these fields required?  If so, we need to come up with a workflow that enforces it.

[2015-12-22 15:03] garnertb commented on #1278
Fixed in https://github.com/MapStory/mapstory-geonode/commit/3662ac166974682c450ecf567b76fdbe4d27c841.

[2015-12-22 19:48] zrouse-Boundless opened #1280 "Livereload.js gives error on view page"
http://mapstory.org/maps/2215/viewer

we request

http://localhost:35729/livereload.js

livereload.js
localhost
GET	(failed)
net::ERR_CONNECTION_REFUSED
viewer:258
Parser
0 B
0 B
19 ms
-

[2015-12-22 23:18] zrouse-Boundless opened #1282 "Time playback bug"
http://mapstory.org/maps/edit?layer=geonode:AAAH_Reprojected

don't click play, just move the slider
the time controls get "disconnected"

Also, http://mapstory.org/maps/171?limit=100&offset=0&is_published

MapStories begins at Year 1 instead of 1879.

[2015-12-23 13:26] garnertb opened #1284 "Handle features outside of projection bounds?"
When features fall outside of a projection's max bounds Geoserver sets min and max bounds to infinity, which causes client libraries that rely on the bounds to fail.

Possible solutions:
1. Validate bounds at import and reject if features are outside of the projection bounds.
2. Programmatically set the geoserver bounds to the max bounds of the projection if it contains infinity.

<img width="477"

[2015-12-27 22:21] garnertb commented on #1284
Closed with https://github.com/MapStory/mapstory-geonode/commit/154cb1daf6f5911687ab6c9a3bbff2ecc04e5050.

[2015-12-27 22:21] #1284 closed

[2015-12-28 20:16] travislbrundage opened #1285 "Thumbnail issues"
No thumbnail issue causes:
* Style is missing. Solution: unknown
* Layer is unpublished in geoserver. Solution: publish layer in geoserver
* Map has a layer unpublished in geoserver. Solution: publish layers in geoserver

Broken thumbnail issue causes:
* Bad WMS request - bounding box is wrong. minx and miny are reversed. Solution: fix minx/miny bbox values. if y0 > y1, swap y1 and y0. Also, bbox

[2015-12-28 20:43] garnertb opened #1286 "Fix unpublished layers with wrong store name."
Layer that exists in GeoNode and PostGIS but are not published in Geoserver are causing some broken thumbnails.

This currently affects: **2,826** layers.

Fix:
[code]

[2015-12-29 18:25] garnertb commented on #1286
Ran this script, out of the 2,826 layers in the "geonode" store, 79 should have been in the "mapstory_data" store.  They have been updated.

[2015-12-29 18:25] #1286 closed

[2015-12-29 18:31] garnertb commented on #1285
Current broken thumbnail counts:

* StoryLayers: 1,067
* Mapstories: 67

[2015-12-29 20:43] garnertb commented on #1285
Layers are down to 105 missing thumbnails.

[2015-12-29 22:23] jonpmarino commented on #1279
Only one I would require is "data source". The rest the user is free to not complete and just be crappy. An ideal future feature would be a indicator to show the viewer that the story is X % complete...like we used to have for Profile based on number of fields complete.

[2015-12-30 02:45] travislbrundage commented on #1285
From what I've investigated thus far, it looks like the remaining missing thumbnails have multiple different issues afflicting them. Here's a short list to start.

* InvalidOperation: quantize result has too many digits for current context
I have a feeling this is due to the bounding box of the layer. When I inspect it, it has some crazy numbers in there. The layer is Hurricanes by State (hurrican

[2015-12-30 17:05] jonpmarino commented on #1265
closing since its a duplicate of #1279

[2015-12-30 17:12] garnertb commented on #1265
These are actually a bit different.  This issue refers to metadata included in an upload wheras #1279 refers to handling metadata post upload.

[2015-12-30 17:20] jonpmarino opened #1289 "Append/bulk upload of edits"
Append issues:

- [X] Issue with some append: clicking on "Download Shape-file schema" goes back to the same page I was already on. For example - when I go here:
http://mapstory.org/layers/geonode:final_florida_20
and click "Append", and then click "Download Shape-file schema", it goes back to that same page.

- [ ] CSV adds unnecessary columns

[2015-12-30 18:43] jonpmarino commented on #1241
I get the following error when Creating new layer. It occurs no matter what type of Geometry I select
![9999](https://cloud.githubusercontent.com/assets/2573761/12055435/510d41ec-aefb-11e5-9161-fd68dd6aa8db.jpg)

[2015-12-30 21:42] davisc opened #1290 "celerybeat-schedule file causes ansible provision to fail on TASK: [web | mapstory update]"

[2015-12-30 21:44] garnertb commented on #1290
.gitignore?
On Dec 30, 2015 4:42 PM, "Clarence Davis" <notifications@github.com> wrote:

[2015-12-30 22:16] davisc commented on #1290
Yeah that's what I was going to try.

[2015-12-31 05:53] travislbrundage commented on #1285
Additionally, there are 39 layers with the amazon link to missing thumbnails which save correctly and don't immediately appear to have anything wrong with them, yet have a broken thumbnail. It's possible all that is needed to be done for these is to somehow fix it to regenerate the thumbnail instead of believing it already has one (the amazon static no thumbnail image).

A similar scenario exists

[2015-12-31 16:42] #1270 closed

[2016-01-04 20:07] garnertb opened #1291 "Add the ability to edit the title in the metadata popup."

[2016-01-04 22:50] travislbrundage opened #1293 "Modify taggit settings so tags are comma separated only, NOT space separated"
If you try to add a tag like "Middle East" right now, it will separate them into "Middle" and "East" because taggit is consuming tags both comma and space separated.

[2016-01-05 00:07] davisc opened #1294 "Synchronize Django and Tomcat cookie domains"
The default cookie domain for Django and applications running in tomcat is 'mapstory.org'. Changing the Django session_cookie_domain to '.mapstory.org' to handle wildcard sub-domains and share a session cookie (login session) across multiple subdomains requires a corresponding change to Tomcat for the Geoserver Geonode Auth Plugin to find the cookie collection and honor the GeoNode session.

[2016-01-05 20:46] garnertb commented on #1294
This was fixed in https://github.com/MapStory/mapstory-geonode/commit/0e47844ae58e5bd74ba8601cb4a6a89e92336c29.  Closing.

[2016-01-05 20:46] #1294 closed

[2016-01-05 20:46] garnertb commented on #1292
Fixed in https://github.com/MapStory/mapstory-geonode/commit/236fb8a170d23690cebfd0901b1ae99839ea44b5.

[2016-01-05 20:47] garnertb commented on #1291
Fixed in https://github.com/MapStory/mapstory-geonode/commit/14ce2b1dbd2e7229423705f11658d49035b64c56.

[2016-01-05 20:47] #1291 closed

[2016-01-06 12:50] garnertb commented on #1290
celerybeat-schedule was added to the .gitignore in https://github.com/MapStory/mapstory-geonode/commit/10ba816998ed07022d75acf1d6e440ffffd77f9b.  Closing.

Re-open if future provisions fail.

[2016-01-06 12:50] #1290 closed

[2016-01-06 12:52] garnertb commented on #734
OBE.

[2016-01-06 12:53] garnertb commented on #234
OBE.  New uploader defaults to 4326 when no projection is found.

[2016-01-06 12:53] #234 closed

[2016-01-06 17:54] jonpmarino opened #1296 "Allow for upload of images (i.e. .jpeg) on Get Pages"
Right now our Get Started, Get Skills and Get Involved pages allow for the attachment of videos only. Want to be able to put images there instead if we want to.

[2016-01-06 23:31] garnertb commented on #1268
Initial implementation: https://github.com/MapStory/mapstory-geonode/commit/66dfbd129b9ca852469848e82022a59004ea1534.

[2016-01-06 23:31] #1268 closed

[2016-01-07 15:18] garnertb commented on #1199
Closing this as OBE.

[2016-01-07 15:19] garnertb commented on #1227
Closing this overarching issue in favor of smaller, high-resolution issues around the uploader.

[2016-01-07 20:30] jonpmarino commented on #1241
Once created, StoryLayer appears as "Administrator" account

[2016-01-09 19:24] garnertb commented on #1266
Done in https://github.com/MapStory/mapstory-geonode/commit/33d5c5390c8785468291d8827eea4bf638807f6e.

[2016-01-09 19:53] jonpmarino commented on #1279
i think we are just pointing people to metadata edit modal as the last point in upload process instead of a separate workflow.

[2016-01-09 19:53] #1279 closed

[2016-01-09 19:59] jonpmarino commented on #1208
@travislbrundage is this still an open issue?

[2016-01-09 20:01] jonpmarino commented on #1210
@travislbrundage is this still an active issue?

[2016-01-09 20:01] jonpmarino commented on #1209
@travislbrundage is this still an active issue?

[2016-01-09 20:04] garnertb commented on #1298
Fixed in https://github.com/MapStory/mapstory-geonode/commit/53ef8d05d453e5bb7bd0e19e3bc18bf0102d98a4.

[2016-01-10 19:42] #22 closed, assigned to nobody

[2016-01-10 19:44] #70 closed, assigned to nobody

[2016-01-10 19:47] garnertb commented on #1275
Duplicate of https://github.com/MapStory/mapstory/issues/1275.

[2016-01-10 19:49] garnertb commented on #1224
Pretty sure @davisc fixed this.

[2016-01-10 19:49] #1224 closed

[2016-01-10 19:50] garnertb commented on #1219
Fixed, closing.

[2016-01-11 00:32] jonpmarino commented on #1258
i think we have gotten to a more detailed level with our thumbnail work. closing for now.

[2016-01-11 00:40] jonpmarino commented on #1255
Is this considered complete now @davisc ?

[2016-01-11 14:49] jonpmarino commented on #1197
closing since items are covered elsewhere

[2016-01-11 15:30] garnertb commented on #1269
Fixed.

[2016-01-11 15:30] #1269 closed

[2016-01-11 18:40] #1276 closed

[2016-01-11 18:42] travislbrundage commented on #1300
You should already be able to edit these, although it's a bit strange to do. Basically each one has a "name" and you have to modify the already existing ones to change what shows up on the page.

The header one is called "Africa" right now. On the home page, they're just called Parallax1, Parallax2, and Parallax3.

http://mapstory.org/admin/mapstory/parallaximage/

[2016-01-11 19:04] travislbrundage commented on #1210
This is still open, although I am not currently working on this issue.

[2016-01-11 19:05] jonpmarino opened #1302 "fixes to "edit profile""
- [x] Interests > change help text to "separate each interest with a comma"
- [ ] Interests > make sure each interest is separate by comma, not word
- [x] Make interests a clickable item that generates a Search>Storytellers filtered by that interest
- [x] Join the Volunteer Technical Community > add the text "What's this? Learn more here" (link to http://wiki.mapstory.org/wiki/Volunteer_Technical_

[2016-01-11 19:05] travislbrundage commented on #1209
This is still open and I worked some towards this issue recently, but there are still bugs and conflicts with GeoNode.

[2016-01-12 21:03] garnertb commented on #1267
Fixed in https://github.com/MapStory/mapstory-geonode/commit/21bbca3baeca7ae076b286bfe2680b35f25d2031.

[2016-01-13 20:06] jonpmarino opened #1305 "Issues with MapStory viewer (w/ chapters)"
Logging remaining issues I see with viewer mapstory presented on 1/12/15

- [ ] Info button that shows Abstract/Summary
- [ ] simplified date presentation
- [ ] small < > full screen switcher
- [ ] Legend - customized
- [ ] loop > auto advance (whole story)

[2016-01-18 21:38] jonpmarino opened #1306 "legend performance and design"
- [x] Legend needs to condense to height when longer than youtube/embed height. Currently it extends beyond the screen height without a scroll bar for the user to see content.

[2016-01-20 20:01] davisc commented on #1281
Fixed

[2016-01-21 02:04] davisc commented on #1246
Fixed

[2016-01-21 02:10] davisc commented on #1252
Fixed

[2016-01-21 02:10] #1252 closed

[2016-01-21 16:39] jonpmarino opened #1308 "Notification settings on "Edit Profile""
User should be able to manage a set of notification settings from the Edit Profile tab. All are defaulted YES unless user toggles them off. These include

- [ ] Receive email notification when new Journal Entries are published. Yes - Immediately. Yes - Weekly Digest. Never.
- [ ] Receive email notification when StoryLayers you created are edited. Yes - Immediately. Yes - Weekly Digest. Never.
- [

[2016-01-22 02:47] jonpmarino opened #1310 "Time playback within chapters based on tick not rate"
Currently playback on mapstories is based on a rate setting, such as month-by-month. This often makes it appear for the viewer that their is no data in the mapstory. See: http://mapstory.org/maps/1555?limit=100&offset=0&is_published.

Playback should be changed back to being based on each data feature in the mapstory (so, on 'tick' rather than on rate).

[2016-01-22 16:55] jonpmarino opened #1311 "Home Page text tweeks"
- [ ] "Compose MapStory" should be "Compose MapStories"
- [ ] reduce "Get Skills description text to "MapStory is for everyone, not just web developers and GIS experts. We work hard to get you the help you need to succeed." Eliminate "improve". This should reduce to one line.

[2016-01-22 18:52] jonpmarino opened #1312 "MapStory with no content, but based on a good layer"
Filing for future review.

This StoryLayer works - http://mapstory.org/layers/geonode:GlobalBorders

![borderlayer](https://cloud.githubusercontent.com/assets/2573761/12519839/1b3926dc-c10f-11e5-869a-1c57e1f25a21.jpg)

But looks this way in this story - http://mapstory.org/maps/838?limit=100&offset=0&is_published

![borderstory](https://cloud.githubusercontent.com/assets/2573761/12519900/8099c658-

[2016-01-22 19:22] jonpmarino opened #1313 "Fix Paypal donation link"
Donate Now button at www.mapstory.org/donate seems to bring up a broken Paypal link. Correct link URL should be https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3FUCTKSH4R668
![donatenow](https://cloud.githubusercontent.com/assets/2573761/12520679/fd4ab8f2-c113-11e5-9ac6-73895854332b.jpg)

[2016-01-27 00:41] #1313 closed

[2016-01-27 19:14] jonpmarino opened #1317 "Layer Upload to Playback problem"
A layer is successfully uploaded. Metadata is added. No data appears on playback.

Example - http://mapstory.org/layers/geonode%3Abirds_test

[2016-01-27 21:48] travislbrundage commented on #1318
Implement the collapsible sidebar behavior. - Done, not pushed yet.
Basemap (on the right) should resize depending on the behavior of the sidebar (active or inactive) - Not done, should be done in less than an hour.
Title bar should contain the title of the MapStory - Done, not pushed yet.
 Title bar should contain a working Properties button which will call the MapStory Properties modal - Not don

[2016-01-29 16:56] garnertb commented on #1319
Can we just hide the progress bar?

[2016-01-29 17:00] jonpmarino commented on #1319
After 100% is reached? Yeah, that seems like a great solution. Just something to indicate completion

[2016-01-29 17:01] garnertb commented on #1319
Sounds good, @JWileczek can you do this?

[2016-01-29 17:26] garnertb commented on #1320
Fixed here: https://github.com/MapStory/mapstory-geonode/commit/decf3687f5fed647b2521652ce21e7bfab598e44.  Will deploy soon.

[2016-01-29 18:34] JWileczek commented on #1319
Can do

On Fri, Jan 29, 2016 at 12:01 PM, Tyler Garner <notifications@github.com>
wrote:

[2016-01-29 19:15] groldan commented on #1324
wanna bet?

[2016-01-29 19:16] zrouse-Boundless commented on #1324
I bet a frosty beer

[2016-01-29 19:17] groldan commented on #1324
deal. I bet it does cause CPU spikes.

[2016-01-29 19:19] zrouse-Boundless commented on #1324
that was the side I was gonna bet

[2016-02-01 19:21] zrouse-Boundless commented on #1283
force OL to  hit the t1, t2, t3 endpoints

[2016-02-02 18:08] #1305 closed

[2016-02-02 18:09] #1255 closed

[2016-02-02 21:52] travislbrundage commented on #1318
This is partially working, the only thing not working is publishing directly - it saves the map, but currently you still have to go to your profile to publish your draft map.

[2016-02-03 22:46] travislbrundage commented on #1318
"Title bar should contain a working Summary button which will call the MapStory Summary modal. Include the Title, Summary, Category Tags, and Location fields."

This exists on the front end and properly sends the JSON when saving the MapStory. The JSON needs to be received by the backend to save it correctly though. Also, the javascript will be reworked to support Maps comprised of chapters.

[2016-02-05 21:44] jonpmarino opened #1326 "Make sure MapStory "Explore" URL persists as www.mapstory.org/search"
Right now it persists as a longer string

http://mapstory.org/search/?limit=100&offset=0&is_published

mapstory.org/explore is ideal.

[2016-02-11 20:03] nittyjee opened #1328 "Add Timestamp to Storylayers Upon Creation"
Storylayers don't have the date they were created, small and probably low priority now, but super important.
Uploaded this one yesterday, not seeing a date anywhere (same for any other storylayer):
http://mapstory.org/layers/geonode:permitstotakewater%20testing%20uploader

[2016-02-11 20:09] jonpmarino opened #1329 "Support data uploads that extend to geologic time (4.5 billion years)"
Many StoryLayers will want to express B.C. time periods. Should include geologic time (-300m BCE), just as was supported on retro.  Later we need to get back to 4.5billion years.

[2016-02-11 20:10] jonpmarino opened #1330 "Support raster upload"
probably as georefferenced geotiff

[2016-02-11 20:12] garnertb commented on #1330
Duplicate: https://github.com/MapStory/mapstory/issues/1264

[2016-02-11 20:12] #1330 closed

[2016-02-12 19:33] travislbrundage commented on #1261
This is resolved. Adding tags does not unpublish anymore (although I'm not sure if there are regression tests in place).

[2016-02-12 20:23] jonpmarino opened #1331 "Journal entries don't work"
Go to http://mapstory.org/journal, click "write an entry". Enter content. Journals don't publish.

[2016-02-15 19:22] jonpmarino commented on #1289
Issue with some append: clicking on  "Download Shape-file schema" goes back to the same page I was already on. For example - when I go here:
http://mapstory.org/layers/geonode:final_florida_20
and click "Append", and then click "Download Shape-file schema", it goes back to that same page.

[2016-02-15 19:23] jonpmarino commented on #1327
addressed as a comment in another issue

[2016-02-15 19:41] zrouse-Boundless commented on #1329
Assumption: Geotools, PostGIS, and Geoserver are set for this.  This is just making sure the python can handle the -Time

[2016-02-15 19:44] #1310 closed

[2016-02-15 19:54] zrouse-Boundless opened #1332 "BUG- Download schema links for append data fails for old stories"
"it looks like some backend data issue for those layers in particular, somehow the links didn’t get generated correctly. I haven’t found another case of download schema links not working for any newly uploaded or recently created layers"

Example = http://mapstory.org/layers/geonode:Breweries0

@nittyjee has a list of layers too

[2016-02-15 20:31] jonpmarino opened #1333 "Full screen > Embed View interaction"
We need a way to switch between full screen and embed, as we had on retro.mapstory.org.

[2016-02-15 20:36] jonpmarino opened #1334 "Full screen > Embed View interaction"
We need a way to switch between full screen and embed, as we had on retro.mapstory.org.

Example on this StoryLayer > http://mapstory.org/layers/geonode:birds_test

Then replace mapstory map client for storylayers too

[2016-02-15 21:13] jonpmarino commented on #1333
duplicate.

[2016-02-15 21:13] #1333 closed

[2016-02-16 19:22] travislbrundage opened #1335 "GeoServer memory tracking"
Last week we saw some frequent geoserver crashing due to running out of memory. I've already upped the memory limit for the geoserver so hopefully it should run smoothly now, but it may be a good idea in the future to look into some tracking methods in case we have some weird memory leaks going on.

It would also be preferable to test these out on demo first before implementing on production. Ther

[2016-02-16 21:47] travislbrundage commented on #1331
Should be fixed with commit 35211e

[2016-02-16 21:51] travislbrundage commented on #1248
Two issues remaining with threaded comments, both of which I have posted on the owner of the app we're using's github issues and I am currently awaiting a response. I will circle back to work on this issue more after knocking out my others for this sprint.

[ ] Posting a comment redirects you rather than updating within the page. Would be a nicer user experience to just have the form disappear and

[2016-02-17 21:00] bitner commented on #1329
it looks like currently the date parsing behavior when given just a year is to return the current date in that year (ie parse('2000') returns 2000-02-17). I'm assuming that behavior should be to return 2000-01-01?

[2016-02-17 21:04] garnertb commented on #1329
That seems sane to me.

On Wed, Feb 17, 2016 at 4:00 PM, David Bitner <notifications@github.com>
wrote:

--
-Tyler Garner

[2016-02-17 22:01] jonpmarino commented on #1329
agreed.

[2016-02-18 04:42] jonpmarino commented on #1331
@travislbrundage any way to get newest posts showing up top rather than at the end?

[2016-02-18 04:54] travislbrundage commented on #1331
I didn't realize they were still appearing at the bottom. Yeah, I will look into that.

[2016-02-18 05:10] jonpmarino commented on #1331
cool. thanks!

[2016-02-18 16:08] bitner commented on #1329
Slight issue. PostgreSQL timestamptz data type can only store dates between 4713 BC and 294276 AD (http://www.postgresql.org/docs/9.4/static/datatype-datetime.html). I've got the tweek so Python will read and set the negative or "BC/BCE" times correctly in the ogr.OFTDateTime field, but we are outside the limits of PostgreSQL storage if we go into geologic time.

One possible option would be to ad

[2016-02-18 16:08] jonpmarino commented on #1331
@travislbrundage adding a couple of other picks on journals. If you think they are quick wins, feel free to knock out.

- [ ] make username and thumbnail picture under journal entry title link to that users profile
- [ ] add ability to add keywords/tags to journal entries, and to sort by keyword/tag on left-hand column of journal page

[2016-02-18 19:53] jonpmarino commented on #1329
this sounds reasonable to me. Can't imagine any data that we might deal with that has deeper than annual further back than 4713 years. In terms of geologic time is there a limit on how far back that goes? Internally we've used 4.5 billion as a marker

[2016-02-19 00:05] jonpmarino opened #1336 "Add OpenStreetMap as base layer in maploom and composer"
currently we see MapBoxLight, MapBox Geography Class, MapBoxNaturalEarth2, MapBoxNaturalEarth1, and MapQuestSat as base layers. We should have OSM and Humanitarian OSM, plus evaluate others that make sense to pull in.

[2016-02-19 00:30] travislbrundage commented on #1331
Only that second one isn't a really quick pick, the rest will be fairly simple picks.

[2016-02-20 00:27] davisc commented on #1332
<img width="988" alt="before" src="https://cloud.githubusercontent.com/assets/947403/13192899/7c3fa40a-d736-11e5-8991-18ed2bdd7cdb.png">
<img width="1003" alt="after" src="https://cloud.githubusercontent.com/assets/947403/13192900/7c4ccef0-d736-11e5-883c-417abf756124.png">

[2016-02-20 00:42] #1332 closed

[2016-02-22 14:54] jonpmarino commented on #1331
@travislbrundage taking out the one on tags and making a separate issue for later...and closing.

[2016-02-22 14:54] #1331 closed

[2016-02-22 14:58] jonpmarino commented on #1248
These are minor issues. Will move this off to MVP for now.

[2016-02-22 14:58] #1248 closed

[2016-02-22 16:45] jonpmarino commented on #1261
@travislbrundage if this is resolved we can close, right?

[2016-02-22 16:45] #1261 closed

[2016-02-22 17:37] #1317 closed

[2016-02-22 17:40] #1312 closed

[2016-02-22 18:48] jonpmarino commented on #1293
multiple word tags are working

[2016-02-22 18:48] #1293 closed

[2016-02-22 19:23] jonpmarino commented on #1191
Closing since now duplicate of #1302

[2016-02-22 19:23] #1191 closed

[2016-02-22 19:43] jonpmarino commented on #1329
Work is done. Waiting on @garnertb to pull in with other changes this week.

[2016-02-22 20:29] #1326 closed

[2016-02-22 23:08] jj0hns0n commented on #1302
<img width="1229" alt="screen shot 2016-02-22 at 15 04 14" src="https://cloud.githubusercontent.com/assets/506078/13235953/125a5bb0-d976-11e5-83cc-355fee061c12.png">

[2016-02-22 23:15] jonpmarino commented on #1302
looks good @jj0hns0n

[2016-02-22 23:17] jj0hns0n commented on #1302
@jonpmarino can you give me some clarity on "Add space to let users link to Twitter, Facebook, linkedin, github profiles". Should we just add a profile field for each of these 4 or something more extensible/generic?

[2016-02-22 23:18] jj0hns0n commented on #1302
@jonpmarino also not clear on this one "Add Education, Skills, Interests (tags) on the left sidebar."

[2016-02-22 23:48] jonpmarino commented on #1302
@jj0hns0n on old mapstory.org site (retro.mapstory.org) we had place in "edit profile" to add the slug for those social media accounts. When the user saved, on their profile the icon/logo of each social media entity would appear, and it would be hyperlinked to the user's social media account. So what you described probably works.

[2016-02-22 23:52] jonpmarino commented on #1302
@jj0hns0n on the "Add Education, Skills" question: Its an issue of migrating that user account data from retro.mapstory.org and having a field for it to live on current mapstory.org profile. We had space for people to input their Education History and skills in the old account. Don't have place for it in new. So its 1) Creating place in new profile for it to appear and 2) migrating data from old u

[2016-02-24 00:50] travislbrundage commented on #1316
Doing some research into this, it does not exist by default. GeoNode provided an embed option for maps, but not for layers. I may be able to recreate the functionality for layers, but it doesn't currently exist. I'm not sure if there's some technical reason that makes this impossible, but assuming it's just a new functionality that needs to be implemented, that would make this a medium pick in my

[2016-02-24 01:17] travislbrundage commented on #1303
Closed by https://github.com/MapStory/mapstory-geonode/commit/6d12e0d8c044ea9c9f3d924920c91d8aceb2edc3

[2016-02-24 01:30] travislbrundage commented on #1334
I've gotten a branch that's taken this pretty close to working: https://github.com/travislbrundage/mapstory-geonode/tree/feb26-wip

I have it set for now so that pressing the enter key enters fullscreen mode, and this works fine. I've also added the button on the front end, and this mostly works, except for some reason it's not loading the glyphicon correctly.

The bigger problem though is that I'

[2016-02-24 05:55] nittyjee commented on #1241
So I created a storylayer, just with 3 points - everything's working fine, except there are no time controls, either in editing or viewing modes. Attached is a screenshot, for this layer (in case the problem disappears and reappears like it sometimes does magically):
http://mapstory.org/layers/geonode:nitin_trial_1
![no_time_controls](https://cloud.githubusercontent.com/assets/3781494/13276837/f2e

[2016-02-24 15:23] davisc commented on #1334
@travislbrundage Good news I was able to add your code to story tools core and get it working.

[2016-02-24 20:42] davisc commented on #1342
Configured beta.mapstory.org as a Webserver node running gunicorn, nginx, and elastic while pointing to the remote production db and geoserver instance.

[2016-02-24 23:57] jj0hns0n commented on #1302
@travislbrundage can you help with the 2 remaining issues here

* Interests > make sure each interest is separate by comma, not word (This should use a bootstrap tokenfield of some sort)
* Favorites tab in Profile should display Cards instead of a list, for consistency.

[2016-02-24 23:58] jj0hns0n opened #1344 "User Notification Preferences"
Give user ability to set notification preferences: Options are: Notify me immediately | Send me a Daily Summary | Send Me a Weekly Summary (choices = When my StoryLayer is edited, When someone comments on my work, when someone flags my work, when someone favorites my work.

(migrated from #1302)

[2016-02-25 00:33] #1236 closed

[2016-02-25 00:35] jj0hns0n commented on #1194
datepicker fixed with 03ccdb3f0caa3bc06c0224bff20c446b09dbe419

[2016-02-25 00:55] jj0hns0n commented on #1261
@travislbrundage Im still seeing this behavior. How do I somehow verify that Im on the latest and this is not just a problem with my local enviro?

[2016-02-25 18:09] jonpmarino opened #1346 "Everyone has 21 mapstories and 45 storylayers on their profile page"
On Profile Page, it looks like everyone has 21 mapstories and 45 storylayers assigned to them. In many profile instances you first see mapstories and storlayers not assigned to the user profile. Clicking on the tabs seems to change the ownership presentation.

Trying going to http://mapstory.org/people/profile/clarence.davis/.

Also common that users can't see their newly uploade content, although

[2016-02-25 18:50] jonpmarino opened #1347 "Remove permissions step on upload, since all uploads are open for version editing"
Since it was decided that all storylayers in mapstory are, by default, open for editing, we can remove the button that enables you to turn off editing.

Instead, we can just say in the final Import Step: "Click below to create your StoryLayer. Once it is created, other MapStorytellers will be able to edit it. If you think your StoryLayer should be set to read-only status, contact an administrator

[2016-02-25 19:51] reynalddizon opened #1348 "Responsive Homepage"
LG (desktop), MD (tablet-landscape), SM (tablet-portrait) and XS (phone)

### Navbar
- [x] For SM and XS screens, place all the menu items (Explore, How To and Journal) and Profile under the navicon (burger) menu.
- [x] "Create" menu option should be hidden for all mobile devices.

### Parallax/ Animated GIFs
- [x] For all mobile devices: Hide all animated GIFs except for Africa.gif (the topmost p

[2016-02-25 20:57] jj0hns0n commented on #1220
Fixed with https://github.com/MapStory/mapstory-geonode/commit/28d88e2ca7c63bfce0139b15a6c54b138ae615b6 and https://github.com/MapStory/mapstory-geonode/commit/dcd30c7084dfb86fbe6f2cd1d2e64b8fb43b98a7

[2016-02-26 00:03] travislbrundage commented on #1316
I have a lot more notes on this issue, but they're on physical paper... the WIP branch for this is here: https://github.com/travislbrundage/geonode/tree/layer-embed

[2016-02-26 00:14] jonpmarino opened #1349 "MapStories with temporal layers, but that don't playback"
Example: mapstory.org/maps/159

[2016-02-26 17:15] davisc commented on #1263
https://github.com/MapStory/mapstory-geonode/commit/0388dc9f3404231baa2f64be1c94c803996ae65f

[2016-02-26 17:18] davisc commented on #1334
Fixed in https://github.com/MapStory/mapstory-geonode/commit/c6a7c47b9fefb35df2d34828db9217027f2fc735

https://github.com/MapStory/story-tools/commit/c880d1a7cb19ed31513b0a3969c7c4a2668f9080

[2016-02-26 17:20] #1334 closed

[2016-02-26 17:22] garnertb commented on #1263
Closing for now.  Bugs should be tracked in new tickets.

[2016-02-26 18:27] jonpmarino commented on #1285
@jj0hns0n fixed most of these. Still some with "No Image". The stock map image should always replace "No Image"

[2016-02-26 18:44] jonpmarino commented on #1349
looks fixed

[2016-02-26 18:45] #1349 closed

[2016-02-26 19:35] jj0hns0n commented on #1273
Basic upload with a shapefile with chinese characters worked. Do we have an example of one that didnt work? @reynalddizon

<img width="1271" alt="screen shot 2016-02-26 at 11 31 57" src="https://cloud.githubusercontent.com/assets/506078/13363200/05491f1a-dc7d-11e5-8971-f28635d13749.png">

[2016-02-26 20:05] ChristopherTucker commented on #1273
It did not display mandarin in the attributes.

[2016-02-26 20:15] jj0hns0n commented on #1273
@ChristopherTucker thats what it says there above (Note the characters dont actually display properly in the front end, see below). Looking into it.

[2016-02-26 20:46] jonpmarino opened #1350 "City and Country not showing up on profile when added in "Edit Profile""

[2016-02-26 21:57] jonpmarino opened #1351 "Migrate Education and Expertise content from profiles on retro.mapstory.org to new profiles"
We now have space in new Profile for the old profile content that was never migrated.

Combine categories to match simplified categories.

[2016-02-26 22:48] jonpmarino opened #1352 "add "write a message" to user actions section in Profile"
there is no place to launch a new message on Profile page right now. Easiest place seems to add "send a message" with link to message creator under the "user actions" section.

There is a send message link in the "Inbox" accessible on the top-right drop down. So this link just needs to be enabled on the profile itself.

![9999](https://cloud.githubusercontent.com/assets/2573761/13367495/0ceec7ae-d

[2016-02-27 01:03] travislbrundage commented on #1194
Just putting it out here as a random note, but the `search.js` file really needs a clean up. There's a lot of old, outdated code that's not even being used. It's making the file cluttered and more confusing than necessary. https://github.com/MapStory/mapstory-geonode/blob/master/mapstory/static/mapstory/js/search.js

[2016-02-27 02:19] jj0hns0n commented on #1273
This test case is now working with https://github.com/ProminentEdge/django-osgeo-importer/commit/4a974114336bc765115b14f88ce2060ee90ce853 for me locally with the additions to the __init__.py ... but now we see "Invalid Byte Sequence" in travis. https://travis-ci.org/ProminentEdge/django-osgeo-importer/jobs/112158903 ... Im investigating.

[2016-02-29 00:14] davisc commented on #1353
Added debug logging statements to get detailed information from the response and noticed that the encoding was `None` and the value of the response text was `??????\???1? ?????<8??)??? ??t??avq?PK???D???@%~Jf??;"1?o??gc?&b$%PJ????/e?Y??;? ?f`

[WARNING/Worker-5] obj.encoding = None
[WARNING/Worker-5] obj.iter_content = <bound method Response.iter_content of <Response [200]>>
[WARNING/Worker-5] obj

[2016-02-29 00:18] davisc commented on #1353
To resolve this issue, I reinstalled tomcat and redeployed geoserver and ran through the steps above.

[code]

[2016-02-29 16:31] #1336 closed

[2016-02-29 18:34] #1311 closed

[2016-02-29 18:47] jonpmarino commented on #1289
Remaining issue is duplicate of #1338

[2016-02-29 18:47] #1289 closed

[2016-02-29 18:48] jonpmarino commented on #1167
Unecessary w/ #1196

[2016-02-29 18:52] jonpmarino commented on #1308
Closing. Duplicate of #1344

[2016-02-29 18:52] #1308 closed

[2016-02-29 19:05] jj0hns0n commented on #1350
Added at https://github.com/MapStory/mapstory-geonode/commit/5966bd99564053df9c5a943f084901717b543e0e ... Note that these are not clickable or searchable currently. This can be added later.

@jonpmarino please close when this is live and verified

[2016-02-29 19:05] jonpmarino commented on #1329
Created layer with BC dates -  In our time controls on playback, BC dates appear to march from small number to larger, rather than counting down to year 0. http://mapstory.org/layers/geonode:polling_no_az_messed_up_dates_negative_time

[2016-02-29 19:18] jj0hns0n commented on #1352
Added with https://github.com/MapStory/mapstory-geonode/commit/84af075054adf5ce0d1df166170561d397d08242 ... @jonpmarino please close once verified

[2016-02-29 19:44] jonpmarino opened #1354 "The first edit in a new geogig enabled layer should refer to the user's real name, not anonymous"
If Real Name is complete, user username.

On the Edit History on the layer detail page, the first edit should refer to User Real Name, not "unknown".

[2016-02-29 19:46] jonpmarino commented on #1355
Related to general user interface issues listed in #1231

[2016-02-29 20:06] jonpmarino opened #1356 "Reset clean search when a selected field (tag, category) is de-selected"
When a filter item is deseleted, it should repopulate the content (StoryLayers and MapStories) that were eliminated by the previous filter.

[2016-02-29 20:10] travislbrundage commented on #1194
"Add most used tags like from UI" - I've added the Trending Tags, however, it should be noted that tags are the same on the backend for keywords (on MapStories and StoryLayers) and interests (on StoryTellers). So, it's going to show the 8 most popular alphabetically ordered, but this includes both keywords and interests.

[2016-02-29 20:42] nguyenist commented on #1348
Hey @jonpmarino @reynalddizon - I'm looking over the list above.

During weeknights / intermittent free hours here and there, I will start on smaller design items I can work on like:
- **Get Started Section**: ```For desktop: Update the icons with nicer images with orange/brown/gray color scheme```
- **The atlas of change" (Orange) section**: ```Improve the searchbar styling.```
- If you have any

[2016-02-29 21:11] jonpmarino commented on #1194
@travislbrundage I think that's fine. We can think about it as an integrated "Most popular on mapstory" type feature.

[2016-02-29 22:05] jj0hns0n commented on #1302
@jonpmarino can you file 2 new issues for the last 2 things I mentioned in the last comment to @travislbrundage and close this issue once verified in production.

[2016-02-29 22:12] jonpmarino commented on #1302
will do

[2016-03-01 00:08] travislbrundage commented on #1194
Yeah, that's fine, just wanted to make sure it was known that was the behaviour.

"Implement the ability to load a search page preloaded with the clicked tag fro a viewer page. This will require making the Tags clickable on the StoryLayer and MapStory viewer pages (clicking a tag should launch a search in Explore based on that tag" - this is partway there. It's implemented, however, when you are t

[2016-03-01 00:19] travislbrundage commented on #1356
This is kind of intertwined with the explore issue #1194. It'll make more sense implementing Bootstrap tokenization, and then this functionality will fall into place more obviously. So, I'll be hitting two birds with one stone.

[2016-03-01 03:44] jonpmarino commented on #1352
tested and confirmed on prod

[2016-03-01 03:44] #1352 closed

[2016-03-01 03:47] jonpmarino opened #1357 "Clicking Location on user profile should spawn storyteller filter search by that location."

[2016-03-01 03:47] jonpmarino commented on #1350
Confirmed on prod. "Clickable" location issue documented for later as #1357

[2016-03-01 03:47] #1350 closed

[2016-03-01 03:55] jonpmarino commented on #1340
moving to March 4 milestone as part of #1318 - composer work

[2016-03-01 04:11] jonpmarino commented on #1302
Closing this issue. All checked items test. Creating new issue for Interests, #1358. Lets forget about the favorites as card for now. List looks pretty good actually.

[2016-03-01 04:11] #1302 closed

[2016-03-01 19:44] jonpmarino commented on #1194
1. fix Who so the drop-down doesn't cover text 2. Fix Trending tags so it pulls from tags.

[2016-03-01 22:48] jj0hns0n commented on #1357
@jonpmarino we dont currently have any way to filter by location ... we can add it, but do we want to be smarter than just matching strings?

[2016-03-02 21:48] jj0hns0n commented on #1273
UTF-8 encoding errors are now caught (but not acted on) after https://github.com/ProminentEdge/django-osgeo-importer/commit/b9848634c0e07ddc1d3d006779c376b543386692 and https://github.com/ProminentEdge/django-osgeo-importer/commit/0df8f531feffdd2feca475f7f7841d84d7c542b5 ... We need to decide how to act on them now. @garnertb grab me on slack to discuss.

[2016-03-03 05:09] travislbrundage commented on #1358
What is wrong with the current way interests are being handled in the edit profile? Using it, they are separated by commas and not spaces. So I'm not sure what the issue is with that. The second part isn't there yet because there is currently no storyteller filtering, so it depends on implementing that at least partially.

[2016-03-03 16:34] jj0hns0n commented on #1358
There is nothing wrong, its just not very clear to the user what is going
on. The tokenization just makes things clearer from a UX perspective.

You should be able to use the API to filter by owner (aka storyteller).

On Wed, Mar 2, 2016 at 9:09 PM, travislbrundage <notifications@github.com>
wrote:

[2016-03-03 17:28] jonpmarino commented on #1306
Legend covers time controls in viewer page

http://mapstory.org/maps/475

![legend](https://cloud.githubusercontent.com/assets/2573761/13502973/2fff3470-e13b-11e5-8efc-f2b6fdf17029.jpg)

[2016-03-07 17:01] jonpmarino opened #1359 "MapStory Viewer & Playback"
![viewer 001](https://cloud.githubusercontent.com/assets/4611843/13579452/a6eef498-e46b-11e5-8629-125549219ac2.jpeg)

(based on http://beta.mapstory.org/story/5842)

- [x] Clicking Title should link back to MapStory viewer page
- [x] Clicking author should link back to storyteller profile page
- [x] Add infinite scrolling to Chapter Info if it extends beyond the map height
- [x] Change vertical "c

[2016-03-07 18:52] jj0hns0n commented on #1102
@simod is working on this.

[2016-03-07 21:04] jonpmarino opened #1360 "Setting mapstories as featured breaks thumbnails"
thumbnail for this one worked. When set to featured, became broken,

http://mapstory.org/maps/2356

[2016-03-07 22:41] #1356 closed

[2016-03-07 22:46] jonpmarino commented on #1351
@davisc this looks done judging from a few test cases: http://mapstory.org/people/profile/ctucker/ , http://mapstory.org/people/profile/BetsyEmmons/ . Can you confirm?

[2016-03-07 22:52] jonpmarino commented on #1341
Closing, as duplicate now of #1264

[2016-03-07 23:25] jj0hns0n commented on #1301
Working with https://github.com/MapStory/mapstory-geonode/pull/173 ... @jonpmarino and I have access to transifex, others can be added as necessary.

[2016-03-08 21:55] Coop56 commented on #1318
The PDF says to have a Start Editing button that calls the editor and collapses the menu which is what I have just added.  Would you rather split that into two buttons Add a New Feature and Edit an existing Feature like the other doc above says?  @reynalddizon

[2016-03-08 23:03] Coop56 commented on #1318
@reynalddizon I pulled the old  Layer Metadata form and modified it so it works with the new composer.  It was never built to be editable though - so is this something that needs added?  I'm referencing the below list item.

Layer Metadata form must have a save button for updating metadata fields.

[2016-03-09 01:47] reynalddizon commented on #1318
@Coop56 for the first question , yes. please split it into two. Ignore the one in the composer2.0 doc and follow the one shown in composer-editing doc. and as for the metadata, yes, we need that to be editable.

[2016-03-09 19:49] jj0hns0n commented on #1362
Made some changes to the API. It now serializes the entire object (see below) and allows for filtering by content type. Unfortunately, I cant figure out how to make it so you can filter with the content type name so it requires the content type ID (which isnt easy to look up). Ill see if I can figure this out later.

So, URLs like this will get you only layers http://192.168.56.151/api/favorites/?

[2016-03-09 19:57] jj0hns0n commented on #1273
@garnertb I think we can close this now that the tests are all passing right?

[2016-03-09 20:07] garnertb commented on #1273
@jj0hns0n yep.  Closed.

[2016-03-09 20:07] #1273 closed

[2016-03-09 22:44] jonpmarino opened #1363 "Replace StoryLayer slider and control bar with new layout"
StoryLayer playback controls still reflect the old style. Should be replaced with look/and feel to match new version that is already implemented for mapstories.

[2016-03-09 22:54] #1296 closed

[2016-03-10 16:16] reynalddizon commented on #1366
Question: What happens to the basemap display when the sidebar shows the Chapters list?

[2016-03-10 16:23] Coop56 commented on #1364
The sidebar already is collapsible anywhere in the process I thought - did you notice somewhere that it's not?

[2016-03-10 16:24] Coop56 commented on #1368
Styles don't work on new Composer right now, @davisc is working on a fix that should make them start working.  Once that's taken care of I'll handle these additional tasks.

[2016-03-10 16:29] reynalddizon commented on #1364
Both demo and beta don't have that collapse toggle for me, so i can't figure out how to minimize/expand the sidebar. Jon reported the same issue earlier.

[2016-03-10 16:39] Coop56 commented on #1364
Oh that's right - because the font awesome icons aren't showing up.  Did you figure this out @davisc?  I can work on it if you don't have time, I'll just need access to the demo server setup.

[2016-03-10 18:01] milafrerichs commented on #1362
I think we would need some way to search the title (layer name), keywords and such, right?

[2016-03-10 18:27] reynalddizon opened #1371 "Default styles for storylayers"
- [ ] For points, simple style, circle, with orange fill #f59620, no border and no labels.
- [ ] For lines, simple style with orange stroke #f59620, solid and no labels.
- [ ] For polygons, simple style with solid orange stroke #f59620, solid orange fill #f59620 with 70% transparency, no labels.
- [ ] Apply #f59620 to geoserver default style

- [ ] layers are displayed with varying styles. current

[2016-03-10 19:52] reynalddizon opened #1372 "Composer CSS"
- [x] apply the CSS rules to the sidebar elements as depicted on composer 2 mockup
- [x] update the CSS rules for the Styling Interface as depicted on MapStoryOrg composer mockup.

[2016-03-10 22:17] Coop56 commented on #1372
Just sent a commit to demo that should match the CSS rules from the Composer 2 mockup, starting on the styling interface next.

[2016-03-11 18:40] Coop56 commented on #1364
Ok the sidebar is collapsible in all places now and it's working on demo because we got the font awesome icons working.  I also fixed up the back buttons as that was a quick 10 minute change, so they are more specific now.  Commit sent to solve these two issues.  I'll get to animation after completing some other higher priority tasks.

[2016-03-11 18:42] Coop56 commented on #1372
This is done as far as it can be done using CSS rules.  In order to mimic that exact look we'd have to modify the storytools vendor files to modify the HTML template of the edit styles.  I imagine this can be done but I'm not sure if it's worth the time.  That's up to you guys - so just let me know.  @davisc @reynalddizon @jonpmarino - otherwise this issue is completed and closed.

[2016-03-11 19:51] davisc commented on #1372
@Coop56 Looks good to me. I support calling this task done.

[2016-03-11 22:51] jonpmarino commented on #1372
I defer to @reynalddizon but agreed from what i see

[2016-03-11 22:57] zrouse-Boundless commented on #874
This should use existing uploader

[2016-03-11 23:08] davisc commented on #1295
Closing as it appears to be fixed after we upgraded to GS 2.8

[2016-03-11 23:09] zrouse-Boundless opened #1376 "Refactor layer viewer to use same view as mapstories"

[2016-03-11 23:13] zrouse-Boundless commented on #1282
need to apply to maploom

[2016-03-11 23:30] zrouse-Boundless commented on #1318
@reynalddizon  can you spit this into separate issues?

[2016-03-11 23:31] zrouse-Boundless commented on #1306
Legend might have to be scrolable

[2016-03-11 23:42] zrouse-Boundless commented on #218
We have to also look at the WPS work Justin did

[2016-03-11 23:46] reynalddizon opened #1378 "Composer 0.0 Chapters"
- [x] Create a new Chapter when a user clicks the “Add a new Chapter” button. (Sidebar should automatically display: Level 2-Chapter Info form.)
- [x] List down all the Chapters in Level 0 sidebar. Chapters should be listed in the order of when they were created.
- [x] Clicking on a chapter object should bring Level 1 sidebar (Chapter components). Level 1 title bar should contain Chapter # and Cha

[2016-03-11 23:46] #1378 closed

[2016-03-11 23:54] zrouse-Boundless commented on #1287
This would make a lot more sense after the next version of geogig is released

[2016-03-12 00:01] reynalddizon opened #1382 "Composer 0.0 Editing Features"
- [x]  Added storylayers should appear on the map panel.
- [x] “Add a feature” button should trigger sidebar collapse and launch the editing mode,
- [x] “Edit an existing feature” button should trigger sidebar collapse and display a help text on the map panel.
- [x] “View Layer Metadata” should launch the Layer Metadata modal. Modal should be dismissible.
- [x] Change "Layer Metadata" button to "V

[2016-03-12 00:07] reynalddizon commented on #1318
@zrouse-Boundless done. closing this one now. Split this issue into Issues #1377 #1378 #1379 #1380 #1381 #1382

[2016-03-14 17:32] Coop56 commented on #1372
So is this closed then @reynalddizon?

[2016-03-14 17:33] Coop56 commented on #1366
@reynalddizon Can you explain a bit more about what you're looking for when you say Handle chapter transition gracefully?

[2016-03-14 17:38] reynalddizon commented on #1372
my latest version still has the old font face, Helvetica. I inspected the element and the css rules show "Open Sans" but if you compare the text on the top toolbar (which are Open Sans texts) and the ones in the sidebar, they look different.

[2016-03-14 17:38] reynalddizon commented on #1372
The styling interface looks fine now.

[2016-03-14 19:17] Coop56 commented on #1370
We want to add a Save button to the top of Composer as well on all sections of the Menu next to the collapse icon.  @reynalddizon Which icon would you like to use?

[2016-03-14 19:18] zrouse-Boundless commented on #1385
duplicate/overlap w/  #1370

[2016-03-14 19:28] Coop56 commented on #1370
@reynalddizon @jonpmarino What sort of notification would you like to see in Composer to let the user know that the Mapstory has been successfully saved?

[2016-03-14 19:34] Coop56 commented on #1372
@reynalddizon It looks like something was using an !important tag and overriding my font.  I pushed up a change to the CSS file that should fix this on demo once automated builds resume.

[2016-03-14 19:54] jonpmarino opened #1386 "Apply legend and infobox masking within viewer"
Legend and Infobox masking applied in composer should persist to what a viewer sees on playback. So, the Legend drop-down should so the storylayer alias's created in composer, and clicking on features should so the masked feature names that user has created.

[2016-03-15 14:02] Coop56 commented on #1368
I added a dependency that should fix the edit layer styles color picker with my latest commit - d1e3175c8c38c40e64eb7e4a099ae63ccf8e50e7.  Once demo builds I'll see if it's working, in the meantime I'm moving onto a different issue.

[2016-03-15 14:33] Coop56 commented on #1370
Added the save icon to all pages.  https://github.com/MapStory/MapLoom/commit/55309598fa51f482b5dd10e6394abc12bb0a9fdf

[2016-03-15 14:49] reynalddizon commented on #1370
@Coop56 Just a simple dismissible modal:
<img width="547" alt="screen shot 2016-03-15 at 10 48 03 am" src="https://cloud.githubusercontent.com/assets/4611843/13781940/7ae4dcb0-ea9b-11e5-9406-2cf3ee39c0e7.png">

[2016-03-15 17:27] Coop56 commented on #1370
I just sent in a commit - https://github.com/MapStory/MapLoom/commit/afd3cc06e3ad758890a6983947423ee72ceba557 - that handles the success and failure notifications for users.  That should close this issue.  @jonpmarino

[2016-03-15 17:33] milafrerichs commented on #1370
what about a message when a layer is added via search? right now it does all the stuff in the background and nothing is happening and suddenly the layer is there.

[2016-03-15 17:35] Coop56 commented on #1370
@milafrerichs This issue is about saving specifically but yes we should have some notifications and loading bars for adding layers.  @reynalddizon @jonpmarino or @davisc if you want to set that up in another issue I can take care of that.

[2016-03-15 17:44] Coop56 commented on #1368
@reynalddizon Can you tell me a bit more about what you want for transitioning styles gracefully please?  I'm not 100% sure what you're looking for there.

[2016-03-15 18:00] reynalddizon commented on #1368
@Coop56 basically it's just a simple message on top of the basemap that says "Loading style..." which will appear when loading map tiles when a user chooses a new style, and will disappear when the loading is finished. This is very helpful when loading really big datasets. But with small datasets we can simply hide this feature.
<img width="856" alt="screen shot 2016-03-15 at 1 57 04 pm" src="http

[2016-03-15 18:15] #1351 closed

[2016-03-15 18:30] jonpmarino commented on #1370
@milafrerichs good observation. I believe this is what #1373 is trying to speak to. On the old maploom, when a layer was added, the title immediately appeared in the side bar, and there was a spinning circle to indicate processes were occuring to get the layer added. Something similar for our composer seems vital.

[2016-03-15 18:41] jj0hns0n commented on #1301
@jonpmarino can we close this one?

[2016-03-15 18:43] jj0hns0n commented on #1362
@milafrerichs assuming you have what you need for now? Can we close this and open a new one for search in these endpoints?

[2016-03-15 18:47] milafrerichs commented on #1362
yes, close this one and open another one.

[2016-03-15 19:14] jonpmarino commented on #1301
Yes. confirmed live on beta. Need to remember to push to production though, @davisc

[2016-03-15 19:33] Coop56 commented on #1372
I tested the fonts locally and they are all showing Open Sans now, this issue should be closed out as soon as demo is back up and @reynalddizon can verify that the font is displaying properly.  @davisc please close it out when you get a moment.

[2016-03-15 19:53] Coop56 commented on #1370
I can use the same alert setup I used for the save success and failure for this, I'll just setup a function to showAlertBox with whatever text is necessary (in this case something like StoryLayer Loading...) and then another function hideAlertBox to hide it when the layer successfully loads.

[2016-03-15 23:00] rob-metalinkage commented on #1279
Can we make this extensible - i.e. dont assume a fixed metadata schema - but allow a profile to select the mandatory elements - and maybe allow users to choose profile - perhaps something like
* "test" - your data wont be visible to others
* "undocumented" - you can publish but no one will find your data
* "basic (abstract, language)" - stories will be discovered by search
* "CommunityX" - complia

[2016-03-15 23:15] rob-metalinkage commented on #1265
How is the new uploader code base updated? (in available instructions its pulled in read-only from git - will this work require a fork? If so - please add this as a separate task so I can follow progress and I'll update the docs to help a developer set up the codebase properly.)

My subproject needs to capture metadata during upload - so keen to understand plan here and see how configurable and ex

[2016-03-15 23:22] rob-metalinkage commented on #1279
where will this work take place? Will this require fork of https://github.com/ProminentEdge/django-osgeo-importer

[2016-03-16 01:24] ChristopherTucker commented on #1388
Rob,

We need to get you a solid answer on this.  The best I can say is that our
uploader maps dates in to ISO8601 format.  The old uploader had a variety
of date handling routines that took less than perfectly formatted dates,
and asked the user "did you mean..." type questions.

This of course leaves open a variety of issues, such as, if we only have a
year date (like 32 BC.) what do you do with

[2016-03-16 01:27] ChristopherTucker commented on #1265
Tyler owns the uploader right now.  We have some work that others are doing
right now to upgrade the raster support, etc.

We have had a metadata editor that users could use to author metadata
documents for their dataset.  I am not sure whether it has been completely
migrated to the new build.  It is ISO19115/19139 in the background.  We do
not yet let users upload metadata documents with their da

[2016-03-16 04:02] rob-metalinkage commented on #1388
OK - I'll just try to stay tuned - this will be important as I work up the specs for the temporal behaviour of the gazetteer.

[2016-03-16 04:30] rob-metalinkage commented on #1265
If I can get pointed to the implementation and know the directions taken I can try to work with it - I'm more inclined to try to capture as much as possible during wizard workflows where the payoff for the use can be made explicit (tell us what namespace your place identifiers come from so we can make your map visible from other related stories.) - that said it may be useful to have a load config

[2016-03-16 04:32] jj0hns0n commented on #1265
Rob, lets setup a call with the 2 of us and @garnertb and we can go over
the specifics.

On Tue, Mar 15, 2016 at 9:30 PM, rob-metalinkage <notifications@github.com>
wrote:

[2016-03-16 04:50] rob-metalinkage commented on #1265
Sweet - it must be late for you there now - som maybe tomorrow afternoon
(my morning will work - anytime after 7am Sydney (currently still in DST at
GMT+11)
On Wed, 16 Mar 2016 at 15:32 Jeffrey Johnson <notifications@github.com>
wrote:

[2016-03-16 17:49] Coop56 commented on #1370
I've pushed up changes with a new notification system, Toastr, that closes this issue.  Once it's deployed to demo that should close this issue if you'd like to check it out @jonpmarino and @reynalddizon.

[2016-03-16 17:51] jonpmarino commented on #1370
good stuff!

[2016-03-16 17:53] Coop56 commented on #1373
I just pushed up some changes in my latest commit - https://github.com/MapStory/MapLoom/commit/a36a6539e87878b47151ea6b061ad855bcf35247 - this commit creates notifications for adding layers as well.  When you click Use to add a layer, a notification will pop that lets the user the layer is loading.  That notification will remain until the layer either saves or fails and is replaced by a success or

[2016-03-16 18:32] jonpmarino commented on #1102
@jj0hns0n has changes to roll in for @davisc. On Thursday after standup @travislbrundage @jj0hns0n and I will work through getting front-end UI going.

[2016-03-16 19:04] jonpmarino commented on #1389
Took first item out of #1365 and made it its own issue. Rest of #1365 deals with playback functions in toolbar

[2016-03-16 20:18] jonpmarino commented on #1373
confirmed on demo. Nice!

[2016-03-16 21:00] travislbrundage commented on #1194
"Explore page shows "page 1 of NaN” before loading is complete Test URL:" - I think I fixed this, but let me know if it still appears after this PR is merged: https://github.com/MapStory/mapstory-geonode/pull/181

[2016-03-17 15:37] davisc commented on #1387
content_type ids may differ in deployment environments so the favorites api should allow query by type ie layer, map, etc.

[2016-03-17 18:39] milafrerichs commented on #1340
Is it correct that the attributes for a layer can be found in `layer.get('metadata').schema`

I found it here: https://github.com/MapStory/MapLoom/blob/master/src/common/layers/LayersDirective.js#L136

can someone confirm?
@davisc @Coop56 @JWileczek

[2016-03-17 18:58] #1372 closed

[2016-03-17 19:57] jj0hns0n commented on #1102
Deployed to demo. http://demo.mapstory.org/api/collections/1/
@travislbrundage is going to pick up the front end of this.

[2016-03-17 20:24] davisc commented on #1371
<img width="1045" alt="default-style" src="https://cloud.githubusercontent.com/assets/947403/13860024/56d23470-ec54-11e5-9d46-3741fc195efa.png">

@reynalddizon and @jonpmarino this has been deployed to demo.mapstory.org

[2016-03-17 21:02] travislbrundage opened #1391 "Explore UI issues"
- [ ] Long titles overflow on the Explore page. Truncating and showing the full title on rollover is probably the best option.
Test URL: http://mapstory.org/search/?q=Test&limit=100&offset=0&is_published
Image:
<img width="916" alt="screen shot 2015-10-16 at 2 09 21 pm" src="https://cloud.githubusercontent.com/assets/1622331/10699851/6a0aa830-797f-11e5-88dd-e0ae3ae2c882.png">
- [ ] Explore page sh

[2016-03-17 21:03] travislbrundage opened #1392 "Integrate Favorites into Explore Page"
Bring back the favorite button on the tile cards.

[2016-03-17 21:26] travislbrundage commented on #1194
Separated this out into multiple issues.

[2016-03-17 22:09] #1357 closed

[2016-03-17 22:20] travislbrundage commented on #1328
I think this is an extremely simple change if I understand it right. I've added to the ResourceBase model:

`created = models.DateTimeField(auto_now_add=True)`

However, it will require a migration for previously created MapStories and StoryLayers.

[2016-03-18 00:10] davisc commented on #1328
Take a look at the resourcebase model, there is an existing date field that I believe is being used as the created date, can you confirm? Although I agree your change is more explicit.

Sent from my iPhone

[2016-03-18 00:13] travislbrundage commented on #1328
Yeah, I edited my comment when I realized that was reflecting that. Although it appears as though you can change it.

I'm guessing we just want to add a "Created on [date]" on the detail page?

[2016-03-18 03:25] Coop56 commented on #1370
This one is already on demo - we should be able to close this out now.

[2016-03-18 14:37] davisc commented on #1328
@travislbrundage  and the search cards

[2016-03-18 15:24] jonpmarino commented on #1371
@davisc confirmed on demo. Looks good! We should apply same default to layer playback in explore, if the layer isn't uploaded with its own preferred style in uploader. Can either edit this issue or create a new one for that.

[2016-03-18 15:39] reynalddizon commented on #1371
does the current uploader recognize the style file (sld)?

[2016-03-18 15:48] jonpmarino commented on #1328
I don't know if we need it on the card itself. @reynalddizon ? Judging from the original mockup, having the date will be great for enabling the "date" filter, but not sure we need to expose the date itself on card. Yes to layer detail page
![explore](https://cloud.githubusercontent.com/assets/2573761/13883352/5b99c526-ecff-11e5-937d-ab1c232d430b.jpg)

[2016-03-18 15:51] reynalddizon commented on #1328
i would only agree to put it in the cards if we find a way to make the date attribute human readable, not the one that looks like 1999-12-12'T'01:01:01.

[2016-03-18 16:05] travislbrundage commented on #1328
Converting it to human readable shouldn't be an issue. So on both the detail and card, I'll put something like:

Created Jan 1st, 2015

[2016-03-18 20:05] Coop56 commented on #1398
@JWileczek Can you take a look at this?

[2016-03-18 21:21] Coop56 commented on #1389
@jonpmarino - We made some real progress on this today thanks to a lot of help from @JWileczek.  There was a lot of work we had to do to actually differentiate between storyLayers and baseMaps.  The dropdown is now working as intended as far as only showing baseMaps.  Now I have to set it up so that the only baseMap set to visible is the one currently selected and then fix a bug where 2 of the 5 b

[2016-03-19 01:49] Coop56 commented on #1382
@JWileczek is working on a basic implementation of the View History section and from there I'll be styling it to fit with our sidebar.

@davisc and @JWileczek did you guys talk about the metadata field editing?  Last I heard we needed to figure out which fields the user should be able to and should not be able to edit.

[2016-03-19 02:17] Coop56 commented on #1389
@jonpmarino I just sent up a commit that gets this mostly working.  The commit is at https://github.com/MapStory/MapLoom/commit/a7ed2e51190718a9fa47e07fbad5064d861223e8.  The two bugs are the layer list itself is still showing 2 of the basemaps even though we wrote a function to filter those out and the fact that the dropdown menu does not by default select the default basemap that shows up on the

[2016-03-19 05:40] Coop56 commented on #1399
@jonpmarino This is done.  Commit is at https://github.com/MapStory/MapLoom/commit/d8f40f41571758088505e51e34e796373f1f410f.

[2016-03-19 05:44] Coop56 commented on #1098
@jonpmarino You said this existed at one point right?  This modal?  Any idea where the template file for that may be?

[2016-03-19 20:48] davisc commented on #1345
Since a modal pops up rather than a page redirect, I opted to hide the links if the user is not authenticated.

[2016-03-19 21:46] jj0hns0n commented on #1387
@davisc not sure this has been implemented??

[2016-03-20 05:33] #1328 closed

[2016-03-20 14:59] jj0hns0n commented on #1400
@travislbrundage as discussed with Jon, we do NOT want to have organizations actually login (i.e. they should NOT act like a user account). We can add the social links for twitter and facebook to the group profile. For favorites, journals and messages, we need to find a way to associate these with the group.

[2016-03-20 15:01] jj0hns0n commented on #1400
@jonpmarino Can you confirm that we actually need a message inbox for organizations? Doesnt really seem necessary to me.

[2016-03-20 15:02] jj0hns0n commented on #1400
Also curious about the necessity of an organization favorites. How is this any different than just adding the resource to the organizations collection?

[2016-03-20 15:51] jonpmarino commented on #1400
Hi guys, given the new Collections model, we don't need to login as organization. Users will login as themselves and be able to administrate the org page they have admin rights to. @jj0hns0n correct? I don't think now that a message module for the organization is a priority since users can message the org page admin user. Perhaps as a future goal. Favorites is no longer necessary either, as long a

[2016-03-20 17:15] jj0hns0n commented on #1400
This all sounds about right, lets discuss tomorrow. I think the only
outstanding thing here is to be able to add Journal articles to a
collection.

On Sun, Mar 20, 2016 at 8:51 AM, Jonathan Marino <notifications@github.com>
wrote:

[2016-03-20 19:26] travislbrundage commented on #1400
Thanks for the corrections guys - updating the issue to reflect it. I had some misunderstandings about what the organizations were actually doing.

[2016-03-21 16:26] davisc commented on #1390
@jonpmarino moving this down the line as we need to complete composer before we try to implement the exclusive edit interface.

[2016-03-21 16:31] davisc commented on #1397
Dup #1282

[2016-03-21 16:44] Coop56 commented on #1389
This task is complete, there is a known bug that I am ticketing in a new issue.

[2016-03-21 16:53] Coop56 commented on #1382
@davisc @jonpmarino @reynalddizon This ticket should be completed.  @JWileczek pushed up the code for View History and I just finished off the View StoryLayer Details setup for now.  There may be some additional frontend work I need to do on View History but until this code is on Beta I can't really test it, as local box layers do not have history on them.

[2016-03-21 16:58] Coop56 commented on #1098
@davisc or @travislbrundage Do you know where this old code lives?

[2016-03-21 17:02] davisc commented on #1389
#1402

[2016-03-21 17:27] Coop56 commented on #982
@davisc Do you know where the old initial work that was completed is?

[2016-03-21 17:42] #1344 closed

[2016-03-21 17:56] jj0hns0n commented on #1344
@davis guess we can open other tickets for specific requirements on notifications. At this point, notifications are basically enabled, but we need to still do work to meet the requirements as specified here. I prefer small discrete tickets, so happy to just file new ones after discussing with @jonpmarino

[2016-03-21 18:00] jj0hns0n commented on #1404
Note the settings are here http://demo.mapstory.org/notifications/settings/
... need to be hooked up in the profile or in the user dropdown menu.

On Mon, Mar 21, 2016 at 10:45 AM, Jonathan Marino <notifications@github.com>
wrote:

[2016-03-21 18:07] davisc commented on #1344
@jj0hns0n yes opened #1404

[2016-03-22 18:08] davisc commented on #982
@Coop56 https://github.com/MapStory/mapstory-geonode/blob/7e91d3d21bf39418417e270a273a881cc9e64672/mapstory/static/mapstory/js/editor_tour.js

[2016-03-22 18:20] davisc commented on #1098
@Coop56 https://github.com/MapStory/mapstory-geonode/blob/7e91d3d21bf39418417e270a273a881cc9e64672/mapstory/templates/maps/editor_tour.html

[2016-03-22 20:06] Coop56 commented on #982
Thanks @davisc I'm working on this now.

[2016-03-22 20:06] Coop56 commented on #1098
Great thanks @davisc - planning to work on this after I get hopscotch working to a basic level.

[2016-03-23 16:12] davisc commented on #218
This is resolved by using the Geonode style api as a proxy to geoserver as admin.

[2016-03-23 16:12] #218 closed

[2016-03-23 17:25] jonpmarino commented on #1402
Add a layer seems to add it to the basemap drop down
![0909](https://cloud.githubusercontent.com/assets/2573761/13994336/ae57ff54-f0fa-11e5-83e6-18e6725022cd.jpg)

[2016-03-28 19:06] JWileczek commented on #1369
Time picker improvements moved to separate issue.
#1413

[2016-03-28 19:50] #1392 closed

[2016-03-28 23:06] jonpmarino commented on #1218
For the "receive the monthly digest of projects and updates", the idea solution would probably be to have a way to filter users in django-admin by clicked yes. As admins, we can then bulk download a .csv of these accounts and add the emails to our mailchimp

For "I agree with Terms and Conditions", the "Join MapStory" button should not work unless that is checked.

[2016-03-28 23:26] jonpmarino commented on #1391
Closing due to repeat of #1401

[2016-03-28 23:26] #1391 closed

[2016-03-28 23:28] jonpmarino commented on #1364
closing. this is complete.

[2016-03-29 01:13] Coop56 commented on #1364
@jonpmarino The only thing not complete here is animation but that's fairly low priority I think.

[2016-03-29 03:22] jonpmarino commented on #1364
agreed. renaming and moving forward.

[2016-03-29 10:24] davisc commented on #1402
<img width="1146" alt="screen shot 2016-03-29 at 5 24 12 am" src="https://cloud.githubusercontent.com/assets/947403/14105010/8aae7f74-f56e-11e5-9a0c-ca6d25803a58.png">

[2016-03-29 19:01] Coop56 commented on #982
I just pushed my latest changes which include a fully functional 26 step tour that closes out this issue.

[2016-03-29 19:48] Coop56 commented on #1098
@davisc @reynalddizon @jonpmarino The welcome modal is live and working.  I'm sure there will be some CSS adjustments you want but this should close this issue.  If you have changes to make please ticket a new issue.  Let me know if you guys have any questions.

[2016-03-29 21:32] Coop56 commented on #1407
@jonpmarino I sent in a pull request for this based on @davisc 's feedback.  I think it should be good to go.

[2016-03-29 22:00] Coop56 commented on #1366
@reynalddizon I'm not sure what you mean by handle chapter transition gracefully as clicking between chapters is instantaneous for me.  The other two items are complete as per my latest push @jonpmarino @davisc.

[2016-03-29 22:12] jonpmarino commented on #1366
Maybe what is referred to in #1412?

[2016-03-29 22:29] reynalddizon commented on #1366
it's basically making sure that the right elements are being displayed depending on what chapter is active on the sidebar. I just tested beta and it looks like this one is okay now. so I'm checking this one off the list.

[2016-03-29 22:33] reynalddizon commented on #1098
@Coop56 how do you access the welcome modal?

[2016-03-29 23:16] Coop56 commented on #1098
It pops up as soon as you go to Composer - it looks like it hasn't been pushed to demo yet.

[2016-03-30 16:45] jonpmarino commented on #1382
Re-opening until "View History" is complete

[2016-03-30 17:40] Coop56 commented on #1407
Showed this on the meeting today - this issue can be closed.  @davisc @jonpmarino

[2016-03-30 17:43] Coop56 commented on #1366
@reynalddizon Great.  @jonpmarino @davisc Please review and close this issue.

[2016-03-30 17:45] Coop56 commented on #1382
@JWileczek What's the status of View History?  Last time we spoke about it you were working on getting it to display and I was going to take it from them and finish the frontend styling based on @reynalddizon's mockup.  Is this code already live and ready for me somewhere?

[2016-03-31 04:17] jj0hns0n commented on #1416
@rob-metalinkage the instructions for running the tests are here
https://github.com/ProminentEdge/django-osgeo-importer

You can git clone this repo and pip install -e it into your active
virtualenv to to development.

On Wed, Mar 30, 2016 at 8:50 PM, rob-metalinkage <notifications@github.com>
wrote:

[2016-03-31 07:12] rob-metalinkage commented on #1416
I tried this but wasnt sure how to test if it was working from within the context of a mapstory build

basic noob - does pip install -e  uninstall the previously installed version?

AFAICT the instructions for provisioning will need to be updated to do this then edit the requirements.txt file. Is there an obvious way to control this choice closer to the other configuration options in scripts/provi

[2016-03-31 11:26] garnertb commented on #1416
@rob-metalinkage: I take the opposite approach than the one you're suggesting.  Instead of running importer tests in the mapstory VM, I run importer tests in the importer VM and mapstory tests in the mapstory VM.  This allows me to very quickly identify if the source of the problem is the core uploader or the mapstory build.

Here is my workflow:
1) An import fails in mapstory.
2) Download the fai

[2016-03-31 12:44] rob-metalinkage commented on #1416
Thanks for the tips. I think that makes sense in terms of the importer functionality - but I still need to get a handle on the extension points for the process within the MapStory space.
What I'd really like to test is the propagation of meaningful diagnostics back to the user in MapStory - and then when I have something working its going to be extracting/guessing additional metadata during upload

[2016-03-31 13:32] garnertb commented on #1416
I'd recommend reading up on Django application conventions which expose plenty of extension points for you to inject this functionality if it has to be custom to mapstory.  The importer ships with custom handlers that developers can enable based on their specific application needs, implementing this as one of those handlers may also be a good option.

[2016-03-31 14:44] JWileczek commented on #1381
Calling this closed as we are waiting on the pause portion of this.

[2016-03-31 14:44] JWileczek commented on #1408
This is working on demo and beta now I believe

[2016-03-31 16:13] #1098 closed

[2016-03-31 16:18] jonpmarino opened #1420 "Add before and after "dif" in edit history"
Maploom edit history had a div icon on edits that showed the before and after of the change. Need to re-incorporate

[2016-03-31 16:20] zrouse-Boundless commented on #1420
![image](https://cloud.githubusercontent.com/assets/11614809/14182775/8245a43c-f732-11e5-954a-5da138c595c6.png)

[2016-03-31 16:21] reynalddizon commented on #1420
[view_history.pdf](https://github.com/MapStory/mapstory/files/198054/view_history.pdf)

[2016-03-31 17:37] jonpmarino commented on #1420
gracias.

[2016-04-02 04:17] davisc commented on #1202
Reopened issue to add support for media files. I migrated all uploaded data to s3 using the following command `python manage.py sync_media_s3 --gzip --force --dir '/var/lib/mapstory/'` which will allow beta.mapstory.org and mapstory.org to share the same media files.

[2016-04-02 11:26] davisc commented on #1202
- [x] Migrate user uploads to s3
- [x] Enforce storing static files and media files in different subdirectories of the mapstory s3 bucket

[2016-04-03 14:45] davisc commented on #1202
I've disabled this change due to the bug logged here.
https://github.com/ProminentEdge/django-osgeo-importer/issues/6

[2016-04-04 07:05] davisc commented on #1363
#1376 duplicate

[2016-04-04 07:05] #1363 closed

[2016-04-04 15:55] jonpmarino commented on #982
@Coop56 @davisc @reynalddizon I do not see the tour in demo.  Could be a browser issue. Can someone else confirm?

[2016-04-04 15:56] jonpmarino commented on #1402
Also need to get OSM back in there based on @milafrerichs work, #1336

[2016-04-04 16:31] jonpmarino commented on #1421
From @davisc, now clicking the title generates mapstory viewer in new window. Not yet final workflow, but allows users to see their mapstory without going to admin.

[2016-04-04 18:12] jonpmarino opened #1422 "Enable user to add new attributes to community-edited layers after point of upload or creation"
Currently it is not possible to add a new attribute to a StoryLayer after it has been created or uploaded. So, for example, if I have a StoryLayer of "beer breweries" and I begin with a few attributes, like "Brewery Name", "Start Date" and "Brewery Founder"...but during the course of the research I realize I need to collect "Type of Beer", I cannot do so. Letting the StoryLayer owner add or modify

[2016-04-06 01:28] travislbrundage commented on #1358
I believe this issue is finished and can be closed - correct me if I am wrong?

[2016-04-06 14:07] Coop56 commented on #1410
@davisc @jonpmarino @reynalddizon This is now done.  You can move chapters around while maintaining all of their content and the Chapter number updates accordingly.  The new order is being saved on both the frontend and backend.

[2016-04-06 14:17] jonpmarino commented on #1410
score!

[2016-04-06 15:18] #1347 closed

[2016-04-06 15:26] JWileczek commented on #1396
Reordering storylayers works via drag on navicon

[2016-04-06 18:48] JWileczek opened #1427 "Create thumbnails for new MapStory objects in composer"
Generate thumbnails for new MapStory objects in composer, with new MapStory objects showing up on explore page there are no thumbnails generated for these objects. Going to use the thumbnail of the first chapter of the MapStory as the thumbnail for the MapStory itself.

[2016-04-07 23:23] jonpmarino commented on #1410
confirmed on demo. closing.

[2016-04-09 04:22] davisc commented on #1430
@jonpmarino is this still an issue? I was able successfully reset my password.

[2016-04-11 01:34] Coop56 commented on #1431
So I went to go fix this really quick while I was thinking about another issue and the terms and conditions link is actually already setup to open in a new window.  So I'm not sure why it's not happening.  It's set to open in _blank like it should be.

[2016-04-11 14:23] jonpmarino commented on #1340
Confirmed basic functions work. A few clean-up tasks:

- [ ] Masked Layer name does change legend, but it looks like original layer name still appears at the header of the InfoBox. Easiest solutions seems to be to remove appears of layer name in infobox altogether.
- [ ] on sidebar, resize functions so they fit properly
- [ ] remove old "masking" options that aren't operable.
![grabgrab](https://c

[2016-04-11 14:47] #1306 closed

[2016-04-11 14:58] reynalddizon commented on #1340
comment on Jon's first item. I think we should not remove the layer name from the infobox. The layer name is especially important if you have multiple layers loaded on the map and if you click on a stack of features, you would know from which layer the information is pulled from.

[2016-04-11 15:14] jonpmarino commented on #1340
@reynalddizon fine. Good point. @milafrerichs if making the StoryLayer name also update on the Infobox is a huge effort, then eliminate. If you can quickly make it happen, then follow Rey's lead. Either way, the most important thing is consistency. Can't have the old layer name appearing if the storyteller has masked it for the legend.

[2016-04-11 15:16] jonpmarino commented on #1430
I have confirmed working for me too. Am closing until/unless another user raises the issue.

[2016-04-11 15:32] jonpmarino commented on #1387
@jj0hns0n this is done, no?

[2016-04-11 15:37] jj0hns0n commented on #1387
@simod added this. Will let him confirm and close.

On Mon, Apr 11, 2016 at 8:32 AM, Jonathan Marino <notifications@github.com>
wrote:

[2016-04-11 15:38] simod commented on #1387
yup, but can't close

[2016-04-11 15:41] jonpmarino commented on #1387
thanks guys

[2016-04-11 15:45] jonpmarino commented on #1192
Currently forms for all appear. Unique and Simple show persist. Choropleth and Graduated do not.

[2016-04-11 19:13] jonpmarino commented on #1254
client side support

[2016-04-11 19:26] #1382 closed

[2016-04-11 22:38] jonpmarino opened #1438 "Time slider in composer freezes"
This may be adequately ticketed in other issues, but want to make sure we have it flagged as its a blocker for composer testing.

Clicking and sliding the timeslider on layers in composer freezes playback of the storylayer features.

The repeat button is disabled as well, which prevents user from going back to features if the aggressive scrubbing doesn't work.

[2016-04-11 23:05] jonpmarino commented on #1420
good stuff. @reynalddizon will edit css on this pop-up to look more like mapstory

[2016-04-12 01:56] jonpmarino commented on #1340
@milafrerichs latest cleanup looks good. @reynalddizon probably need to figure out a css solution for getting the masking stuff to fit in that sidebar. Maybe the mask text box goes under the original Attribute title, and the check box next to it?
![grab12345](https://cloud.githubusercontent.com/assets/2573761/14447718/3e2af638-0030-11e6-83a4-b6d79c56ff7f.jpg)

[2016-04-12 02:59] Coop56 commented on #1420
Yep this is done other than styling and any bug fixing.  I'll work with @reynalddizon to implement the CSS.

[2016-04-12 03:00] Coop56 commented on #1374
@reynalddizon As soon as you have these ready I'll get them implemented.

[2016-04-12 15:42] davisc commented on #1438
close duplicate

[2016-04-12 15:42] #1438 closed

[2016-04-12 17:29] travislbrundage commented on #1440
Blocked by https://github.com/MapStory/mapstory/issues/1361

[2016-04-12 17:53] travislbrundage commented on #1361
Might be fixed by changing to /api/owners instead of /api/profiles

Might also work to just use a lower value for `limit` when using /api/profiles/ in the search page (results in more pages to scroll through)

[2016-04-12 18:47] Coop56 commented on #1445
While I was already changing everything inside the StoryLayers section for Issue #1433 I went ahead and did this at the same time.  This issue can be closed @jonpmarino

[2016-04-12 18:49] Coop56 commented on #1433
The changes for this are all on demo now and working as intended.  This issue can be closed.  @reynalddizon @jonpmarino

[2016-04-12 19:48] jonpmarino commented on #1445
confirmed and closing!

[2016-04-12 21:58] jonpmarino commented on #1420
looks good!

![dif](https://cloud.githubusercontent.com/assets/2573761/14476840/2e3ebd06-00d8-11e6-9223-0134486db822.jpg)

[2016-04-12 22:18] davisc commented on #1450
@jonpmarino this is because edit mode is not supported. This will be fixed with the issue @Coop56 is working on.

[2016-04-12 22:23] jonpmarino commented on #1450
Ok. That makes sense for the "edit" button on storylayer detail. Also true for "compose mapstory"? The assumed workflow there is "compose mapstory" from storylayer detail launches composer with that storylayer added to the mapstory project in chapter 1.

[2016-04-13 00:09] #1386 closed

[2016-04-13 00:11] davisc commented on #1435
https://github.com/MapStory/mapstory-geonode/commit/1e0c400ea9c39d63a78ff929c5750f7599ae3861

[2016-04-13 00:22] travislbrundage commented on #1102
Closed by https://github.com/MapStory/mapstory-geonode/pull/187

[2016-04-13 00:22] #1102 closed

[2016-04-13 00:22] travislbrundage commented on #1400
Closed by https://github.com/MapStory/mapstory-geonode/pull/187

[2016-04-13 00:51] davisc commented on #1386
http://demo.mapstory.org/story/365 Layer title masked with 'Walmart Stores'

[2016-04-13 00:54] davisc commented on #1386
<img width="1351" alt="screen shot 2016-04-12 at 7 52 29 pm" src="https://cloud.githubusercontent.com/assets/947403/14479825/2c4e6270-00e8-11e6-862f-dc945c3d34dc.png">

Timeline also displays masked value for Layer Title. Custom style applied to the layer as well.

[2016-04-13 01:38] jonpmarino commented on #1386
outstanding!

[2016-04-13 01:45] jonpmarino commented on #1428
this is important, since if a user in composer clicks anything in the header (such as quick search) they will be taken out of their mapstory project.

[2016-04-13 01:46] jonpmarino commented on #1231
Closing, as this is based on old maploom, unless someone seems utility in leaving it open.

[2016-04-13 01:46] #1231 closed

[2016-04-13 14:14] jonpmarino commented on #1424
looks great.

[2016-04-13 14:29] jonpmarino commented on #1443
looks great.

[2016-04-13 14:53] jonpmarino opened #1452 "Change "Edit StoryLayer Settings" to "Update StoryLayer Settings""
The word "edit" there is confusing for a user if they are wanting to contribute edits. We should try and only use the word "edit" when we are referring to editing a StoryLayer with versioned editing.
![edittodelete](https://cloud.githubusercontent.com/assets/2573761/14497784/ff5e2aba-0165-11e6-8313-33d6c92eb159.jpg)

[2016-04-13 16:47] jonpmarino commented on #1442
I think @JWileczek fixed this. Correct?

[2016-04-13 16:47] jonpmarino commented on #1420
Can this be closed? looks good on demo. @reynalddizon ?

[2016-04-13 16:51] jonpmarino commented on #1449
@davisc this is a front-end workflow, but may need to be thought through with what you're doing on styling persistence, returning to saved draft mapstories later, etc. Just flagging. Not sure.

[2016-04-13 16:53] Coop56 commented on #1442
Yep this can be closed.

[2016-04-13 18:42] ingenieroariel opened #1455 "Storyscapes repo"
My suggestion would be to create a fork of mapstory-geonode called storyscapes and follow a very strict branching strategy:
1. Both repos have a master branch that corresponds to mapstory-geonode
2. Both repos have a storyscapes branch that corresponds to main storyscapes development

mapstory-geonode:storyscapes may not be necesary - but I do think that in order to have a good fork in the medium

[2016-04-13 20:13] jonpmarino opened #1456 ""Compose MapStory" from StoryLayer detail page does not load layer data"
Correct workflow is that StoryLayer is loaded in composer as first layer of Chapter 1

Currently. layer does not load if clicking "compose mapstory".

![gab5678](https://cloud.githubusercontent.com/assets/2573761/14545285/d5cca35a-026b-11e6-821e-9ee4582bebbd.jpg)

![nostorylayer](https://cloud.githubusercontent.com/assets/2573761/14545277/ca7bbbc6-026b-11e6-95ae-447a0285f178.jpg)

[2016-04-13 20:42] Coop56 commented on #1390
This is done but has two errors left on it.  @JWileczek and I worked through a bunch of errors to get this working, but there's a few remaining that you may need to look at @davisc.

[2016-04-14 14:23] JWileczek commented on #1439
@jonpmarino Can this closed should be fixed.

[2016-04-14 14:27] JWileczek commented on #1418
@reynalddizon @jonpmarino Playback should now pause when you go to edit, add, or switch chapters.

[2016-04-14 14:30] reynalddizon commented on #1418
@JWileczek does the playback also pause when you click on a feature (get feature info)?

[2016-04-14 15:04] jonpmarino commented on #1439
Yup, no longer getting this error.

[2016-04-14 15:58] JWileczek commented on #1418
@reynalddizon currently no but I can make that happen as well if you would like

[2016-04-14 16:00] reynalddizon commented on #1418
@jonpmarino do we want users to interact with the map (get feature info) while the mapstory is playing?

[2016-04-14 16:01] jonpmarino opened #1457 "Changing Name in Profile doesn't update Name in Card"
Changed username form MapStory Admin to Marco Polo. Still shows up as MapStory Admin on card.

![grabprofile](https://cloud.githubusercontent.com/assets/2573761/14534741/80b0da9a-0238-11e6-896c-0610ee1a0e4c.jpg)

[2016-04-14 16:04] jj0hns0n commented on #1457
Probably need to rebuild the index. I dont think its rebuilt on every save.

On Thu, Apr 14, 2016 at 9:01 AM, Jonathan Marino <notifications@github.com>
wrote:

[2016-04-14 17:41] jonpmarino opened #1458 "newly uploaded StoryLayers not appearing on user profiles"
Reported from RFT UserSnap #16. Also confirmed on demo and beta.

Newly uploaded StoryLayers are not appearing on Profile accounts.
![grabprofile](https://cloud.githubusercontent.com/assets/2573761/14537825/a853eba6-0246-11e6-9db5-75acd8a344fc.jpg)

![grabprofiles2](https://cloud.githubusercontent.com/assets/2573761/14537790/7f066efe-0246-11e6-9801-16e8cfb0b732.jpg)

[2016-04-14 17:47] Coop56 commented on #1420
Pretty sure this issue should be closed.  @jonpmarino @reynalddizon

[2016-04-14 17:48] Coop56 commented on #1390
This issue can be closed - there's a new ticket for @davisc to look into these errors on both the Composer Mapstory and Edit buttons.  @jonpmarino @reynalddizon

[2016-04-14 17:59] jonpmarino commented on #1346
This is fixed. Thanks @simod @davisc . Remaining issue is #1458

[2016-04-14 17:59] #1346 closed

[2016-04-14 18:02] jonpmarino commented on #1390
Confirmed and closing!

[2016-04-14 18:04] ChristopherTucker commented on #1418
I am fine with that.  But, users will quickly realize that the feature that they want info on might just disappear on them unless they hit pause.

Chris
703-981-9373

[2016-04-14 18:15] jonpmarino commented on #1418
@JWileczek said that was a quick change so I'm fine with it @reynalddizon .

[2016-04-14 18:31] jonpmarino commented on #1420
confirmed and closing.

[2016-04-14 18:31] #1420 closed

[2016-04-14 21:20] jonpmarino commented on #1430
this is still an issue. @simod reproduced. I did too on new jondoe user account

[2016-04-14 21:29] jonpmarino commented on #1430
notification of reset is coming to email, but new password doesn't work.
![grabpasswordresetnotice](https://cloud.githubusercontent.com/assets/2573761/14544321/7d7f37da-0266-11e6-8741-a0938d20a277.jpg)

[2016-04-14 22:17] jonpmarino commented on #1454
appears to be resolved.